{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 %}

{% block page_title %}{% trans "Login" %}{% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <form action="" method="post" class="form-horizontal register" role="form">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {% bootstrap_form form layout="horizontal" %}
        {% trans "Login" as submit_label %}
        {% trans "Lost password" as reset_label %}
        {% trans "Register" as register_label %}
        {% url 'password_reset' as reset_link %}
        {% url 'register' as register_link %}

        {% buttons submit=submit_label reset=reset_label reset_link=reset_link layout='horizontal' %}
        <a class="btn btn-default" href="{{ register_link }}">{{ register_label }}</a>
        {% endbuttons %}
        </form>
    </div>
</div>
{% endblock content %}

{% block extrafooter %}
{% endblock extrafooter %}