{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "profile" %} {{  object.username }}{% endblock %}

{% block content %}
<h1>{% trans "profile" %} {{ object.username }}</h1>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<p>profile zeugs...</p>

			<div id="actions">{% if user.is_authenticated %}
				<h3>{% trans "Actions" %}</h3>
				<ul>
					<li>{% if user.is_authenticated %}<a href="{% url 'skillshare:add-for-owner' object.username %}">{% trans 'Add skill' %}</a>{% endif %}</li>
				</ul>
			{% endif %}</div>

			<div id="references">
				<h3>{% trans "References" %}</h3>
				{% include 'references/fragments/list.html' %}
			</div>

		</div>
		<div class="span9" id="skills">
			<h2>{% trans "Skills" %}</h2>
			{% include 'skillshare/fragments/list.html' %}
		</div>
	</div>
</div>
{% endblock %}
