Django==1.5.5
South==0.8.4
Pillow==2.3.1
Fabric==1.8.3
fabric-virtualenv==0.2.1

psycopg2==2.5.2
django-cms==2.4.3
django-userprofiles==0.4
easy-thumbnails==1.4
-e git+git://github.com/Markush2010/django-bootstrap3.git@develop#egg=django-bootstrap3
-e git+git@git.sinnwerkstatt.com:cosinnus/cosinnus-core.git@cd6fd34392f8053a93eb9659c284b21adc8cd2c5#egg=cosinnus
django-sekizai==0.7
suit==2.0.2
django-filer==0.9.5
cmsplugin-filer==0.9.5
django-recaptcha==0.0.9
django-ckeditor-updated==4.2.8