Django==1.5.8
South==0.8.4
Pillow==8.2.0
Fabric==1.8.3
fabric-virtualenv==0.2.1

django-cms==2.4.3
django-userprofiles==0.4
easy-thumbnails==1.4
-e git+git://github.com/Markush2010/django-bootstrap3.git@develop#egg=django-bootstrap3
-e git+https://github.com/ecobasa/cosinnus-core.git#egg=cosinnus
-e git+https://github.com/ecobasa/cosinnus-message.git#egg=cosinnus-message
-e git+https://github.com/ecobasa/cosinnus-todo.git#egg=cosinnus-todo
-e git+https://github.com/ecobasa/cosinnus-etherpad.git#egg=cosinnus-etherpad
-e git+https://github.com/ecobasa/cosinnus-event.git@ecobasa#egg=cosinnus-event
-e git+https://github.com/ecobasa/cosinnus-note.git#egg=cosinnus-note
-e git+git://github.com/sinnwerkstatt/django-osm-field.git@gh-pages#egg=django-osm-field
django-sekizai==0.7
django-suit==0.2.8
django-filer==0.9.5
cmsplugin-filer==0.9.5
django-recaptcha==0.0.9
djangocms-text-ckeditor<2
Whoosh==2.6.0
django-haystack==2.1.0
django-honeypot==0.4.0
django-contact-form==1.0
# workaround to missing dependencies in cosinnus:
django-tinymce==1.5.2
-e git+git://github.com/bmispelon/django-multiform.git@ccc958db8daeba6044ec18c5ff6b158bc6a3d135#egg=django-multiform
django-widget-tweaks==1.3.0
pytz==2015.6
django-select2==4.2.2
django-extensions==1.5.9
djangorestframework==3.2.4
django-appconf==1.0.1
django-polymorphic==0.7.2
etherpad-lite==0.2.1
django-taggit==0.17.1
django-postman==3.1.0
django-extra-views==0.7.1
django-classy-tags==0.6.2
requests==2.8.0	
html5lib==0.9999
django-settings-export