{% extends "base.html" %}
{% load static i18n bootstrap3 ecobasa_community thumbnail embed_video_tags %}


{% block page_title %}{% trans "Search | ecobasa.org" %}{% endblock page_title %}


{% block content %}
  <h1>Search the gift-economy network</h1>
  <h2>{% trans "Find places, people, skills, products, materials, tools, workshops, everything you are looking for :)" %}</h2>

  <form method="get" action="." class="form-search search" role="form">
    <div class="input-group input-group-lg">
      <input type="text" class="input-block-level search-query form-control" id="id_q" name="q" placeholder="{% trans "Enter search term" %}"{% if form.q.value %} value="{{ form.q.value }}"{% endif %}>
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> {% trans "Search" %}</button>
      </span>
    </div>
  </form>
  <br />
  {% if paginator.count %}
    <div class="alert alert-success">
      <p>{% blocktrans with query=query count num=paginator.count %}{{ num }} result for "{{ query }}".{% plural %}{{ num }} results for "{{ query }}".{% endblocktrans %}</p>
    </div>
  {% else %}
    {% if query %}
      <div class="alert alert-warning">
        <p>{% blocktrans with query=query %}No results found for "{{ query }}".{% endblocktrans %}</p>
      </div>
    {% else %}
      <div class="alert alert-danger">
        <p>{% trans "No search term given!" %}</p>
      </div>
    {% endif %}
  {% endif %}

  {% if query %}
    {% for result in page.object_list %}
    <article class="search-result row">
      <div class="col-xs-12 col-sm-12 col-md-3">

        {% if result.model_name == 'ecobasacommunityprofile' %}
          <span class="type glyphicon glyphicon-home"></span>
        {% elif result.model_name == 'ecobasauserprofile' %}
          <span class="type glyphicon glyphicon-user"></span>
        {% elif result.model_name == 'todoentry' %}
          <span class="type glyphicon glyphicon-tasks"></span>
        {% elif result.model_name == 'note' %}
          <span class="type glyphicon glyphicon-file"></span>
        {% elif result.model_name == 'event' %}
          <span class="type glyphicon glyphicon-calendar"></span>
        {% endif %}

        {% if result.model_name == 'ecobasacommunityprofile' or result.context.model_name == 'ecobasacommunityprofile' %}
        <a class="community-image" href="{% url 'community-detail' group=result.slug %}">
          {% if result.image %}
            {% thumbnail result.image 500x300 upscale crop as thumb %}
            <img class="img-responsive img-rounded center-block" src="{{ thumb.url }}" alt="{{ result.name }}" width="{{ thumb.width }}" />
          {% else %}
            <span class="glyphicon glyphicon-home"></span>
          {% endif %}
        </a>
        {% elif result.model_name == 'ecobasauserprofile' or result.context.model_name == 'ecobasauserprofile' %}
          <a href="{% url 'pioneer-detail' username=result.username %}">
          {% if result.avatar %}
            {% thumbnail result.avatar 400x400 upscale crop as thumb %}
            <img class="img-responsive avatar center-block" src="{{ thumb.url }}" alt="{{ result.username }}" width="{{ thumb.width }}" />
          {% else %}
            <img class="img-responsive avatar" src="{% static 'img/avatar.png' %}" alt="{{ result.username }}" />
          {% endif %}
          </a>
        {% elif result.model_name == 'note' %}
          <a href="{% url 'cosinnus:note:note' group=result.group_slug slug=result.slug %}">
            {% if result.video %}
              <div class="video-responsive">
                {% video result.video "tiny" is_secure=True %}
              </div>
            {% elif result.image %}
            {% thumbnail result.image 400x400 upscale crop as thumb %}
              <img class="img-responsive img-rounded center-block" src="{{ thumb.url }}" alt="{{ result.title }}" width="{{ thumb.width }}" />
          {% endif %}
          </a>
        {% elif result.model_name == 'event' %}
          <a href="{% url 'cosinnus:event:entry-detail' group=result.group_slug slug=result.slug %}">
            {% if result.image %}
            {% thumbnail result.image 400x400 upscale crop as thumb %}
              <img class="img-responsive img-rounded center-block" src="{{ thumb.url }}" alt="{{ result.title }}" width="{{ thumb.width }}" />
            {% endif %}
          </a>
        {% endif %}
      </div>

      <div class="col-xs-12 col-sm-12 col-md-1">
        <ul class="community-details text-center">
        {% if result.community_type = 'e' %}
          <li><a href="" data-toggle="tooltip" title="Ecovillage"><i class="fa fa-home"></i></a></li>
        {% elif result.community_type = 'c' %}
          <li><a href="" data-toggle="tooltip" title="Established (+4 years)"><i class="fa fa-home"></i></a></li>
        {% elif result.community_type = 'h' %}
          <li><a href="" data-toggle="tooltip" title="Houseproject"><i class="fa fa-home"></i></a></li>
        {% elif result.community_type = 'f' %}
          <li><a href="" data-toggle="tooltip" title="Land Offer"><i class="fa fa-home"></i></a></li>
        {% endif %}
        {% if result.community_status = 's' %}
          <li><a href="" data-toggle="tooltip" title="Starting Project (first years)"><i class="fa fa-hand-rock-o"></i></a></li>
        {% elif result.community_status = 'e' %}
          <li><a href="" data-toggle="tooltip" title="Established (+4 years)"><i class="fa fa-thumbs-up"></i></a></li>
        {% elif result.community_status = 'l' %}
          <li><a href="" data-toggle="tooltip" title="Land Offer"><i class="fa fa-map-marker"></i></a></li>
        {% endif %}
        {% if result.basic_inhabitants %}
        <li><a href="" data-toggle="tooltip" title="{{ result.basic_inhabitants }} people live there"><i class="fa fa-users"></i>{{ result.basic_inhabitants }}</a></li> 
        {% endif %}
        {% if result.visitors_num %}
          <li><a href="" data-toggle="tooltip" title="{% blocktrans with number=result.visitors_num  %}They can host up to {{ number }} people{% endblocktrans %}"><i class="fa fa-bed"></i>{{ result.visitors_num }}</a></li>
        {% endif %}
        {% if result.contact_country %}
          <li><span class="glyphicon glyphicon-globe"></span> {{ result.contact_country }}</li>
        {% endif %}
        {% if result.country %}
          <li><span class="glyphicon glyphicon-globe"></span> {{ result.country }}</li>
        {% endif %}
        {% if result.city %}
          <li><span class="glyphicon glyphicon-map-marker"></span> {{ result.city }}</li>
        {% endif %}
        </ul>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-8 excerpt">
        {% if result.model_name == 'ecobasacommunityprofile' %}
          <span class="label pull-right"><span class="glyphicon glyphicon-home"></span> {% trans "community" %}</span>
        {% elif result.model_name == 'ecobasauserprofile' %}
          <span class="label pull-right"><span class="glyphicon glyphicon-user"></span> {% trans "Pioneer" %}</span>
        {% elif result.model_name == 'todoentry' %}
          <span class="label pull-right"><span class="glyphicon glyphicon-tasks"></span> {% trans "Task" %}</span>
        {% elif result.model_name == 'note' %}
          <span class="label pull-right"><span class="glyphicon glyphicon-file"></span> {% trans "Blog Article" %}</span>
        {% elif result.model_name == 'Event' %}
          <span class="label pull-right"><span class="glyphicon glyphicon-calendar"></span> {% trans "Event" %}</span>
        {% endif %}

        <h3>
          {% if result.model_name == 'ecobasacommunityprofile' %}
            <a href="{% url 'community-detail' group=result.slug %}" title="">{{ result.name }}</a></h3>
          {% elif result.model_name == 'ecobasauserprofile' %}
            <a href="{% url 'pioneer-detail' username=result.username %}">
            {% if result.first_name or result.last_name %}
              {{ result.first_name }}
              {{ result.last_name }}
            {% else %}
              {{ result.username }}
            {% endif %}
            </a>
          {% elif result.model_name == 'todoentry' %}
            <a href="{% url 'cosinnus:todo:entry-detail' group=result.group_slug slug=result.slug %}">{{ result.title }}</a>
          {% elif result.model_name == 'note' %}
            <a href="{% url 'cosinnus:note:note' group=result.group_slug slug=result.slug %}">{{ result.title }}</a>
          {% elif result.model_name == 'event' %}
            <a href="{% url 'cosinnus:event:entry-detail' group=result.group_slug slug=result.slug %}">{{ result.title }}</a>
          {% else %}
            <a href="{% url 'community-detail' group=result.slug %}" title="">{{ result.name }}</a>
          {% endif %}
        </h3>

        <p>
        {% if result.model_name == 'ecobasacommunityprofile' %}
          {{ result.about|linebreaks|truncatewords_html:50 }}
        {% elif result.model_name == 'event' %}
          {% autoescape off %}{{ result.note|linebreaks|truncatewords_html:50 }}{% endautoescape %}
        {% elif result.model_name == 'note' %}
          {% autoescape off %}{{ result.text|linebreaks|truncatewords_html:50 }}{% endautoescape %}
        {% endif %}
        </p>

        {% if not result.context.field == 'Slug' and result.context.field != 'slug' %}
          <h4>{{ result.context.field }}</h4>
          <div class="well">
          {% if result.model_name == 'ecobasacommunityprofile' or result.context.model_name == 'ecobasacommunityprofile' %}
            <a href="{% url 'community-detail' group=result.slug %}" title="">
          {% elif result.model_name == 'ecobasauserprofile' or result.context.model_name == 'ecobasauserprofile' %}
            <a href="{% url 'pioneer-detail' username=result.username %}">
          {% elif result.model_name == 'todoentry' or result.context.model_name == 'todoentry' %}
            <a href="{% url 'cosinnus:todo:entry-detail' group=result.group_slug slug=result.slug %}">
        {% endif %}
        {% autoescape off %}
          {{ result.context.value }}</a></div>
        {% endautoescape %}
        {% endif %}

        <span class="plus">
          {% if result.model_name == 'ecobasacommunityprofile' %}
          <a href="{% url 'community-detail' group=result.slug %}"><i class="glyphicon glyphicon-plus"></i> View Profile</a>
          {% elif result.model_name == 'ecobasauserprofile' %}
            <a href="{% url 'pioneer-detail' username=result.username %}"><i class="glyphicon glyphicon-plus"></i> View Profile</a>
          {% elif result.model_name == 'todoentry' %}
            <a href="{% url 'cosinnus:todo:entry-detail' group=result.group_slug slug=result.slug %}"><i class="glyphicon glyphicon-plus"></i> View Task</a>
          {% elif result.model_name == 'note' %}
            <a href="{% url 'cosinnus:note:note' group=result.group_slug slug=result.slug %}"><i class="glyphicon glyphicon-plus"></i> View Article</a>
          {% elif result.model_name == 'event' %}
            <a href="{% url 'cosinnus:event:entry-detail' group=result.group_slug slug=result.slug %}"><i class="glyphicon glyphicon-plus"></i> View Event</a>
          {% else %}
            <a href="{% url 'community-detail' group=result.slug %}"><i class="glyphicon glyphicon-plus"></i> View Profile</a>
          {% endif %}
        </span>
      </div>
      <span class="clearfix border"></span>
    </article>
    {% endfor %}


    {% if page.has_previous or page.has_next %}
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a {% if page.has_previous %} href="?q={{ query }}{% if request.GET.models %}&amp;models={{ request.GET.models }}{% endif %}&amp;page={{ 1 }}"{% endif %}>&lt;&lt;</a>
    </li>
    <li>
      <a {% if page.has_previous %}href="?q={{ query }}{% if request.GET.models %}&amp;models={{ request.GET.models }}{% endif %}&amp;page={{ page.previous_page_number }}"{% endif %}>&lt;</a>
    </li>
      {% for num in paginator.page_range %}
        <li{% ifequal num page.number %} class="active"{% endifequal %}>{% ifequal num page.number %}<a class="active">{{ num }}</a>{% else %}<a href="?q={{ query }}{% if request.GET.models %}&amp;models={{ request.GET.models }}{% endif %}&amp;page={{ num }}"> {{ num }}</a>{% endifequal %}</li>
      {% endfor %}

      <li>
        <a {% if page.has_next %}href="?q={{ query }}{% if request.GET.models %}&amp;models={{ request.GET.models }}{% endif %}&amp;page={{ page.next_page_number }}"{% endif %}>&gt;</a>
      </li>
      <li>
        <a {% if page.has_next %}href="?q={{ query }}{% if request.GET.models %}&amp;models={{ request.GET.models }}{% endif %}&amp;page={{ paginator.num_pages }}"{% endif %}>&gt;&gt;</a>
      </li>
</nav>
    {% endif %}
  {% endif %}
{% endblock %}
