{% load static from staticfiles %}
{% load bootstrap3 %}
{% load cosinnus_tags %}
{% load sekizai_tags %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
     <!-- social sharing metadata -->
    <meta property="og:title" content="ecobasa.org - a gift-economy network for communities" />
    <meta property="og:description" content="ecobasa is a directory of sustainable communities and ecovillages that connects them to individuals looking for alternative ways of living. The site offers the technology for communication, collaboration and the exchange of experiences, knowledge, skills, services and ressources" />
    <meta property="og:image" content="{% static "img/ecobasa_logo.png" %}" />
    {% if SETTINGS.DEBUG %}
      <link href="{% static "css/vendor/bootstrap.min.css" %}" rel="stylesheet">
      <script src="{% static "js/vendor/jquery-2.1.0.min.js" %}"></script>
      <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
      <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% else %}
      <script src="{% bootstrap_jquery_url %}"></script>
      <script src="{% bootstrap_javascript_url %}"></script>
      <link href="{% bootstrap_css_url %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static "css/main.css" %}">
    {% endif %}
    <script type="text/javascript">
        var cosinnus_base_url = "{{ COSINNUS_BASE_URL|default:'/' }}";
        var cosinnus_active_group = {% if group %}"{{ group.slug }}"{% else %}false{% endif %};
     </script>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" />
    <link href="{% static "css/cosinnus.css" %}" rel="stylesheet">
    <link href="{% static "css/vendor/font-awesome.min.css" %}" rel='stylesheet' type='text/css'>
    <link href="{% static 'css/vendor/fullcalendar.css' %}" rel="stylesheet">
    {% include 'cosinnus/extrahead.html' %}
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body id="{% block body %}{% endblock body %}"{% if group %} class="group"{% endif %}>
    {% cosinnus_menu "cosinnus/topmenu.html" %}
    <div class="container content">
      {% bootstrap_messages %}
      {% block content %}{% endblock content %}
    </div>
    {% cosinnus_menu "cosinnus/footermenu.html" %}
    <script type="text/javascript">var cosinnus_base_url = "{{ COSINNUS_BASE_URL|default:'/' }}";</script>
    <script src="{% static "js/cosinnus.js" %}"></script>
    <script src="{% static "js/vendor/jquery.tagcanvas.min.js" %}"></script>
    <script src="{% static "js/vendor/fullcalendar.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    <script type="text/javascript">
    var LanguageCode = '{{ LANGUAGE_CODE }}';
    </script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.ecobasa.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 2]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//stats.ecobasa.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    {% block extrafooter %}{% endblock extrafooter %}
  </body>
</html>
