{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags ecobasa_time %}
{% load static from staticfiles %}

{% block page_title %}{% trans "Dashboard" %}{% endblock %}

{% block extrahead %}
  <link href="{% static "css/cosinnus.dashboard.css" %}" rel="stylesheet">
{% endblock extrahead %}

{% block content_title %}{% trans "Dashboard" %}{% endblock content_title %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
  <h2>Good {% time_of_day %}, {{ user.first_name }}.</h2> {% if not group %}{% endif %}
    {% if group %}
      {% if group.caravan %}
        <a href="{% url 'caravan-detail' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-road"></span>{% trans "Caravan Profile" %}</a>
        {% if user.is_superuser or user|is_group_admin:group %}
          <a href="{% url 'caravan-edit' group=group.slug %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Caravan" %}</a>
        {% endif %}
      {% elif group.profile %}
        <a href="{% url 'community-detail' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>{% trans "Community Profile" %}</a>
        {% if user.is_superuser or user|is_group_admin:group %}
          <a href="{% url 'community-edit' group=group.slug %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"> {% trans "Edit Community Profile" %}</a>
        {% endif %}
      {% else %}
        <a href="{% url 'cosinnus:group-detail' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span>{% trans "Group Details" %}</a>
        {% if user.is_superuser or user|is_group_admin:group %}
          <a href="{% url 'cosinnus:group-edit' group=group.slug %}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Group" %}</a>
        {% endif %}
      {% endif %}
      {% if user.is_authenticated %}
        {% if user.pk in group.members or user|is_group_admin:group %}
          <a class="btn btn-danger" href="{% url 'cosinnus:group-user-leave' group=group.slug %}"><span class="glyphicon glyphicon-log-out"></span>{% trans "Leave this" %} {% if group.caravan %}{% trans "Caravan" %}{% elif group.profile %}{% trans "Community" %}{% else %}{% trans "Group" %}{% endif %}</a>
        {% elif user.pk in group.pendings %}
          <a class="btn btn-danger" href="{% url 'cosinnus:group-user-withdraw' group=group.slug %}">{% trans "Withdraw membership request" %}</a>
        {% else %}
          <a class="btn btn-info" href="{% url 'cosinnus:group-user-join' group=group.slug %}">{% trans "Join this group" %}</a>
        {% endif %}
      {% endif %}
    {% else %}
      <a class="btn btn-primary" href="{% url 'pioneer-edit' username=user.username %}"><span class="glyphicon glyphicon-pencil"></span>{% trans "Edit your profile" %}</a>
  {% endif %}
  </div>
</div>
  <div id="dashboard" class="row dashboard">
    {% for id in widgets %}
      <div class="col-md-4" data-widget-id="{{ id }}" data-type="widget">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="" data-target="widget-title-url"><span data-target="widget-title"></span>&nbsp;</a>
              <div class="btn-group pull-right">
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Refresh" %}" data-type="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                {% if group and user|is_group_admin:group or not group %}
                  <a href="#" class="btn btn-primary btn-xs" title="{% trans "Configure" %}" data-type="edit"><span class="glyphicon glyphicon-wrench"></span></a>
                  <a href="#" class="btn btn-primary btn-xs" title="{% trans "Delete" %}" data-type="delete"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
              </div>
            </h3>
          </div>
          <div class="panel-body" data-target="widget-content"></div>
        </div>
      </div>
    {% endfor %}
    {% if group and user|is_group_admin:group or not group %}
      <div class="col-md-4" data-type="widget-add">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans "Add widget" %}</h3>
          </div>
          <div class="panel-body" data-widget-id="0" data-target="widget-add-button">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-type="widget-spare">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="" data-target="widget-title-url"><span data-target="widget-title"></span>&nbsp;</a>
              <div class="btn-group pull-right">
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Refresh" %}" data-type="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Configure" %}" data-type="edit"><span class="glyphicon glyphicon-wrench"></span></a>
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Delete" %}" data-type="delete"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </h3>
          </div>
          <div class="panel-body" data-target="widget-content"></div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "js/cosinnus.dashboard.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var dashboard = window.Cosinnus.dashboard.init("#dashboard", {% if group.slug %}"{{ group.slug }}"{% else %}null{% endif %});
    });
  </script>
{% endblock %}
