{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags static ecobasa_tags ecobasa_time thumbnail %}
{% load static from staticfiles %}

{% block page_title %}{% if not group %}{{user.first_name|default:user.username }}{% else %}{{ group.name }}{% endif %} | ecobasa.org {% trans "Dashboard" %}{% endblock %}

{% block extrahead %}
  <link href="{% static "css/cosinnus.dashboard.css" %}" rel="stylesheet">
{% endblock extrahead %}

{% block content_title %}{% trans "Dashboard" %}{% endblock content_title %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
<div class="row">
  <div class="col-xs-12">
  {% if not group %}
    <a class="btn btn-primary pull-right" href="{% url 'pioneer-edit' username=user.username %}"><span class="fa  fa-user-circle-o"></span>{% trans "Edit your profile" %}</a>
    <h2>{% trans "Good" %} {% if LANGUAGE_CODE = "en" %}{% time_of_day %}{% elif LANGUAGE_CODE = "de" %}{% tageszeit %}{% endif %}, {{ user.first_name|default:user.username }}.</h2>
    {% if not user.cosinnus_profile.avatar %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>{% trans "No Face" %}</h4>
        {% trans "You don't have a picture of yourself in your profile!" %} <a href="{% url 'pioneer-edit' username=user.username %}" class="alert-link">{% trans "Add one now." %}</a>
      </div>
    {% endif %}
    {% if not user.first_name or not user.last_name %}
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>{% trans "What is your name?" %}</h4>
        <p>{% trans "You did not enter your full name in your profile." %} <a href="{% url 'pioneer-edit' username=user.username %}#id_first_name" class="alert-link">{% trans "Add your full name here" %}</a><br><i>{% trans "This makes sense if you want to be found by people that know you to receive references. Also it helps to develop trust in this network and your person!" %}</i></p>
        <p><a class="btn btn-primary" href="{% url 'pioneer-edit' username=user.username %}#id_first_name"><span class="glyphicon glyphicon-pencil"></span>{% trans "Edit your profile" %}</a></p>
      </div>
    {% endif %}
  {% endif %}
  {% if group %}
    <div class="row">
      <div class="col-xs-12">
        <div class="btn-group pull-right" role="group" aria-label="actions">
        {% if group.caravan %}
          <a href="{% url 'caravan-detail' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-road"></span>{% trans "Caravan Profile" %}</a>
          {% if user.is_superuser or user|is_group_admin:group %}
            <a href="{% url 'caravan-edit' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Caravan" %}</a>
          {% endif %}
        {% elif group.profile %}
          <a href="{% url 'community-detail' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span>{% trans "Community Profile" %}</a>
          {% if user.is_superuser or user|is_group_admin:group %}
            <a href="{% url 'community-edit' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Community Profile" %}</a>
          {% endif %}
        {% else %}
          <a href="{% url 'cosinnus:group-detail' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-globe"></span>{% trans "Group Details" %}</a>
          {% if user.is_superuser or user|is_group_admin:group %}
            <a href="{% url 'cosinnus:group-edit' group=group.slug %}" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Group" %}</a>
          {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
          {% if user.is_superuser or user|is_group_admin:group %}
            <a href="{% url 'cosinnus:group-user-list' group=group.slug %}" class="btn btn-primary"><i class="fa fa-users"></i> {% trans "Members" %}</a>
          {% endif %}
          <a href="{% url 'postman_write' recipients=group %}" class="btn btn-primary"><i class="fa fa-envelope"></i>{% trans "Write to all members" %}</a>
        {% endif %}
        
        {% if user.is_authenticated %}
          {% if user.pk in group.members or user|is_group_admin:group %}
            <a class="btn btn-danger" href="{% url 'cosinnus:group-user-leave' group=group.slug %}"><span class="glyphicon glyphicon-log-out"></span>{% trans "Leave this" %} {% if group.caravan %}{% trans "Caravan" %}{% elif group.profile %}{% trans "Community" %}{% else %}{% trans "Group" %}{% endif %}</a>
          {% elif user.pk in group.pendings %}
            <a class="btn btn-danger" href="{% url 'cosinnus:group-user-withdraw' group=group.slug %}">{% trans "Withdraw membership request" %}</a>
          {% else %}
            <a class="btn btn-info" href="{% url 'cosinnus:group-user-join' group=group.slug %}">{% trans "Join this group" %}</a>
          {% endif %}
        {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if user|is_group_admin:group %}
    {% if not group.profile.image %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>{% trans "No Picture" %}</h4>
        <p>{% trans "You don't have a picture in your profile! It is much nice if people get a quick impression of how it looks like." %}</p>
        <p><a href="{% if group.caravan %}{% url 'caravan-edit' group=group.slug %}{% elif group.profile %}{% url 'community-edit' group=group.slug %}{% else %}{% url 'cosinnus:group-detail' group=group.slug %}{% endif %}#id_image" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% if group.caravan %}{% trans "Edit Caravan" %}{% elif group.profile %}{% trans "Edit Community Profile" %}{% else %}{% trans "Edit Group" %}{% endif %}</a></p>
      </div>
    {% endif %}
    {% if not group.profile.contact_location %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4>{% trans "Not on map" %}</h4>
        <p>{% trans "You have to enter a location in your profile, otherwise your community will not show on our" %} <a class="alert-link" href="{% url 'community-list' %}">{% trans "map" %}</a></p>
        <p><a href="{% if group.caravan %}{% url 'caravan-edit' group=group.slug %}{% elif group.profile %}{% url 'community-edit' group=group.slug %}{% else %}{% url 'cosinnus:group-detail' group=group.slug %}{% endif %}#id_contact_location" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% if group.caravan %}{% trans "Edit Caravan" %}{% elif group.profile %}{% trans "Edit Community Profile" %}{% else %}{% trans "Edit Group" %}{% endif %}</a></p>
      </div>
    {% endif %}
    {% if group.caravan %}
      {% if not group.caravan.public %}
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4>{% trans "Your Community-Tour is not published" %}</h4>
          <p>{{ group.profile.public }}{% trans "You have to check public, so other users see your tour! If this is intentional, ignore this message." %}</p>
          <p><a href="{% url 'caravan-edit' group=group.slug %}#id_public" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit Caravan" %}</a></p>
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
  </div>
</div>

  <div id="dashboard" class="row dashboard">
  {% if group %}
    {% if user|is_group_admin:group %}
      {% if group.ambassadors %}
      <div class="col-md-4 widget members">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-certificate"></span> <span data-target="widget-title">{% trans "Gift-economy Ambassadors" %}</span></h3>
          </div>
          <div class="panel-body">
          <ul class="media-list">
            {% for admin in group.ambassadors %}
              <li class="media member text-center pull-left">
                <a href="{% url 'pioneer-detail' username=admin.username %}">
                  {% if admin.cosinnus_profile.avatar %}
                    <img class="avatar small" src="{{ admin.cosinnus_profile.avatar|thumbnail_url:"avatar_small" }}">
                  {% else %}
                    <img class="avatar small" src="{% static "img/avatar.png" %}" alt="{{ admin.get_full_name|default:admin.username }}" data-toggle="tooltip" data-placement="top" title="{{ admin.get_full_name|default:admin.username }}">
                  {% endif %}
                  <span class="username">{{ admin.get_full_name|default:admin.get_username }}</span>
                </a>
                {% if user.is_superuser or user|is_group_admin:group %}
                  <div class="btn-group btn-group-vertical">
                    <a href="{% url 'cosinnus:group-user-delete' group=group.slug username=admin.get_username %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-log-out"></span> {% trans "Remove" %}</a>
                    <a href="{% url 'postman_write' recipients=admin.get_username %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-envelope"></span>{% trans "Send message" %}</a>
                  </div>
                {% else %}
                  <a class="email btn btn-primary btn-xs" href="{% url 'postman_write' recipients=admin.get_username %}"><span class="glyphicon glyphicon-envelope"></span>{% trans "Send message" %}</a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
          {% if user.is_superuser or user|is_group_admin:group %}
            <a class="btn btn-default center-block member-add" href="{% url 'cosinnus:group-user-add-generic' group=group.slug %}"><span class="glyphicon glyphicon-plus"></span>{% trans "Add member" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if group.membs %}
    <div class="col-md-4 widget members">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="fa fa-users"></span> <span data-target="widget-title">{% trans "Members" %}</span></h3>
        </div>
        <div class="panel-body">
        <ul class="media-list">
          {% for member in group.membs %}
            <li class="media member text-center pull-left">
                <a href="{% url 'pioneer-detail' username=member.username %}">
                  {% if member.cosinnus_profile.avatar %}
                    <img class="avatar small" src="{{ member.cosinnus_profile.avatar|thumbnail_url:"avatar_small" }}">
                  {% else %}
                    <img class="avatar small" src="{% static "img/avatar.png" %}" alt="{{ member.get_full_name|default:member.username }}" data-toggle="tooltip" data-placement="top" title="{{ member.get_full_name|default:member.username }}">
                  {% endif %}
                  <span class="username">{{ member.get_full_name|default:member.get_username }}</span>
                </a>
                {% if user.is_superuser or user|is_group_admin:group %}
                <div class="btn-group btn-group-vertical">
                    <a href="{% url 'cosinnus:group-user-delete' group=group.slug username=member.get_username %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-log-out"></span> {% trans "Remove" %}</a>
                    <a href="{% url 'postman_write' recipients=member.get_username %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-envelope"></span>{% trans "Send message" %}</a>
                  </div>
                {% else %}
                  <a class="email btn btn-primary btn-smll" href="{% url 'postman_write' recipients=member.get_username %}"><span class="glyphicon glyphicon-envelope"></span>{% trans "Send message" %}</a>
                {% endif %}
              </li>
          {% endfor %}
        </ul>
        {% if user.is_superuser or user|is_group_admin:group %}
          <a class="btn btn-default center-block member-add" href="{% url 'cosinnus:group-user-add-generic' group=group.slug %}"><span class="glyphicon glyphicon-plus"></span>{% trans "Add member" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if group.pending_members %}
    <div class="col-md-4 widget members">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="fa fa-users"></span> <span data-target="widget-title"> {% trans "Pending users" %}</span></h3>
          </div>
          <div class="panel-body">
            <ul class="media-list">
              {% for pending in group.pending_members %}
                <li class="media member text-center pull-left">
                <a href="{% url 'pioneer-detail' username=pending.username %}">
                  {% if pending.cosinnus_profile.avatar %}
                    <img class="avatar small" src="{{ pending.cosinnus_profile.avatar|thumbnail_url:"avatar_small" }}">
                  {% else %}
                    <img class="avatar small" src="{% static "img/avatar.png" %}" alt="{{ pending.get_full_name|default:pending.username }}" data-toggle="tooltip" data-placement="top" title="{{ pending.get_full_name|default:pending.username }}">
                  {% endif %}
                  <span class="username">{{ pending.get_full_name|default:pending.get_username }}</span>
                </a>
                {% if user.is_superuser or user|is_group_admin:group %}
                <div class="btn-group btn-group-vertical">
                    <a href="{% url 'cosinnus:group-user-edit' group=group.slug username=pending.get_username %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-log-in"></span> {% trans "Approve" %}</a>
                    <a href="{% url 'postman_write' recipients=pending.get_username %}" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-envelope"></span>{% trans "Send message" %}</a>
                  </div>
                {% else %}
                  <a class="email btn btn-primary btn-smll" href="{% url 'postman_write' recipients=pending.get_username %}"><span class="glyphicon glyphicon-envelope"></span>{% trans "Send message" %}</a>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endif %}
{% if group and user|is_group_member:group or not group %}
<div class="col-md-4 widget references">
  <div class="panel">
    <div class="panel-heading">
      <a href="{% if group %}{% url 'community-reference-list' group=group.slug %}{% else %}{% url 'pioneer-reference-list' user.username %}{% endif %}"><h3 class="panel-title"><span class="fa fa-users"></span> <span data-target="widget-title"> {% trans "References" %}</span></h3></a>
    </div>
    <div class="panel-body">
      {% if references %}
        <table class="table table-striped">
          <thead>
            <th>User</th>
            <th>Date</th>
            <th>Text</th>
            <th>Tags</th>
          </thead>
          <tbody>
          {% for reference in references.references %}
          <tr class="{% if reference.recommend %}success{% else %}danger{% endif %}">
            <td><a class="pull-left" href="{% url 'pioneer-detail' reference.giver.username %}">
                    {% if reference.giver.cosinnus_profile.avatar %}
                        <img class="avatar small media-object" src="{{ reference.giver.cosinnus_profile.avatar|thumbnail_url:"avatar_small" }}" />
                      {% else %}
                        <img class="avatar media-object small" src="{% static "img/avatar.png" %}">
                      {% endif %}
                      <center>{{ reference.giver.username }}</center>
                    </a></td>
            <td>{{ reference.date }}</td>
            <td>{{ reference.text|urlize|safe|truncatewords:25 }} <a href="{% url 'community-reference-list' group.slug %}">{% trans "read more" %}</a></td>
            <td><ul class="list-inline">
              {% for tag_name, tag_data in references.tag_counts.products.items %}
                  <li><a href="{% if group %}{% url 'community-reference-list' group.slug %}{% else %}{% url 'pioneer-reference-list' user.username %}{% endif %}"><span class="label label-{{ tag_data.class }}">{{ tag_name }} <span class="badge {% if reference.recommend %}alert-success{% else %}alert-danger{% endif %}">{{ tag_data.count }}</span></span></a></li>
              {% endfor %}
              {% for tag_name, tag_data in references.tag_counts.skills.items %}
                  <li><a href="{% if group %}{% url 'community-reference-list' group.slug %}{% else %}{% url 'pioneer-reference-list' user.username %}{% endif %}"><span class="label label-{{ tag_data.class }}">{{ tag_name }} <span class="badge {% if reference.recommend %}alert-success{% else %}alert-danger{% endif %}">{{ tag_data.count }}</span></span></a></li>
              {% endfor %}
              {% for tag_name, tag_data in references.tag_counts.services.items %}
                  <li><a href="{% if group %}{% url 'community-reference-list' group.slug %}{% else %}{% url 'pioneer-reference-list' user.username %}{% endif %}"><span class="label label-{{ tag_data.class }}">{{ tag_name }} <span class="badge {% if reference.recommend %}alert-success{% else %}alert-danger{% endif %}">{{ tag_data.count }}</span></span></a></li>
              {% endfor %}
            </ul></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No references yet. <br>
        {% if group %}
          Invite volunteers and visitors to leave you a reference!</p>
        {% else %}
        <p>Invite community ambassadors and other users to leave you a recommendation!</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
    {% for id in widgets %}
      <div class="widget col-md-4" data-widget-id="{{ id }}" data-type="widget">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="" data-target="widget-title-url"><span data-target="widget-title"></span>&nbsp;</a>
              <div class="btn-group pull-right">
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Refresh" %}" data-type="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                {% if group and user|is_group_member:group or not group %}
                  <a href="#" class="btn btn-primary btn-xs" title="{% trans "Configure" %}" data-type="edit"><span class="glyphicon glyphicon-wrench"></span></a>
                  <a href="#" class="btn btn-primary btn-xs" title="{% trans "Delete" %}" data-type="delete"><span class="glyphicon glyphicon-remove"></span></a>
                {% endif %}
              </div>
            </h3>
          </div>
          <div class="panel-body" data-target="widget-content"></div>
        </div>
      </div>
    {% endfor %}
    {% if group and user|is_group_member:group or not group %}
      <div class="col-md-4" data-type="widget-add">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans "Add widget" %}</h3>
          </div>
          <div class="panel-body" data-widget-id="0" data-target="widget-add-button">
            <span class="glyphicon glyphicon-plus"></span>
          </div>
        </div>
      </div>
      <div class="col-md-4" data-type="widget-spare">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a href="" data-target="widget-title-url"><span data-target="widget-title"></span>&nbsp;</a>
              <div class="btn-group pull-right">
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Refresh" %}" data-type="refresh"><span class="glyphicon glyphicon-refresh"></span></a>
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Configure" %}" data-type="edit"><span class="glyphicon glyphicon-wrench"></span></a>
                <a href="#" class="btn btn-primary btn-xs" title="{% trans "Delete" %}" data-type="delete"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            </h3>
          </div>
          <div class="panel-body" data-target="widget-content"></div>
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="modal fade in" id="donate-modal" tabindex="-1" role="dialog" aria-labelledby="newsletter" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newsletter">Please help us update</h4>
      </div>
      <div class="modal-body">
        <p>{% trans "Dear" %} {% if user.first_name %}{{user.first_name}}{% else %}{{user.username}}{% endif %},<br>
        {% trans "It is very great to see you using the platform! Do you want to help us make it better?" %}</p>
        <p>{% trans "Now we have the possibility to update the software behind ecobasa in order to have social-networking and self-organisation features for our members and our communities. Users will be able to customize their email notification settings and many of our apps like the event calendar will work really great!" %}</p>
        <p>{% trans "You can see the same software with another design" %} <a href="https://wechange.de/cms/?lang=en" target="_blank">{% trans "here" %}</a>.</p>
        <p>{% trans "However we need to raise 2.000€ to pay the programmers and designers to come up with a new professional and better version of ecobasa." %}</p>
        <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><center><iframe src="https://donorbox.org/embed/ecobasa-hosting-2018" height="685px" width="100%" style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe></center>
        <center><button type="button" class="btn btn-primary" id="btnclose" data-dismiss="modal">Close</button><center>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "js/cosinnus.dashboard.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      var dashboard = window.Cosinnus.dashboard.init("#dashboard", {% if group.slug %}"{{ group.slug }}"{% else %}null{% endif %});
      $('.dropdown-toggle').dropdown();
      if (document.cookie.indexOf("ModalShown=true")<0) {
        $("#donate-modal").modal("show");
        //Modal has been shown, now set a cookie so it never comes back
        $("#donate-modalClose").click(function () {
            $("#donate-modal").modal("hide");
        });
        document.cookie = "ModalShown=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
      }
      $("#donate-modal").modal("show");
    });
  </script>
{% endblock %}
