{% load i18n menu_tags cosinnus_tags %}
{% get_current_language as LANGUAGE_CODE %}
<nav class="footer navbar navbar-default" role="navigation">
  <div class="navbar-footer">
    <div class="col-md-12">
      <div class="center-block">
        <ul class="nav navbar-nav">
          <li><a href="https://www.facebook.com/ecobasa/"><i class="fa fa-facebook"></i><span class="hidden-xs">{% trans "Follow us on facebook" %}</span></a></li>
          <li><a href="https://www.youtube.com/channel/UC9P0vCR7DDPHly81cNQ_vyw"><i class="fa fa-youtube"></i><span class="hidden-xs">{% trans "Watch ecobasa.tv" %}</span></a></li>
          <li><a href="https://github.com/ecobasa/ecobasa/"><i class="fa fa-github"></i><span class="hidden-xs">{% trans "Code on github" %}</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="modal" data-target="#newsletter-modal" href="#m-newsletter"><span class="glyphicon glyphicon-envelope"></span>{% trans "Newsletter" %}</a></li>
          <li><a href="{% url 'contact_form' %}"><span class="glyphicon glyphicon-envelope"></span>{% trans "Contact" %}</a></li>
        </ul>
      </div>
    </div>
    <!-- <ul class="nav navbar-nav navbar-right">

      <li id="language-chooser" class="dropdown">
        {% language_chooser %}
      </li>

      {% if request.user.is_authenticated %}
        {% if groups %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if groups >= 1 %}{% trans "My Communities" %}{% else %}{% trans "My Community" %}{% endif %}{% if group %} <strong>({{ group }})</strong>{% endif %} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% for g in groups %}
                <li{% if g == group %} class="active"{% endif %}><a href="{% url 'community-dashboard' group=g.slug %}">{{ g.name }}</a></li>
              {% endfor %}
              <li class="divider"></li>
              <li><a href="{% url 'community-list' %}">{% trans "List all communities" %}</a></li>
            </ul>
          </li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user|full_name }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'pioneer-detail' request.user.username %}"><span class="glyphicon glyphicon-user"></span> {% trans "Profile" %}</a></li>
            <!-- <li><a href="{% url 'cosinnus:user-dashboard' %}">{% trans "Dashboard" %}</a></li> -->
            <!-- <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans "Logout" %}</a></li>
          </ul>
        </li>
      {% else %}
        <li class="dropdown">
          <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> {% trans "Register" context "the verb"  %}</a>
        </li>
        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</a></li>
      {% endif %}
    </ul> -->
  </div>
</nav>
<!-- Modals -->
<div class="modal fade" id="newsletter-modal" tabindex="-1" role="dialog" aria-labelledby="newsletter" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="newsletter">Sign up for our newsletter</h4>
      </div>
      <div class="modal-body">
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup">
        <form action="//communitiesconvergence.us4.list-manage.com/subscribe/post?u=4c454a2ea90e53a65bb2cb660&amp;id=631be3d34e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group">
          <label for="mce-FNAME">First Name </label>
          <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-LNAME">Last Name </label>
          <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_4c454a2ea90e53a65bb2cb660_631be3d34e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="donate-modal" tabindex="-1" role="dialog" aria-labelledby="support" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="support">Your gifts keep us giving</h4>
      </div>
      <div class="modal-body">
        <p><strong><a href="https://www.betterplace.org/en/projects/11742-ecobasa-org" target="_blank">
          On betterplace.org you can see how to support us with your time and ressources!
        </a></strong></p>
        <p>Monthly donations make it possible for us to plan on a budget and to make a living! (We dont need much money :)</p>
        <p><i>Happy giving!</i></p>
        <script type="text/javascript">
          /* Configure at https://www.betterplace.org/de/projects/11742-ecobasa-org/manage/iframe_donation_form */
          var _bp_iframe         = _bp_iframe || {};
          _bp_iframe.project_id  = 11742; /* REQUIRED */
          _bp_iframe.lang        = '{{ LANGUAGE_CODE }}'; /* Language of the form */
          /* Remove "//" for further customization but *only* if you really need to! */
          //_bp_iframe.width  = 600;  /* Custom iframe-tag-width, integer, minimum 450px */
          _bp_iframe.color  = 'da6137'; /* Button and banderole color, hex without "#" */
          //_bp_iframe.background_color = 'fff'; /* Background-color, hex without "#" */
          //_bp_iframe.default_amount   = 50;    /* Donation-amount, integer 1-99 */
          (function() {
            var bp = document.createElement('script'); bp.type = 'text/javascript'; bp.async = true;
            bp.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'asset1.betterplace.org/assets/load_donation_iframe.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bp, s);
          })();
        </script>
        <div id="betterplace_donation_iframe" style="background: transparent url('https://www.betterplace.org/assets/new_spinner.gif') 275px 20px no-repeat; max-height: 1200px;"><strong><a href="https://www.betterplace.org/de/projects/11742-ecobasa-org/donations/new">On betterplace.org you can see how to support us with your time and ressources!</a></strong></div>

        <p>You can also support us directly via bank-transfer to:</p>

        <p>Arne Bollinger<br />
        IBAN: DE91830944950003276287<br />
        BIC: GENODEF1ETK</p>

        <p>Thank you!</p>

        <p>Because gift economy is not tax-deductible by German law, we can&#39;t register ecobasa as a non-profit organization. Thats why we use a dedicated free private bank account from the Ethikbank.</p>
      </div>
    </div>
  </div>
</div>