{% extends "cosinnus/base.html" %}
{% load i18n static cosinnus_tags ecobasa_community %}

{% block page_title %}{% trans "Groups" %}{% endblock %}

{% block content_title %}
  {% trans "Groups" %}
  {% if user.is_superuser %}
    <div class="btn-group pull-right">
      <a href="{% url 'cosinnus:group-add' %}" class="btn btn-success">{% trans "Create Group" %}</a>
    </div>
  {% endif %}
{% endblock content_title %}


{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/ecobasa.css" %}" />
  <link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
{% endblock extrahead %}


{% block content %}
  {% if rows %}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>{% trans "Group name" %}</th>
          {% if user.is_authenticated %}
            <th>{% trans "Joined" %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% if user.is_authenticated %}
          {% for group, members, pendings in rows %}
            <tr>
              {% if user.is_superuser or user.pk in members or group.public %}
                <td>
                  <a href="{% url 'cosinnus:group-dashboard' group=group.slug %}">{{ group.name }}</a>
                </td>
              {% else %}
                <td>
                  {{ group.name }}
                </td>
              {% endif %}

              {% if user.pk in members %}
                <td>
                  <a href="{% url 'cosinnus:group-user-leave' group=group.slug %}">{% trans "Leave" %}</a>
                </td>
              {% elif user.pk in pendings %}
                <td>
                  <a href="{% url 'cosinnus:group-user-withdraw' group=group.slug %}">{% trans "Withdraw" %}</a>
                </td>
              {% else %}
                <td>
                  <a href="{% url 'cosinnus:group-user-join' group=group.slug %}">{% trans "Join" %}</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        {% else %}
          {% for group in object_list %}
            <tr>
              <td><a href="{% url 'cosinnus:group-dashboard' group=group.slug %}">{{ group.name }}</a></td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  {% else %}
    {% trans "There are no groups." %}
  {% endif %}

  <div id="community-map"></div>
{% endblock %}


{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "leaflet/leaflet.js" %}"></script>
  <script src="{% static "js/ecobasa_map.js" %}"></script>
  <script type="text/javascript">
  {% get_community_locations as locations %}
  $(function() {
    EcobasaMap.init('community-map');
    {% for l in locations %}
    EcobasaMap.addMarker({{ l.lat}}, {{ l.lon }}, "{{ l.name }}");
    {% endfor %}
  });
  </script>
{% endblock extrafooter %}
