{% load i18n menu_tags cosinnus_tags %}
<nav class="header navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">{% trans "Toggle navigation" %}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {% include "cosinnus/brand.html" %}
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "About the tour" %} <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'pages-details-by-slug' slug='about' %}">Info</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
<!--           <li class="divider"></li>
          <li><a href="#">Organizers</a></li> -->
        </ul>
        </li>
        <li><a href="{% url 'community-list' %}">{% trans "Communities" %}</a></li>
        <li><a href="{% url 'pioneer-list' %}">{% trans "Pioneers" %}</a></li>
        <li><a href="{% url 'bus-list' %}">{% trans "Buses" %}</a></li>
        <li><a href="{% url 'caravan-list' %}">{% trans "Caravans" %}</a></li>
        <li><a href="{% url 'find' %}"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li id="language-chooser" class="dropdown">
          {% language_chooser %}
        </li>

        {% if request.user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user|full_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'pioneer-detail' request.user.username %}"><span class="glyphicon glyphicon-user"></span> {% trans "Profile" %}</a></li>
              <!-- <li><a href="{% url 'cosinnus:user-dashboard' %}">{% trans "Dashboard" %}</a></li> -->
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans "Logout" %}</a></li>
            </ul>
          </li>
        {% else %}
          <li class="dropdown">
            <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> {% trans "Register" context "the verb"  %}</a>
          </li>
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</a></li>
        {% endif %}
      </ul>
  </div>
</nav>
{% if request.user.is_authenticated %}
  <nav class="navbar navbar-sub" role="navigation">
    <div class="menu-bus"></div>
    <ul>
      {% if groups %} {# only show dropdown if community #}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if groups >= 1 %}{% trans "My Communities" %}{% else %}{% trans "My Community" %}{% endif %}{% if group %} <strong>({{ group }})</strong>{% endif %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for g in groups %}
              {% if g.profile %}
                {% url 'community-dashboard' group=g.slug as dashboard_url %}
              {% elif g.caravan %}
                {% url 'caravan-dashboard' group=g.slug as dashboard_url %}
              {% else %}
                {% url 'cosinnus:group-dashboard' group=g.slug as dashboard_url %}
              {% endif %}
              <li{% if g == group %} class="active"{% endif %}><a href="{{ dashboard_url }}">{{ g.name }}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{% url 'community-list' %}">{% trans "List all communities" %}</a></li>
            <li><a href="{% url 'caravan-list' %}">{% trans "List all caravans" %}</a></li>
          </ul>
        </li>
      {% endif %}
      {% if group %}
        {% if group.profile %}
          {% url 'community-dashboard' group=group.slug as dashboard_url %}
        {% elif group.caravan %}
          {% url 'caravan-dashboard' group=group.slug as dashboard_url %}
        {% else %}
          {% url 'cosinnus:group-dashboard' group=group.slug as dashboard_url %}
        {% endif %}
          <li {% ifequal dashboard_url request.path %} class="active"{% endifequal %}><a href="{{ dashboard_url }}">{% trans " Dashboard" %}</a></li>
        {% for app in apps %}
          <li{% if app.active %} class="active"{% endif %}><a href="{{ app.url }}">{{ app.label }}</a></li>
        {% endfor %}
      {% endif %} 
          <li><a href="{% url 'postman-index' %}"><span class="glyphicon glyphicon-envelope"></span> <span class="mailcount">{{ postman_unread_count }}</span></a></li>
    </ul>
  </nav>
{% endif %} 
