{% load i18n menu_tags cosinnus_tags %}
<nav class="header navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">{% trans "Toggle navigation" %}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {% include "cosinnus/brand.html" %}
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="col-xs-8 col-md-8 col-md-offset-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url "about" %}"><span class="glyphicon glyphicon-info-sign"></span> {% trans "About the platform" %}</a></li>
        <li><a href="/#video"><span class="glyphicon glyphicon-film"></span> {% trans "Video" %}</a></li>
        <li><a href="{% url "blog" %}"><span class="glyphicon glyphicon-heart"></span> {% trans "Blog" %}</a></li>
        <li><a data-toggle="modal" data-target="#newsletter-modal" href="#m-newsletter"><span class="glyphicon glyphicon-envelope"></span> {% trans "Newsletter" %}</a></li>
        <li><a data-toggle="modal" data-target="#donate-modal" href="#m-donate"><span class="glyphicon glyphicon-gift"></span> {% trans "Donate" %}</a></li>
        {% comment %}
        {% if group %}
          {% url 'community-dashboard' group=group.slug as dashboard_url %}
          <li {% ifequal dashboard_url request.path %} class="active"{% endifequal %}><a href="{{ dashboard_url }}">{% trans "Community Dashboard" %}</a></li>
        {% endif %}
        {% for app in apps %}
          <li{% if app.active %} class="active"{% endif %}><a href="{{ app.url }}">{{ app.label }}</a></li>
        {% endfor %}
        {% endcomment %}
      </ul>
    </div>
    <div class="col-xs-1 pull-right">
      <ul class="nav navbar-nav">
        <li id="language-chooser" class="dropdown">
          {% language_chooser %}
        </li>
      </ul>
    </div>
  </nav>
  {% comment %}
      {% if request.user.is_authenticated %}
        {% if groups %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ request.user|full_name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'pioneer-detail' request.user.username %}"><span class="glyphicon glyphicon-user"></span> {% trans "Profile" %}</a></li>
              <li><a href="{% url 'cosinnus:user-dashboard' %}">{% trans "Dashboard" %}</a></li>
              <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {% trans "Logout" %}</a></li>
            </ul>
          </li>
        {% else %}
          <li class="dropdown">
            <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> {% trans "Register" context "the verb"  %}</a>
          </li>
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</a></li>
        {% endif %}
        {% endcomment %}
      </ul>
  </div>
</nav>
{% comment %}
{% if request.user.is_authenticated %}
  <nav class="navbar navbar-sub" role="navigation">
    <div class="menu-bus"></div>
    <ul>
      {% if groups %} {# only show dropdown if community #}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% if groups >= 1 %}{% trans "My Communities" %}{% else %}{% trans "My Community" %}{% endif %}{% if group %} <strong>({{ group }})</strong>{% endif %} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for g in groups %}
              {% if g.profile %}
                {% url 'community-dashboard' group=g.slug as dashboard_url %}
              {% elif g.caravan %}
                {% url 'caravan-dashboard' group=g.slug as dashboard_url %}
              {% else %}
                {% url 'cosinnus:group-dashboard' group=g.slug as dashboard_url %}
              {% endif %}
              <li{% if g == group %} class="active"{% endif %}><a href="{{ dashboard_url }}">{{ g.name }}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{% url 'community-list' %}">{% trans "List all communities" %}</a></li>
            <li><a href="{% url 'caravan-list' %}">{% trans "List all caravans" %}</a></li>
          </ul>
        </li>
      {% endif %}
      {% if group %}
        {% if group.profile %}
          {% url 'community-dashboard' group=group.slug as dashboard_url %}
        {% elif group.caravan %}
          {% url 'caravan-dashboard' group=group.slug as dashboard_url %}
        {% else %}
          {% url 'cosinnus:group-dashboard' group=group.slug as dashboard_url %}
        {% endif %}
          <li {% ifequal dashboard_url request.path %} class="active"{% endifequal %}><a href="{{ dashboard_url }}">{% trans " Dashboard" %}</a></li>
        {% for app in apps %}
          <li{% if app.active %} class="active"{% endif %}><a href="{{ app.url }}">{{ app.label }}</a></li>
        {% endfor %}
      {% endif %} 
          <li><a href="{% url 'postman-index' %}"><span class="glyphicon glyphicon-envelope"></span> <span class="mailcount">{{ postman_unread_count }}</span></a></li>
    </ul>
  </nav>
{% endif %} 
{% endcomment %}