{% load i18n menu_tags cosinnus_tags %}
<nav class="header navbar navbar-default" role="navigation">
  <div class="navbar-header">
    {% include "cosinnus/brand.html" %}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">{% trans "Toggle navigation" %}</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{% trans "/about" %}"><span class="glyphicon glyphicon-info-sign"></span>{% trans "About" %}</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'pages-details-by-slug' slug='about-the-platform' %}"><span class="glyphicon glyphicon-info-sign"></span>{% trans "The Platform" %}</a></li>
            <li><a href="{% url 'pages-details-by-slug' slug='about-the-network' %}"><span class="glyphicon glyphicon-info-sign"></span>{% trans "The Network" %}</a></li>
            <li><a href="{% url 'organiser-list' %}"><span class="glyphicon glyphicon-user"></span>{% trans "Team" %}</a></li>
            <li><a href="{% url 'blog' %}"><span class="glyphicon glyphicon-heart"></span>ecobasa Blog</a></li>
          </ul>
        </li>
        <li><a href="{% url 'community-list' %}"><span class="glyphicon glyphicon-home"></span>{% trans "Communities" %}</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-transfer"></span>{% trans "Community-Tours" %}</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'pages-details-by-slug' slug='community-tours' %}"><span class="glyphicon glyphicon-question-sign"></span>{% trans "What is this?" %}</a></li>
            <li><a href="{% url 'pages-details-by-slug' slug='community-tours/blog' %}"><span class="glyphicon glyphicon-globe"></span>{% trans "Tour Blogs" %}</a></li>
            <li><a href="{% url 'caravan-list' %}"><span class="glyphicon glyphicon-road"></span>{% trans "Go on tour!" %}</a></li>
            <li><a href="{% url 'bus-list' %}"><span class="fa fa-truck"></span>{% trans "Find a Bus" %}</a></li>
            <li><a href="{% url 'pioneer-list' %}"><span class="glyphicon glyphicon-user"></span>{% trans "Pioneers" %}</a></li>
            <li><a href="{% url 'pages-details-by-slug' slug='community-tours/traveling-tips' %}"><span class="fa fa-compass"></span>{% trans "Traveling Tips" %}</a></li>
          </ul>
        </li>
        <li><a href="{% url 'pages-details-by-slug' slug='communities-convergence' %}"><span class="glyphicon glyphicon-refresh"></span>{% trans "Communities-Convergence" %}</a></li>
        <li><a data-toggle="modal" data-target="#donate-modal" href="#m-donate"><span class="glyphicon glyphicon-gift"></span>{% trans "Donate" %}</a></li>
      </ul>
          <ul class="nav navbar-nav navbar-right">
            <li id="searchbar" class="dropdown">
                  <i class="fa fa-search" onclick="$('#cosinnus_search_form').submit();"></i>
              <ul class="dropdown-menu">
                {% trans "Find everything you need" %}
                <form id="cosinnus_search_form" action="/find/" method="GET">
                  <input class="form-control" placeholder="{% trans "What are you looking for?" %}" value="" name="q">
                </form>
              </ul>
            </li>
            <li id="language-chooser" class="dropdown">
              {% language_chooser %}
            </li>
            {% if request.user.is_authenticated %}
              <li>
                <a href="{% url 'postman-index' %}"><span class="glyphicon glyphicon-envelope"></span> <span class="mailcount">{{ postman_unread_count }}</span></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>{{ request.user|full_name }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="{% url 'cosinnus:user-dashboard' %}"><span class="glyphicon glyphicon-dashboard"></span>{% trans "Dashboard" %}</a>
                  </li>
                  <li>
                    <a href="{% url 'cosinnus:profile-detail' %}"><span class="glyphicon glyphicon-user"></span> {% trans "My Profile" %}</a>
                  </li>
                  {% if groups %} {# only show dropdown if user is in group #}
                    <li class="divider"></li>
                    <li class="dropdown-header">
                      <span class="glyphicon glyphicon-home"></span>{% if groups >= 1 %}{% trans "My Communities" %}{% else %}{% trans "My Community" %}{% endif %}
                    </li>
                    {% for g in groups %}
                      {% if g.profile %}
                        <li{% if g == group %} class="active"{% endif %}>
                          <a href="{% url 'community-dashboard' group=g.slug %}"><span class="glyphicon glyphicon-home"></span>{% if g == group %}<strong>{{ g.name }}</strong>{% else %}{{ g.name }}</a>{% endif %}
                        </li>
                      {% elif g.caravan %}
                        <li{% if g == group %} class="active"{% endif %}>
                          <a href="{% url 'caravan-dashboard' group=g.slug %}"><span class="glyphicon glyphicon-road"></span>{% if g == group %}<strong>{{ g.name }}</strong>{% else %}{{ g.name }}</a>{% endif %}</a>
                        </li>
                      {% else %}
                        <li{% if g == group %} class="active"{% endif %}>
                          <a href="{% url 'cosinnus:group-dashboard' group=g.slug %}"><span class="glyphicon glyphicon-globe"></span>{% if g == group %}<strong>{{ g.name }}</strong>{% else %}{{ g.name }}</a>{% endif %}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    <li class="divider"></li>
                  {% endif %}
                  <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span>{% trans "Logout" %}</a></li>
                </ul>
              </li>
            {% else %}
              <li class="dropdown">
                <a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> {% trans "Register" context "the verb"  %}</a>
              </li>
              <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</a></li>
            {% endif %}
            </ul>
          </div>
    {% if group %}
    <div class="row">
      <div class="col-xs-12">
        <nav class="navbar navbar-sub" role="navigation">
          <ul class="nav navbar-nav">
            {% if group.profile %}
              {% url 'community-detail' group=group.slug as profile_url %}
            {% elif group.caravan %}
              {% url 'caravan-detail' group=group.slug as profile_url %}
            {% else %}
              {% url 'cosinnus:group-detail' group=group.slug as profile_url %}
            {% endif %}
            <li><a id="group" href="{{ profile_url }}">
              {% if group.profile %}
                <span class="glyphicon glyphicon-home"></span>
              {% elif group.caravan %}
                <span class="glyphicon glyphicon-road"></span>
              {% else %}
                <span class="glyphicon glyphicon-globe"></span>
              {% endif %}
              {{ group }}</a></li>
              {% if group.profile %}
                {% url 'community-dashboard' group=group.slug as dashboard_url %}
              {% elif group.caravan %}
                {% url 'caravan-dashboard' group=group.slug as dashboard_url %}
              {% else %}
                {% url 'cosinnus:group-dashboard' group=group.slug as dashboard_url %}
              {% endif %}
                <li {% ifequal dashboard_url request.path %} class="active"{% endifequal %}><a href="{{ dashboard_url }}"><span class="glyphicon glyphicon-th"></span>{% trans "Dashboard" %}</a></li>
              {% for app in apps %}
                <li{% if app.active %} class="active"{% endif %}><a href="{{ app.url }}">
                {% if app.label = "Notes" %}
                  <span class="glyphicon glyphicon-bullhorn"></span>
                {% elif app.label = "Todos" %}
                  <span class="glyphicon glyphicon-tasks"></span>
                {% elif app.label = "Etherpads" %}
                  <span class="glyphicon glyphicon-edit"></span>
                {% elif app.label = "Events" %}
                  <span class="glyphicon glyphicon-calendar"></span>
                {% endif %}
                {{ app.label }}</a></li>
              {% endfor %}
          </ul>
          </nav>
      </div>
    </div>
    {% endif %} 
  </nav>