{% extends "cosinnus/base.html" %}
{% load i18n thumbnail %}

{% block page_title %}{% trans "Users" %}{% endblock %}

{% block content %}
    <h1>The gift-economy pioneers, taking part in the first Community-Tour</h1>
    {% if user.is_superuser %}
    <a class="btn btn-primary pull-right" href="{% url 'cosinnus:user-add' %}">{% trans "Add user" %}</a>
    {% endif %}
    
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "User" %}</th>
                <th>{% trans "Skills" %}</th>
                <th>{% trans "Bus" %}</th>
                <th>{% trans "Country" %}</th>
            </tr>
        </thead>
        {% for user in object_list %}
        <tr>
            <th>
                <a href="{% url 'cosinnus:user-detail' username=user.username %}">
                {% if user.cosinnus_profile.avatar %}
                  <img class="avatar media-object" src="{% thumbnail user.cosinnus_profile.avatar "70x0" crop=1 upscale=1 %} "60x60" crop=1 upscale=1 %}">
                {% else %}
                  <img class="avatar media-object" src="http://placehold.it/30x30">
                {% endif %}
                {{ user.username }}
                </a>
            </th>
            <th>{% for tag in user.cosinnus_profile.skills.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</th>
            <th>
                {% if user.cosinnus_profile.has_bus %}
                {% if user.cosinnus_profile.bus_image %}
                    <img src="{% thumbnail object.bus_image "200x0" crop=1 upscale=1 %}" />
                {% endif %}
                {% endif %}
            </th>
            <th>
                {{ user.cosinnus_profile.get_country_display }}
            </th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        {% trans "There are no users yet, join now!." %}
    {% endif %}
{% endblock %}
