{% extends "cosinnus/base.html" %}
{% load i18n bootstrap3 %}

{% block page_title %}{% trans "Edit" %} username{% trans "'s Profile" %}{% endblock %}

{% block content %}
  <form action="" method="post" enctype="multipart/form-data" class="form-horizontal" role="form">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal" %}
    {% trans "Save" as submit_label %}
    {% trans "Cancel" as reset_label %}
    {% url 'cosinnus:profile-detail' as reset_link %}
    {% buttons submit=submit_label reset=reset_label reset_link=reset_link layout='horizontal' %}{% endbuttons %}
  </form>
{% endblock content %}
