$primary: #da6137;
$secondary: #f4ede3;
$third: #b4502c;
$yellow: #de7a08;
$orange: #ff7800;
$red: #e34a26;
$brown: #452912;
$purple: #80143b;



@font-face {
    font-family: 'bree_serif';
    src: url('../fonts/breeserif-regular-webfont.eot');
    src: url('../fonts/breeserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/breeserif-regular-webfont.woff2') format('woff2'),
         url('../fonts/breeserif-regular-webfont.woff') format('woff'),
         url('../fonts/breeserif-regular-webfont.ttf') format('truetype'),
         url('../fonts/breeserif-regular-webfont.svg#bree_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-italic-webfont.eot');
    src: url('../fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-italic-webfont.woff') format('woff'),
         url('../fonts/lato-italic-webfont.ttf') format('truetype'),
         url('../fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato-bolditalic-webfont.eot');
    src: url('../fonts/lato-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bolditalic-webfont.woff') format('woff'),
         url('../fonts/lato-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/lato-bolditalic-webfont.svg#latobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}


/*********** Default **************/

body {
	background: $secondary;
	font-family: 'lato';
}


.btn-primary {
	background-color: $primary;
	border-color: $third;
	color: $secondary;
}

a {
	color: $yellow;
}

a:hover {
	color: $brown;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'bree_serif', Courier, serif;
	color: $primary;
}

h1 + h2 {
	margin-top: -10px;
}

h2 {
	font-size: 30px;
}

.gradient {
	-webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(100%, $secondary));
	background-image: -webkit-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -moz-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -ms-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -o-linear-gradient(top,#e5e5e5, $secondary);
	background-image: linear-gradient(top,#e5e5e5, $secondary);
	background-size: 100% 52px;
	background-repeat: no-repeat;
}

/************ Header ****************/

.header.navbar {
	position: fixed;
	top: 0px;
	background-color: rgba($primary, 0.7);
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	z-index: 11;
    width: 100%;
}

.header {
	.navbar-brand {
		h1, h2 {
			color: $secondary;
			font-size: 20px;
			margin-top: 0px;
			margin-bottom: 0px;
			font-family: 'bree_serif';
			font-weight: normal;
		}
		h2 {
			font-family: "lato",Helvetica,Arial,sans-serif;
			font-size: 16px;
		}
	}
}

.navbar-default .navbar-brand {
	background: url('../img/ecobasa_flower.png') no-repeat right;
	background-size: 16%;
	padding-right: 34px;
	color: $secondary;
}

.navbar-default ul.navbar-nav {
	& > li > a {
		color: $secondary;
		&:hover {
			color: $brown;
		}
	}
	.dropdown > a .caret {
		border-top-color: $secondary;
		border-bottom-color: $secondary;
	}
	.open > a, 
	.open > a:hover, 
	.open > a:focus {
		color: $primary;
	}
}

ul.dropdown-menu {
	background: rgba($primary, .8);
	color: $secondary;
	width: 100%;
	min-width: initial;
	> li > a {
		color: $secondary;
		padding: 3px 11px;
	}
	> .active > a,
	> .active > a:hover,
	> .active > a:focus,
	> li > a:hover {
		background-color: $secondary;
		color: $primary;
	}
}

li#language-chooser {
	width: 90px;
	a {
		text-align: right;
	}
	ul.dropdown-menu {
		li a {
			color: $secondary;
			&:hover {
				color: $brown;
			}
		}
		li.active a {
			color: $brown;
		}
	}
}

/************* Content ***************/

.container.content {
	padding-top: 50px;
	padding-bottom: 80px;
}

/*********** Startpage ****************/

body#start > .container {
	padding-top: 0px;
	margin-top: -40px;
}

body#start {
	.footer.navbar {
		position: relative;
		margin-top: -50px;
	}
}

.description {
	text-align: center;
	padding-top: 2%;
	height: 190px;
	background: url('../img/background.jpg');
	color: $secondary;
	a {
		color: $secondary;
		&:hover {
			text-decoration: none;
			color: $brown;
		}
	}
	h1 {
		font-size: 45px;
		margin-bottom: 10px;
		color: $secondary;
		margin-top: 20px;
	}
	p {
		font-size: 18px;
	}
}

.image {
	position: relative;
	> img {
		width: 100%;
		height: auto;
	}
}

.caption-wrapper {
	position: absolute;
	top: 100px;
	width: 100%;
	.carousel-caption {
		position: relative;
		margin-bottom: 50px;
		h1, p {
			position: static;
			text-align: left;
		}
		h1 {
			margin-top: 30px;
			margin-bottom: 0px;
		}
		h2 {
			color: $secondary;
			font-family: lato;
			font-weight: bold;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		p {
			margin-top: 15px;
			margin-bottom: 50px;
		}
		&.static {
			height: 100%;
		}
		.bus {
			margin-top: 40%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		.heart {
			margin-top: 20%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
	}
}

.modal .moda-body {
	& > h1 {
		margin-top: 0px;
	}
}

.container#video {
	padding-top: 110px !important;
	padding-bottom: 70px;
	h1 {
		margin-top: 0px;
	}
}

/*************** Slider *****************/

.carousel-caption {
	color: $secondary;
	text-align: left;
	left: 0px;
	right: 0px;
	top: 40%;
	height: 220px;
	padding-bottom: 0px;
	background: rgba(0, 0, 0, 0.25);
	a {
		color: $secondary;
		&:hover {
			text-decoration: none;
			color: $secondary;
		}
	}
	h1, p {
		position: absolute;
		left: 20%;
		right: 20%;
		text-align: center;
	}
	h1 {
		color: $secondary;
		font-size: 45px;
		margin-top: 15px;
	}
	p {
		top: 105px;
		font-size: 18px;
	}
}

.carousel-control {
	z-index: 10;
	.arrow {
		width: 59px;
		height: 61px;
		position: absolute;
		top: 50%;
		z-index: 5;
		display: inline-block;
	}
	&.left .arrow {
		background: url('../img/arrow-left.png') no-repeat;
	}
	&.right .arrow {
		background: url('../img/arrow-right.png') no-repeat;
	}
}

/************** About Page ***************/

.about h1 {
	margin-top: 5px;
}

.cc_logo {
	display: block;
	height: 65px;
	width: 187px;
	&.urban {
		background: url('../img/urbancclogo.png') no-repeat;
	}
	&.danube {
		background: url('../img/danubecclogo.png') no-repeat;
		float: right;
	}
}

.danube-info {
	text-align: right;
	.cc_description {
		float: right;
	}
	p {
		float: right;
	}
}

#container, #progress_bar_wrapper {
	position:relative;
}

#bus {
	background: url('../img/bus.png') no-repeat center;
	transition: 1s;
    left: 0;
	display: block;
	width: 200px;
	height: 179px;
	margin: 20px 0 20px 0;
	background-size: contain;
}

a[data-toggle=tooltip] {
	width:5px;
	height:15px;
	position:absolute;
	background-color:#000;
	cursor: pointer;
	top: -15px;
}

/***************Communities**************/

#community-map {
	z-index: 1;
}

.community-map-small { 
	height: 300px; 
}

.community-map-middle { 
	height: 400px; 
}

.community-map-large {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
}

.view-select {
	position: absolute;
	left: 45%;
	top: 20px;
	margin: 10px 10px 0 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	z-index: 7;
	border-radius: 4px;
}

.leaflet-top {
	top: 20px;
}

#community-map button {
	z-index: 7;
}


/*********** Registration **************/

.register {
	margin-top: 40px;
	padding: 20px 36px;
}

.register.btn {
	width: 100%;
	padding: 10%;
	margin: 5% auto;
	font-size: xx-large;
}

.navbar.navbar-default.registration {
	background-color: $third;
	.navbar-nav>.active>a {
		color: #555;
		background-color: $primary;
	}
}

form#form-register-member,
form#form-register-community {
margin-top: 20px;
}

#slide-member-bus-ask .btn {
  font-size: large;
}

.slide .proceed .glyphicon {
  font-size: xx-large;
}

#slide-community-wishlist #id_wishlist_seeds_num,
#slide-community-wishlist #id_wishlist_seeds_kind {
  height: 40px; /* can't use % */
}

#slide-member-bus-ask .centered,
#slide-member-welcome .jumbotron {
  text-align: center;
}

#slide-community-basic .register,
#slide-member-bus-details .register {
  text-align: center;
}

#slide-member-bus-ask button.None {
	font-size: xx-large;
	margin-top: 40px;
	padding: 20px 36px;
}

/**************** Team Page *******************/

.media-list {
	margin-top: 50px;
	h2.media-heading {
		font-size: 40px;
		margin-bottom: 10px;
	}
	li.media {
		margin-bottom: 40px;
	}
}

img.avatar {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed;
	padding: 5px;
	margin-top: 37px;
}

.media>.pull-left {
	margin-right: 60px;
}

span.role {
	font-size: 20px;
	margin-left: 20px;
	color: $purple;
}

/*************** Community-Profiles **************/

#profile {
	.content h2 {
		font-size: 20px;
		padding: 10px;
		background: $primary;
		color: $secondary;
		border: 1px dotted $third;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}

.sidebar {
	.data {
		margin-right: 5px;
	}
	.community-map-small {
		margin-top: 20px;
	}
}

/**************** Pioneer-Detail ******************/

img.avatar {
	margin-bottom: 20px;
}



/************* Footer ******************/

#footer {
	margin-top: 50px;
	background: url('../img/footer.png') no-repeat bottom center;
	height: 650px;
	h2 {
		border: none;
		background: none;
		color: $primary;
	}
}

.footer.navbar {
	position: fixed;
	bottom: 0px;
	background-color: rgba($primary, 0.7);
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
    width: 100%;
}

#myCanvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
}


/******************** Responsive ***********************/

.video-responsive { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	margin-bottom: 20px;
} 
 
.video-responsive iframe, .video-responsive object, .video-responsive embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%; 
}

@media (max-width: 992px) { 
	nav.header.navbar {
		position: relative;
		background-color: rgba(218, 97, 55, 1);
	}
	#carousel-startpage {
		.carousel-caption {
			position: relative;
			display: block;
			padding-bottom: 20px;
			height: auto;
			h1, h2, p {
				position: relative;
			}
			h1 {
				margin-top: 0px;
				margin-bottom: 10px;
				font-size: 30px;
			}
			p {
				top: 0px;
				font-size: 16px;
			}
		}

	}
	.description {
		height: 138px;
		h1 {
			font-size: 25px;
		}
		p {
			font-size: 17px;
		}
	}
	.caption-wrapper {
		top: 20px;
		.carousel-caption {
			img.bus {
				margin-top: 25px;
			}
			img.heart {
				margin-top: 25px;
			}
			h1, h2, p {
				text-align: center;
			}
			h1 {
				font-size: 35px;
			}
			h2 {
				font-size: 25px;
			}
		}
	}
	.footer.navbar {
		position: relative;
		background-color: rgba(218, 97, 55, 1);
	}
}