$primary: #da6137;
$secondary: #f4ede3;
$third: #b4502c;

@font-face {
    font-family: 'archistico';
    src: url('../fonts/Archistico_Bold-webfont.eot');
    src: url('../fonts/Archistico_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archistico_Bold-webfont.woff') format('woff'),
         url('../fonts/Archistico_Bold-webfont.ttf') format('truetype'),
         url('../fonts/Archistico_Bold-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*********** Default **************/

body {
	background: $secondary;
}


.btn-primary {
	background-color: $primary;
	border-color: $third;
	color: $secondary;
}

a {
	color: $primary;
	&:hover,
	&:focus {
		color: $primary;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 50px;
	margin-bottom: 30px;
	font-family: 'archistico', Courier, serif;
	color: $primary;
}

h2 {
	font-size: 30px;
}

.gradient {
	-webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(100%, $secondary));
	background-image: -webkit-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -moz-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -ms-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -o-linear-gradient(top,#e5e5e5, $secondary);
	background-image: linear-gradient(top,#e5e5e5, $secondary);
	background-size: 100% 52px;
	background-repeat: no-repeat;
}



/************ Header ****************/

.header.navbar {
	background-color: $primary;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	z-index: 3;
}

.header {
	.navbar-brand {
		h1, h2 {
			color: $secondary;
			font-size: 20px;
			margin-top: 0px;
			margin-bottom: 0px;
		}
		h2 {
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 16px;
		}
	}
}

.navbar-default .navbar-brand {
	background: url('../img/community-tours_logo_small.png') no-repeat left;
	background-size: 55px 52px;
	margin-left: 20px;
	padding-left: 66px;
	padding-top: 13px;
	color: $secondary;
}

.navbar-default ul.navbar-nav {
	float: left;
	& > li > a {
		color: $secondary;
		padding-top: 20px;
		&:hover {
			color: $third;
		}
	}
	.dropdown > a .caret {
		border-top-color: $secondary;
		border-bottom-color: $secondary;
	}
	.open > a, 
	.open > a:hover, 
	.open > a:focus {
		color: $primary;
	}
}

ul.dropdown-menu {
	background: rgba($primary, .8);
	color: $secondary;
	width: 100%;
	min-width: initial;
	> li > a {
		color: $secondary;
		padding: 3px 11px;
	}
	> .active > a,
	> .active > a:hover,
	> .active > a:focus,
	> li > a:hover {
		background-color: $secondary;
		color: $primary;
	}
}

/*********** Sub Navigation ****************/

nav.navbar.navbar-sub {
	background-color: $third;
	min-height: 80px;
	border-radius: 40px;
	/*top: -1px;*/
	/*top: 27px;*/
	margin-top: -40px;
	margin-left: 80px;
	display: table;
	padding: 48px 10px 0px 40px;
	z-index: 2;
	position: absolute;
	/*&:hover {
		-webkit-transition: top 300ms;
    	transition: top 300ms;
		top: 27px;
		.menu-bus {
			bottom: -19px;
			-webkit-transition: bottom 300ms;
    		transition: bottom 300ms;
		}
	}*/
	.menu-bus {
		display: block;
		float: left;
		background: url('../img/bus-small.png') $third;
		height: 51px;
		width: 52px;
		border: 5px solid $third;
		height: 50px;
		width: 53px;
		border: 10px solid #b4502c;
		border-radius: 23px;
		position: absolute;
		left: 20px;
		/*bottom: -29px;*/
		bottom: -19px;
	}
	ul {
		list-style: none;
		& > li {
			display: inline-block;
			margin-right: 20px;
			margin-top: 10px;
			& a {
				color: $secondary;
				&:hover {
					color: $primary;
				}
			} 
		}
	}
	ul.dropdown-menu {
		width: auto;
	}
}

.container.content {
	padding-top: 60px;
}

/*********** Startpage ****************/

body#start > .container {
	padding-top: 0px;
}

div.announcements h3 {
	margin-top: 0px;
}

div.announcement {
	margin-top: 50px;
}

/*************** Slider *****************/

.carousel-caption {
	color: $secondary;
	text-align: left;
	width: 580px;
}

.carousel-indicators {
	bottom: -7px;
}

/************** About Page ***************/

.about h1 {
	margin-top: 5px;
}

.cc_logo {
	display: block;
	height: 65px;
	width: 187px;
	&.urban {
		background: url('../img/urbancclogo.png') no-repeat;
	}
	&.danube {
		background: url('../img/danubecclogo.png') no-repeat;
		float: right;
	}
}

.danube-info {
	text-align: right;
	.cc_description {
		float: right;
	}
	p {
		float: right;
	}
}

#container, #progress_bar_wrapper {
	position:relative;
}

#bus {
	background: url('../img/bus.png') no-repeat center;
	transition: 1s;
    left: 0;
	display: block;
	width: 200px;
	height: 179px;
	margin: 20px 0 20px 0;
	background-size: contain;
}

a[data-toggle=tooltip] {
	width:5px;
	height:15px;
	position:absolute;
	background-color:#000;
	cursor: pointer;
	top: -15px;
}

img.left {
	float: left;
	margin-right: 10px;
}

/*************** Blog *******************/

.tags {
	margin-bottom: 60px;
}

.video-responsive { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: 
	hidden; 
} 
 
.video-responsive iframe, 
.video-responsive object, 
.video-responsive embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%;
}

/***************Communities**************/

.community-map-small { 
	height: 300px; 
}

.community-map-middle { 
	height: 400px; 
}

.community-map-large {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	top: 67px;
	z-index: 1;
}

.view-select {
	position: absolute;
	left: 45%;
	top: 20px;
	margin: 10px 10px 0 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	z-index: 7;
	border-radius: 4px;
}

.leaflet-top {
	top: 20px;
}

#community-map button {
	z-index: 7;
}


/*********** Registration **************/

button.continue {
	padding-left: 60px;
	padding-right: 60px;
}

.register {
	margin-top: 40px;
	padding: 20px 36px;
}

.register .btn {
	width: 100%;
	padding: 10%;
	margin: 5% auto;
	font-size: xx-large;
}

.navbar.navbar-default.registration {
	background-color: $third;
	.navbar-nav>.active>a {
		color: #555;
		background-color: $primary;
	}
}

form#form-register-member,
form#form-register-community {
margin-top: 20px;
}

#slide-member-bus-ask .btn {
  font-size: large;
}

.slide .proceed .glyphicon {
  font-size: xx-large;
}

#slide-community-wishlist #id_wishlist_seeds_num,
#slide-community-wishlist #id_wishlist_seeds_kind {
  height: 40px; /* can't use % */
}

#slide-member-bus-ask .centered,
#slide-member-welcome .jumbotron {
  text-align: center;
}

#slide-community-basic .register,
#slide-member-bus-details .register {
  text-align: center;
}

#slide-member-bus-ask button.None {
	font-size: xx-large;
	margin-top: 40px;
	padding: 20px 36px;
}

input.osmfield-input {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	margin-bottom: 10px;
}

div.osmfield-map {
  width: 350px;
  height: 250px;
  border: 1px solid black;
  position:absolute;
  left:0;
  top:30px;
  z-index:1000;
}
span.osmfield-wrapper {
  position:relative;
}

/*************** Community-Profiles **************/

#profile {
	.content h2 {
		font-size: 20px;
		padding: 10px;
		background: $primary;
		color: $secondary;
		border: 1px dotted $third;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}

.sidebar {
	.data {
		margin-right: 5px;
	}
	.community-map-small {
		margin-top: 20px;
	}
}


/*************** Pioneer-Profiles **************/

a.email {
	margin-top: 20px;
}


/*************** Caravan-Profiles **************/

body#profile {
	img.avatar {
		margin-bottom: 20px;
	}
}

.comment.tooltip {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
	.tooltip-inner {
		background-color: $primary;
		color: $secondary;
		text-align: left;
		max-width: 100%;
		position: relative;
		padding: 20px;
	}
	.tooltip-arrow {
		border-right-color: $primary;
		border-left-color: $primary;
	}
	.tooltip-inner h3 {
		color: $secondary;
		margin-bottom: 8px;
	}
	a {
		color: $secondary;
		&:hover {
			color: $third;
		}
	}
	.created {
		font-size: 11px;
		margin-top: -10px;
		margin-right: -10px;
		text-shadow: 1px -1px 0px $third;
	}
}

.posts > h2 a.btn {
	margin-top: -6px;
}

.post {
	margin-bottom: 60px;
	overflow: auto;
	img {
		margin-bottom: 20px;
	}
	h3 {
		margin-top: 0px;
		margin-bottom: 0px;

	}
	span.details {
		margin-bottom: 15px;
		display: block;
	}
}

/*************** Dashboard **************/

#dashboard {
	padding-top: 40px;
	.panel {
		border: 1px dotted $primary;
		background-color: $secondary;
		&.panel-default>.panel-heading {
			background-color: $primary;
			h3.panel-title {
				color: $secondary;
			}
		}
		.table-striped>tbody>tr:nth-child(odd)>td, 
		.table-striped>tbody>tr:nth-child(odd)>th {
			background-color: #F9F1E7;
		}
	}
}

ul#postman_menu {
	list-style: none;
	padding-left: 0px;
	li {
		display: inline;
		background: $primary;
		border-radius: 5px;
		padding: 10px;
		a {
			color: $secondary;
		}
	}
}

span.mailcount {
	background: $primary;
	border-radius: 10px;
	padding: 1px 5px;
}

.label {
	border-radius: 1.25em;
	background: $primary;
	&:hover {
		background: $third;
	}
}


/************* Footer ******************/

#footer {
	margin-top: 50px;
	background: url('../img/footer.png') no-repeat bottom center;
	height: 650px;
	h2 {
		border: none;
		background: none;
		color: $primary;
	}
}

#myCanvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
}
