$primary: #da6137;
$secondary: #f4ede3;
$third: #b4502c;

@font-face {
    font-family: 'archistico';
    src: url('../fonts/Archistico_Simple-webfont.eot');
    src: url('../fonts/Archistico_Simple-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Archistico_Simple-webfont.woff') format('woff'),
         url('../fonts/Archistico_Simple-webfont.ttf') format('truetype'),
         url('../fonts/Archistico_Simple-webfont.svg#archisticonormal') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*********** Default **************/

body {
	background: $secondary;
}

body > .container {
	padding-top: 20px;
}

.btn-primary {
	background-color: $primary;
	border-color: $third;
	color: $secondary;
}

a {
	color: $primary;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: 'archistico', Courier, serif;
	color: $primary;
}

h2 {
	font-size: 30px;
}

.gradient {
	-webkit-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	box-shadow: inset 0 5px 10px -5px rgba(0,0,0,0.4);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#e5e5e5),color-stop(100%, $secondary));
	background-image: -webkit-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -moz-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -ms-linear-gradient(top,#e5e5e5, $secondary);
	background-image: -o-linear-gradient(top,#e5e5e5, $secondary);
	background-image: linear-gradient(top,#e5e5e5, $secondary);
	background-size: 100% 52px;
	background-repeat: no-repeat;
}

/************ Header ****************/

.header.navbar {
	background-color: $primary;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	height: 60px;
	padding-top: 5px;
}

.navbar-default .navbar-brand {
	background: url('../img/community-tours_logo_small.png') no-repeat left;
	background-size: 10%;
	margin-left: 20px;
	padding-left: 60px;
	color: $secondary;
}

.navbar-default ul.navbar-nav {
	float: right;
	&>li>a {
		color: $secondary;
	}
	.dropdown>a .caret {
		border-top-color: $secondary;
		border-bottom-color: $secondary;
	}
}


/*********** Startpage ****************/

body#start > .container {
	padding-top: 0px;
}

.container.content {
	padding-top: 50px;
}

.register {
	margin-top: 40px;
	padding: 20px 36px;
}

/*************** Slider *****************/

.carousel-caption {
	color: $secondary;
	text-align: left;
	width: 580px;
}

/************** About Page ***************/

.about h1 {
	margin-top: 5px;
}

.cc_logo {
	display: block;
	height: 65px;
	width: 187px;
	&.urban {
		background: url('../img/urbancclogo.png') no-repeat;
	}
	&.danube {
		background: url('../img/danubecclogo.png') no-repeat;
		float: right;
	}
}

.danube-info {
	text-align: right;
	.cc_description {
		float: right;
	}
	p {
		float: right;
	}
}

#container, #progress_bar_wrapper {
	position:relative;
}

#bus {
	background: url('../img/bus.png') no-repeat center;
	display: block;
	width: 200px;
	height: 179px;
	margin: 20px 0 20px 0;
	background-size: contain;
}

a[data-toggle=tooltip] {
	width:5px;
	height:15px;
	position:absolute;
	background-color:#000;
	cursor: pointer;
	top: -15px;
}

/***************Communities**************/

#community-map {
	z-index: 1;
}

.community-map-small { 
	height: 300px; 
}

.community-map-middle { 
	height: 400px; 
}

.community-map-large {
	position: absolute;
	top: 52px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.view-select {
	position: absolute;
	left: 45%;
	top: 20px;
	margin: 10px 10px 0 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	z-index: 7;
	border-radius: 4px;
}

.leaflet-top {
	top: 20px;
}

#community-map button {
	z-index: 7;
}


/*********** Registration **************/

.register.btn {
	width: 100%;
	padding: 10%;
	margin: 5% auto;
	font-size: xx-large;
}

.navbar.navbar-default.registration {
	background-color: $third;
	.navbar-nav>.active>a {
		color: #555;
		background-color: $primary;
	}
}

#slide-member-bus-ask .btn {
  font-size: large;
}

.slide .proceed .glyphicon {
  font-size: xx-large;
}

#slide-community-wishlist #id_wishlist_seeds_num,
#slide-community-wishlist #id_wishlist_seeds_kind {
  height: 40px; /* can't use % */
}

#slide-member-bus-ask .centered,
#slide-member-welcome .jumbotron {
  text-align: center;
}

#slide-community-basic .register,
#slide-member-bus-details .register {
  text-align: center;
}

#slide-member-bus-ask button.None {
	font-size: xx-large;
	margin-top: 40px;
	padding: 20px 36px;
}


/*************** Community-Profiles **************/

#profile {
	h2 {
		font-size: 20px;
		padding: 10px;
		background: $primary;
		color: $secondary;
		border: 1px dotted $third;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
}

.sidebar {
	.data {
		margin-right: 5px;
	}
	.community-map-small {
		margin-top: 20px;
	}
}


/************* Footer ******************/

#footer {
	margin-top: 50px;
	background: url('../img/footer.png') no-repeat bottom center;
	height: 650px;
	h2 {
		border: none;
		background: none;
		color: $primary;
	}
}

#myCanvas {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
}
