{% extends "base.html" %}
{% load static i18n bootstrap3 ecobasa_registration sekizai_tags%}

{% block page_title %}{% trans "Registration" %}{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
<link href="{% static "css/vendor/select2-bootstrap.css" %}" rel="stylesheet"/>
<link href="{% static "css/vendor/select2.css" %}" rel="stylesheet"/>
{% endblock extrahead %}

{% block content %}
    <h1>{% trans "Registration" %}</h1>

    <form action="." method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% trans "Create account" as submit_label %}
      {% buttons submit=submit_label %}{% endbuttons %}
    </form>
{% endblock content %}

{% block extrafooter %}
{{ block.super }}
{{ form.media.js }}
{% get_interests as interests %}
{% get_products as products %}
{% get_skills as skills %}
<script src="{% static "js/vendor/select2/select2.min.js" %}"></script>
<script>
$(document).ready(function() {
  $('#id_country').select2({
    placeholder: "Select a Country",
    allowClear: true
  });
  $("#id_interests").select2({
  tags:[{% for tag in interests %}"{{ tag }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
  tokenSeparators: [",", " "]
  });
  $("#id_skills").select2({
  tags:[{% for tag in skills %}"{{ tag }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
  tokenSeparators: [",", " "]
  });
  $("#id_products").select2({
  tags:[{% for tag in products %}"{{ tag }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
  tokenSeparators: [",", " "]
  });
});
</script>
{% endblock extrafooter %}
