{% extends "base.html" %}
{% load i18n ecobasa_tags thumbnail static %}

{% block title %}{% trans "Registration" %}{% endblock %}

{% block body %}team{% endblock body %}

{% block content %}
<div class="row">
  {% if user.is_ambassador %}
    <h1>{% trans "Welcome on board" %}, {{ user.first_name|default:user.username }}</h1>
		<p>{% trans "As your communities gift-ambassador it is on you to spread the idea and function of a gift-economy network among other members of your community, they can sign up as pioneers and join your community-group" %}</p>
		<p>{% trans "For now, it is your job to post offers and needs the community has to the profile, so it stays up to date. Without wishing, things cannot come to you :)" %}</p>
		<p>{% trans "You can contact other communities that you would like to recieve goods and services from and tell them to sign up on this website, so we can connect them to the network." %}</p>
		
		<p>{% trans "You can use this websites tools for your community! You can organize events, doodle for available times, write texts and assign tasks and of course network with the other communities!" %}</p>
		<p>{% trans "This network is grown and maintained by its members, as we dont get many donations, we can not provide much of a service, so please contribute your skills (design, programming, communcation, networking, etc..) or some ideas and feedback" %}  <a href="/contact"></a>{% trans "Just get in contact with us!" %} {% trans "As long as we don't get a free hosting, we have to pay the server costs. Thanks for your support!" %}</p>
		<div class="row">
	    <div class="col-xs-12 text-center">
		    <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/ecobasa-hosting-2018?show_content=true" height="685px" width="100%" style="max-width:100%; min-width:100%; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
	    </div>
  	</div>

  {% else %}
	<div class="col-xs-12">
	<div class="visible-xs">
		{% if user.cosinnus_profile.avatar %}
	    <img class="avatar small pull-right" src="{{ user.cosinnus_profile.avatar|thumbnail_url:"avatar_large" }}" alt="{%trans "That's you" %}" data-toggle="tooltip" data-placement="bottom" title="{%trans "That's you" %}"/>
	  {% else %}
	    <a href="{% url 'pioneer-edit' username=user.username %}"><img class="avatar pull-right" src="{% static "img/avatar.png" %}" alt="{%trans "That's you" %}" data-toggle="tooltip" data-placement="bottom" title="{%trans "We don't have a photo of you yet. Give yourself a face now." %}"/></a>
	  {% endif %}
	</div>
    <h1>{% trans "Welcome on board" %}, {{ user.first_name|default:user.username }}</h1>
		<h2>{% trans "By giving something, you are co-creating the sustainable gift-economy network!" %}</h2>
	</div>
		<div class="hidden-xs col-md-3 center">
			<center>
				<a href="https://ecobasa.org/media/filer_public/82/c3/82c335b9-da85-4194-8fe2-3818cdb1ecfd/gift-ambassadors_community_manual_23_compressed.pdf" target="_blank"><img align="center" src="{% static "img/Gift-Ambassador-Manual-Cover.jpg" %}" alt="{% trans "Download the Gift-Ambassador Manual" %}" data-toggle="tooltip" data-placement="top" title="{% trans "Download the Gift-Ambassador Manual" %}"></a>
			</br></br>
				<a class="btn btn-primary btn-lg" href="https://ecobasa.org/media/filer_public/82/c3/82c335b9-da85-4194-8fe2-3818cdb1ecfd/gift-ambassadors_community_manual_23_compressed.pdf" target="_blank"><span class="glyphicon glyphicon-download"></span>Download</a>
			</div>
		</center>
		<div class="col-xs-12 col-md-6">
			<p>{% trans "If you want to go on" %} <a href="/community-tours/">Community-Tours</a> {% trans "with other people, invite them to join this network. You can" %} <a href="/community-tours/tours/add/">{% trans "create a new Tour" %}</a> {% trans "and use the tools of this website to communicate, organize and network!" %}</p>
			<p>{% trans "You can contact communities that you would like to visit and tell them to sign up on this website or update their profile, so we have their information. Then we can send them the experts and resources they wish for." %}</p>
			<p>{% trans "To support your new job as a pioneer of gift-economy we created" %} <a href="https://ecobasa.org/media/filer_public/82/c3/82c335b9-da85-4194-8fe2-3818cdb1ecfd/gift-ambassadors_community_manual_23_compressed.pdf">{% trans "this little manual." %}</a> {% trans "It will tell you how to grow a gift-economy network around your community and how to make a living in this new culture of trust and support." %}</p>
			<div class="visible-xs">
				<a href="https://ecobasa.org/media/filer_public/82/c3/82c335b9-da85-4194-8fe2-3818cdb1ecfd/gift-ambassadors_community_manual_23_compressed.pdf" target="_blank"><img class="center-block" src="{% static "img/Gift-Ambassador-Manual-Cover.jpg" %}" alt="{% trans "Download the Gift-Ambassador Manual" %}" data-toggle="tooltip" data-placement="top" title="{% trans "Download the Gift-Ambassador Manual" %}"></a>
				<a class="btn btn-primary btn-lg" href="https://ecobasa.org/media/filer_public/82/c3/82c335b9-da85-4194-8fe2-3818cdb1ecfd/gift-ambassadors_community_manual_23_compressed.pdf"><span class="glyphicon glyphicon-download"></span>Download</a>+ü+

		+

			</div>

			<p>{% trans "This network is grown and maintained by its members, as we dont get many donations, we can not provide much of a service, so please contribute your skills (design, programming, communcation, networking, etc..) or some ideas and feedback" %}  <a href="/contact"></a>{% trans "Just get in contact with us!" %} {% trans "As long as we don't get a free hosting, we have to pay the server costs. Thanks for your support!" %}</p>
		</div>
		<div class="hidden-xs col-md-3">
			{% if user.cosinnus_profile.avatar %}
		    <img class="avatar small pull-right" src="{{ user.cosinnus_profile.avatar|thumbnail_url:"avatar_large" }}" alt="{%trans "That's you" %}" data-toggle="tooltip" data-placement="bottom" title="{%trans "That's you" %}"/>
		  {% else %}
		    <a href="{% url 'pioneer-edit' username=user.username %}"><img class="avatar pull-right" src="{% static "img/avatar.png" %}" alt="{%trans "That's you" %}" data-toggle="tooltip" data-placement="bottom" title="{%trans "We don't have a photo of you yet. Give yourself a face now." %}"/></a>
		  {% endif %}
		</div>
	</div>
		<div class="row">
	    <div class="col-xs-12 text-center">
	    	<h1>Support the network!</h1>
	    </br>
		    <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/ecobasa-hosting-2018?show_content=true" height="685px" width="100%" style="max-width:100%; min-width:100%; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
				</br></br>
				<a class="btn btn-primary btn-lg" href="{% url 'cosinnus:user-dashboard' %}"><span class="glyphicon glyphicon-dashboard"></span>{% trans "Ok Captain, take me to the dashboard!" %}</a>
	    </div>
  	</div>
	{% endif %}
{% endblock %}
