{% extends "base.html" %}
{% load i18n static bootstrap3 honeypot ecobasa_tags browserid %}

{% block page_title %}{% trans "Registration" %}{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
<link href="{% static "css/vendor/select2-bootstrap.css" %}" rel="stylesheet"/>
<link href="{% static "css/vendor/select2.css" %}" rel="stylesheet"/>
{% browserid_css %}
{% endblock extrahead %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    {% browserid_info %}
    {% if user.is_authenticated %}
      <p>{% trans "Already signed in as" %}: {{ user.email }}</p>
      {% browserid_logout text='Logout' %}
    {% else %}
      {% browserid_login text='Login' color='dark' %}
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <form id="form-register-member" action="{% url 'register-member' %}" method="post" enctype="multipart/form-data" novalidate="novalidate">
      {% csrf_token %}
      {{ form.has_bus }}
    
      <div class="row">
        {% render_honeypot_field %}
        <div class="col-xs-3">{% bootstrap_label form.username.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.username show_label=False %}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.email.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.email show_label=False %}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.password.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.password show_label=False %}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.password_repeat.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.password_repeat show_label=False %}</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 avatar">
      {% bootstrap_field form.avatar %}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>{% trans "As you might know, this is a gift-economy Network, by signing up on this website, you become a member of the gift-economy network for communities. For the gift-economy to work, we need some information. This is the most important thing and you should really take your time to fill out your profile, so other people can find your skills and start interacting with you. This is the most sustainable investment of time that you can do today!" %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 registration text-center">
      <a class="profile" href="#profile">
        <button type="button" class="btn btn-primary btn-lg">
          <span class="glyphicon glyphicon-pencil"></span> {% trans "Fill out your profile" %}
        </button>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 registration text-center">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg center">
          <span class="glyphicon glyphicon-log-in"></span> {% trans "No, just register" %}</br>
          I will do it later, i promise!
        </button>
      </div>
    </div>
  </div>
    
    
    <div id="profile" class="slide hide">
      <div class="row">
        <div class="col-xs-12">
          <center><h2>{%trans "Profile" %}</h2></center>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.first_name.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.first_name show_label=False %}</div>
      </div>

      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.last_name.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.last_name show_label=False %}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.about.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.about show_label=False %}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.world.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.world show_label=False %}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.ecobasa_what.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.ecobasa_what show_label=False %}</div>
      </div>
      <div class="row">
         <div class="col-xs-12">{% bootstrap_field form.interests %}</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% bootstrap_field form.skills %}<br />
          {% bootstrap_field form.products %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">{% bootstrap_label form.country.label %}</div>
        <div class="col-xs-9">{% bootstrap_field form.country show_label=False %}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 registration2">
          <h2>{% bootstrap_label form.has_bus.label %}</h2>
          <p>{% trans "You can also add a bus later, it would be great if you could ask around among your friends if they want to join us with their bus!" %}</p>
        </div>
        <div class="row registration2">
          <div class="col-xs-6"><a class="profile btn btn-primary btn-lg pull-right bus" href="#slide-member-bus-details">{% trans "YES" %}</a></div>
          <div class="col-xs-6">
            <div class="form-group">
              <button type="submit" class="profile btn btn-primary btn-lg">{% trans "NO, just register me!" %}</button>
            </div>
          </div>
        </div>
      </div>
    
    <div id="slide-member-bus-details" class="slide hide">
      <div class="row">
        <hr>
        <div class="col-xs-1"><i class="fa fa-file-image-o"></i></div>
        <div class="col-xs-11 col-md-4">
          {% bootstrap_field form.bus_image %}
        </div>
        <div class="col-xs-12 col-md-7">

          <div class="row">
            <div class="col-xs-1 icon"><i class="fa fa-newspaper-o"></i></div>
            <div class="col-xs-5">
              {% bootstrap_field form.bus_has_driving_license %}
            </div>
            <div class="col-xs-1 icon"><i class="fa fa-user-plus"></i></div>
            <div class="col-xs-5">
              {% bootstrap_field form.bus_others_can_drive %}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-9"><i class="fa fa-users"></i>{% bootstrap_label form.bus_num_passengers.label %}</div>
            <div class="col-xs-3">{% bootstrap_field form.bus_num_passengers show_label=False %}</div>
          </div>

          <div class="row">
            <div class="col-xs-9"><i class="fa fa-tint"></i>{% bootstrap_label form.bus_consumption.label %}</div>
            <div class="col-xs-3">{% bootstrap_field form.bus_consumption show_label=False %}</div>
          </div>
          
          <div class="row">
            <div class="col-xs-1 icon"><i class="fa fa-gift"></i></div>
            <div class="col-xs-11">{% bootstrap_field form.bus_transport show_label=False %}</div>
          </div>

        </div>
      </div>    
    
      <div class="register">
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg center">
            <span class="glyphicon glyphicon-log-in"></span> {% trans "Register" %}
          </button>
        </div>
      </div>
    </div>
    
    
    </form>
  </div>
</div>
{% endblock content %}


{% block extrafooter %}
{{ block.super }}
{{ form.media.js }}
{% browserid_js %}
<script src="{% static 'js/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'js/ecobasa_profile.js' %}"></script>
<script src="{% static 'js/ecobasa_register.js' %}"></script>
<script type="text/javascript">
var registerAs = 'member';
{% get_interests as interests %}
{% get_products as products %}
{% get_skills as skills %}
var tags = {
  interests: {{ interests|safe }},
  skills: {{ skills|safe }},
  products: {{ products|safe }}
};
</script>
{% endblock extrafooter %}
