{% load i18n cosinnus_tags thumbnail embed_video_tags %}

{% if notes %}
  <table class="table table-striped">
    <thead>
        <td>{% trans "Image" %}</td>
        <td>{% trans "Note" %}</td>
        <td>{% trans "Group" %}</td>
    </thead>
    {% for note in notes %}
        <tr>
            <td><a href="{% url 'cosinnus:note:note' group=note.group.slug slug=note.slug %}">
            {% if note.image %}
                <img src="{{ note.image|thumbnail_url:"avatar_medium" }}">
            {% elif note.video %}
                {% video note.video is_secure=True as video %}
                    <img src="{{ video.thumbnail }}" width="64px">
                {% endvideo %}
            {% else %}
                <img src="https://placehold.it/64x64">
            {% endif %}
            <td><a href="{{ note.get_absolute_url }}"><b>{{ note.title }}</b></a><p>{{ note.text|striptags|urlize|safe|truncatewords:8 }}</td>
            <td>
            {% if note.group.caravan %}
        		<a href="{% url 'caravan-detail' group=note.group.slug %}">
			{% elif note.group.profile %}
        		<a href="{% url 'community-detail' group=note.group.slug %}">
        	{% else %}
        		<a href="{% url 'cosinnus:group-detail' group=note.group.slug %}">
        	{% endif %}{{ note.group }}</a></td>
        </tr>
    {% endfor %}
</table>
{% else %}
    {% trans "There are no notes." %}
{% endif %}