/***************Communities**************/

.nivoSlider img {
	width: 100%;
}

.nivoSlider {
	height: 400px;
}

.community-map-small { 
	height: 400px; 
}

.btn-primary {
	background-color: #ed582f;
	border-color: #ed582f;
	color: #f4ede3;
}

/***************Communities**************/

.community-map-large {
	position: absolute;
	top: 52px;
	left: 0px;
	width: 100%;
	height: 500px;
}

.view-select {
	position: absolute;
	right: 0px;
	margin: 10px 10px 0 0;
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	z-index: 7;
	border-radius: 4px;
}

#community-map button {
	z-index: 7;
}