@font-face {
  font-family: 'Bree Serif';
  src: url("../fonts/breeserif-regular-webfont.eot");
  src: url("../fonts/breeserif-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/breeserif-regular-webfont.woff2") format("woff2"), url("../fonts/breeserif-regular-webfont.woff") format("woff"), url("../fonts/breeserif-regular-webfont.ttf") format("truetype"), url("../fonts/breeserif-regular-webfont.svg#bree_serifregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-regular-webfont.eot");
  src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular-webfont.woff") format("woff"), url("../fonts/lato-regular-webfont.ttf") format("truetype"), url("../fonts/lato-regular-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-bold-webfont.eot");
  src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold-webfont.woff") format("woff"), url("../fonts/lato-bold-webfont.ttf") format("truetype"), url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-italic-webfont.eot");
  src: url("../fonts/lato-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-italic-webfont.woff") format("woff"), url("../fonts/lato-italic-webfont.ttf") format("truetype"), url("../fonts/lato-italic-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato-bolditalic-webfont.eot");
  src: url("../fonts/lato-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bolditalic-webfont.woff") format("woff"), url("../fonts/lato-bolditalic-webfont.ttf") format("truetype"), url("../fonts/lato-bolditalic-webfont.svg#latobold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/*********** Default **************/
body {
  background: #f4ede3;
  font-family: 'Lato';
  color: #452912;
}

.btn-primary {
  background-color: #da6137;
  border-color: #b4502c;
  color: #f4ede3;
}

a {
  color: #de7a08;
}
a:hover, a:focus {
  color: #ff7800;
}

a:hover {
  color: #80143b;
  text-decoration: none;
}

h1, h2 {
  font-family: 'Bree Serif', Courier, serif;
  color: #ff7800;
  margin-top: 30px;
}

h1 + h2 {
  margin-top: -10px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  color: #80143b;
  margin-bottom: 15px;
}

h3, h4, h5, h6 {
  font-family: 'Lato';
  font-weight: bold;
  color: #452912;
}

.gradient {
  -webkit-box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #f4ede3));
  background-image: -webkit-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: -moz-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: -ms-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: -o-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: linear-gradient(top, #e5e5e5, #f4ede3);
  background-size: 100% 52px;
  background-repeat: no-repeat;
}

/************ Header ****************/
.header.navbar {
  position: fixed;
  top: 0px;
  background-color: rgba(218, 97, 55, 0.7);
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  z-index: 11;
  width: 100%;
}

.header .navbar-brand h1, .header .navbar-brand h2 {
  color: #f4ede3;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Bree Serif';
  font-weight: normal;
}
.header .navbar-brand h2 {
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.navbar-default .navbar-brand {
  background: url("../img/ecobasa_flower.png") no-repeat right;
  background-size: 16%;
  padding-right: 34px;
  color: #f4ede3;
}

.navbar-default ul.navbar-nav > li > a {
  color: #f4ede3;
}
.navbar-default ul.navbar-nav > li > a:hover {
  color: #452912;
}
.navbar-default ul.navbar-nav .dropdown > a .caret {
  border-top-color: #f4ede3;
  border-bottom-color: #f4ede3;
}
.navbar-default ul.navbar-nav .open > a,
.navbar-default ul.navbar-nav .open > a:hover,
.navbar-default ul.navbar-nav .open > a:focus {
  color: #452912;
  background: #f4ede3;
}

ul.dropdown-menu {
  background: rgba(218, 97, 55, 0.8);
  color: #f4ede3;
  width: 100%;
  min-width: initial;
}
ul.dropdown-menu > li > a {
  color: #f4ede3;
  padding: 3px 11px;
}
ul.dropdown-menu > .active > a,
ul.dropdown-menu > .active > a:hover,
ul.dropdown-menu > .active > a:focus,
ul.dropdown-menu > li > a:hover {
  background-color: #f4ede3;
  color: #da6137;
}

li#language-chooser {
  width: 90px;
}
li#language-chooser a {
  text-align: right;
}
li#language-chooser ul.dropdown-menu li a {
  color: #f4ede3;
}
li#language-chooser ul.dropdown-menu li a:hover {
  color: #452912;
}
li#language-chooser ul.dropdown-menu li.active a {
  color: #452912;
}

/************* Content ***************/
.container.content {
  padding-top: 80px;
  padding-bottom: 80px;
}

/*********** Startpage ****************/
body#start > .container {
  padding-top: 0px;
  margin-top: -40px;
}

body#start .footer.navbar {
  position: relative;
  margin-top: -50px;
}

.description {
  text-align: center;
  padding-top: 2%;
  height: 190px;
  background: url("../img/background.jpg");
  color: #f4ede3;
}
.description a {
  color: #f4ede3;
}
.description a:hover {
  text-decoration: none;
  color: #452912;
}
.description h1 {
  font-size: 45px;
  margin-bottom: 10px;
  color: #f4ede3;
  margin-top: 20px;
}
.description p {
  font-size: 18px;
}

.image {
  position: relative;
}
.image > img {
  width: 100%;
  height: auto;
}

.caption-wrapper {
  position: absolute;
  top: 100px;
  width: 100%;
}
.caption-wrapper .carousel-caption {
  position: relative;
  margin-bottom: 50px;
}
.caption-wrapper .carousel-caption h1, .caption-wrapper .carousel-caption p {
  position: static;
  text-align: left;
}
.caption-wrapper .carousel-caption h1 {
  margin-top: 30px;
  margin-bottom: 0px;
}
.caption-wrapper .carousel-caption h2 {
  color: #f4ede3;
  font-family: Lato;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.caption-wrapper .carousel-caption p {
  margin-top: 15px;
  margin-bottom: 40px;
}
.caption-wrapper .carousel-caption.static {
  height: 100%;
  background-color: rgba(14, 7, 0, 0.25);
  bottom: auto;
}
.caption-wrapper .carousel-caption.static h1, .caption-wrapper .carousel-caption.static h2, .caption-wrapper .carousel-caption.static p {
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
}
.caption-wrapper .carousel-caption .bus {
  margin-top: 40%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.caption-wrapper .carousel-caption .heart {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.modal .moda-body > h1 {
  margin-top: 0px;
}

.container#video {
  padding-top: 110px !important;
  padding-bottom: 70px;
  margin-top: -53px !important;
}
.container#video h1 {
  margin-top: 0px;
}

/*************** Slider *****************/
.carousel-caption {
  color: #f4ede3;
  left: 0px;
  right: 0px;
  bottom: 100px;
  padding-bottom: 20px;
  background: rgba(14, 7, 0, 0.4);
}
.carousel-caption a {
  color: #f4ede3;
}
.carousel-caption a:hover {
  text-decoration: none;
  color: #f4ede3;
}
.carousel-caption h1, .carousel-caption p {
  margin-left: 20%;
  margin-right: 20%;
}
.carousel-caption h1 {
  color: #f4ede3;
  font-size: 45px;
  margin-top: 15px;
}
.carousel-caption p {
  top: 105px;
  font-size: 18px;
}

.carousel-control {
  z-index: 10;
}
.carousel-control .arrow {
  width: 59px;
  height: 61px;
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control.left .arrow {
  background: url("../img/arrow-left.png") no-repeat;
}
.carousel-control.right .arrow {
  background: url("../img/arrow-right.png") no-repeat;
}

/************** About Page ***************/
.about h1 {
  margin-top: 5px;
}

.cc_logo {
  display: block;
  height: 65px;
  width: 187px;
}
.cc_logo.urban {
  background: url("../img/urbancclogo.png") no-repeat;
}
.cc_logo.danube {
  background: url("../img/danubecclogo.png") no-repeat;
  float: right;
}

.danube-info {
  text-align: right;
}
.danube-info .cc_description {
  float: right;
}
.danube-info p {
  float: right;
}

#container, #progress_bar_wrapper {
  position: relative;
}

#bus {
  background: url("../img/bus.png") no-repeat center;
  transition: 1s;
  left: 0;
  display: block;
  width: 200px;
  height: 179px;
  margin: 20px 0 20px 0;
  background-size: contain;
}

a[data-toggle=tooltip] {
  width: 5px;
  height: 15px;
  position: absolute;
  background-color: #000;
  cursor: pointer;
  top: -15px;
}

/*************** Blog **************/
.label {
  border-radius: 1.25em;
  background: #de7a08;
}

a:hover span.label {
  background: #80143b;
}

body#blog .headimage {
  margin-bottom: 0px;
}
body#blog .headimage img {
  width: 100%;
  height: auto;
  margin-top: -160px;
}

.headimage {
  margin-bottom: 30px;
}

.gradient {
  -webkit-box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 5px 10px -5px rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #f4ede3));
  background-image: -webkit-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: -moz-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: -ms-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: -o-linear-gradient(top, #e5e5e5, #f4ede3);
  background-image: linear-gradient(top, #e5e5e5, #f4ede3);
  background-size: 100% 52px;
  background-repeat: no-repeat;
}

.container.content.blog {
  padding-top: 0px;
}

img.left {
  float: left;
  margin-right: 10px;
}

.tags {
  margin-bottom: 30px;
}

.post {
  margin-bottom: 30px;
}
.post h2 {
  margin-top: 0px;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/***************Communities**************/
#community-map {
  z-index: 1;
}

.community-map-small {
  height: 300px;
}

.community-map-middle {
  height: 400px;
}

.community-map-large {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
}

.view-select {
  position: absolute;
  left: 45%;
  top: 20px;
  margin: 10px 10px 0 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  z-index: 7;
  border-radius: 4px;
}

.leaflet-top {
  top: 20px;
}

#community-map button {
  z-index: 7;
}

/*********** Registration **************/
button.continue {
  padding-left: 60px;
  padding-right: 60px;
}

.register {
  margin-top: 40px;
  padding: 20px 36px;
}

.register.final .btn {
  width: 100%;
  padding: 10%;
  margin: 5% auto;
  font-size: xx-large;
}

.register.btn {
  width: 100%;
  padding: 10%;
  margin: 5% auto;
  font-size: xx-large;
}

.navbar.navbar-default.registration {
  background-color: #b4502c;
}
.navbar.navbar-default.registration .navbar-nav > .active > a {
  color: #555;
  background-color: #da6137;
}
.navbar.navbar-default.registration ul.navbar-nav > li > a:hover {
  color: #da6137;
}

form#form-register-member,
form#form-register-community {
  margin-top: 20px;
}

#slide-member-bus-ask .btn {
  font-size: large;
}

.slide .proceed .glyphicon {
  font-size: xx-large;
}

#slide-community-wishlist #id_wishlist_seeds_num,
#slide-community-wishlist #id_wishlist_seeds_kind {
  height: 40px;
  /* can't use % */
}

#slide-member-bus-ask .centered,
#slide-member-welcome .jumbotron {
  text-align: center;
}

#slide-community-basic .register,
#slide-member-bus-details .register {
  text-align: center;
}

#slide-member-bus-ask button.None {
  font-size: xx-large;
  margin-top: 40px;
  padding: 20px 36px;
}

/**************** Team Page *******************/
.media-list {
  margin-top: 50px;
}
.media-list h2.media-heading {
  font-size: 32px;
  margin-bottom: 10px;
  color: #ff7800;
}
.media-list li.media {
  margin-bottom: 40px;
}

img.avatar {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed;
  padding: 5px;
  margin-top: 37px;
}

.media > .pull-left {
  margin-right: 60px;
}

span.role {
  font-size: 25px;
  margin-left: 20px;
  color: #80143b;
}

/*************** Community-Profiles **************/
#profile .content h2 {
  font-size: 20px;
  padding: 10px;
  background: #da6137;
  color: #f4ede3;
  border: 1px dotted #b4502c;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.sidebar .data {
  margin-right: 5px;
}
.sidebar .community-map-small {
  margin-top: 20px;
}

/**************** Pioneer-Detail ******************/
img.avatar {
  margin-bottom: 20px;
}

ul.references {
  padding-left: 0px;
  margin-top: 40px;
}
ul.references li {
  list-style: none;
  padding: 20px;
  border: 2px dotted #da6137;
  border-radius: 10px;
  margin-bottom: 20px;
}
ul.references li > span {
  font-weight: bold;
  margin-bottom: 10px;
}
ul.references li.negative {
  background: #b4502c;
  color: #f4ede3;
}

/*************** Pioneer-Profiles **************/
a.email {
  margin-top: 20px;
}

/*************** Caravan-Profiles **************/
body#profile img.avatar {
  margin-bottom: 20px;
}

.comment.tooltip {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
.comment.tooltip .tooltip-inner {
  background-color: #da6137;
  color: #f4ede3;
  text-align: left;
  max-width: 100%;
  position: relative;
  padding: 20px;
}
.comment.tooltip .tooltip-arrow {
  border-right-color: #da6137;
  border-left-color: #da6137;
}
.comment.tooltip .tooltip-inner h3 {
  color: #f4ede3;
  margin-bottom: 8px;
}
.comment.tooltip a {
  color: #f4ede3;
}
.comment.tooltip a:hover {
  color: #b4502c;
}
.comment.tooltip .created {
  font-size: 11px;
  margin-top: -10px;
  margin-right: -10px;
  text-shadow: 1px -1px 0px #b4502c;
}

.posts > h2 a.btn {
  margin-top: -6px;
}

.post {
  margin-bottom: 60px;
  overflow: auto;
}
.post img {
  margin-bottom: 20px;
}
.post h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.post span.details {
  margin-bottom: 15px;
  display: block;
}

/*************** Dashboard **************/
#dashboard {
  padding-top: 40px;
}
#dashboard .panel {
  border: 1px dotted #da6137;
  background-color: #f4ede3;
}
#dashboard .panel.panel-default > .panel-heading {
  background-color: #da6137;
}
#dashboard .panel.panel-default > .panel-heading h3.panel-title {
  color: #f4ede3;
}
#dashboard .panel .table-striped > tbody > tr:nth-child(odd) > td,
#dashboard .panel .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #F9F1E7;
}

ul#postman_menu {
  list-style: none;
  padding-left: 0px;
}
ul#postman_menu li {
  display: inline;
  background: #da6137;
  border-radius: 5px;
  padding: 10px;
}
ul#postman_menu li a {
  color: #f4ede3;
}

span.mailcount {
  background: #da6137;
  border-radius: 10px;
  padding: 1px 5px;
}

/************* Footer ******************/
#footer {
  margin-top: 50px;
  background: url("../img/footer.png") no-repeat bottom center;
  height: 650px;
}
#footer h2 {
  border: none;
  background: none;
  color: #da6137;
}

.footer.navbar {
  position: fixed;
  bottom: 0px;
  background-color: rgba(218, 97, 55, 0.7);
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
  width: 100%;
}

#myCanvas {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
}

/******************** Responsive ***********************/
.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
}

.video-responsive iframe, .video-responsive object, .video-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  nav.header.navbar {
    position: relative;
    background-color: #da6137;
  }

  #carousel-startpage .carousel-caption {
    position: relative;
    display: block;
    padding-bottom: 20px;
    height: auto;
  }
  #carousel-startpage .carousel-caption h1, #carousel-startpage .carousel-caption h2, #carousel-startpage .carousel-caption p {
    position: relative;
  }
  #carousel-startpage .carousel-caption h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
  }
  #carousel-startpage .carousel-caption p {
    top: 0px;
    font-size: 16px;
  }

  .description {
    height: 138px;
  }
  .description h1 {
    font-size: 25px;
  }
  .description p {
    font-size: 17px;
  }

  .caption-wrapper {
    top: 20px;
  }
  .caption-wrapper .carousel-caption img.bus {
    margin-top: 25px;
  }
  .caption-wrapper .carousel-caption img.heart {
    margin-top: 25px;
  }
  .caption-wrapper .carousel-caption h1, .caption-wrapper .carousel-caption h2, .caption-wrapper .carousel-caption p {
    text-align: center;
  }
  .caption-wrapper .carousel-caption h1 {
    font-size: 35px;
  }
  .caption-wrapper .carousel-caption h2 {
    font-size: 25px;
  }

  .footer.navbar {
    position: relative;
    background-color: #da6137;
  }
}
