{% extends "base.html" %}
{% load i18n l10n thumbnail cms_tags static cosinnus_tags sekizai_tags ecobasa_community cms_placeholder_check %}

{% block page_title %}
{% page_attribute "page_title" %}
{% endblock %}

{% block body %}{% get_placeholder "head_image" as head_image %}{% if head_image %}slideshow{% endif %}{% endblock body %}


{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans "Server Error" %}</h1>
    <h2>{% trans "Error 500" %}</h2>
    <p>{% trans "Whatever that means.." %}</p>
    <p>{% trans "At least it means that something went wrong technically and our administrators have been notified! We will get to it as soon as we have time." %}</p>
    <p>{% trans "If you want to speed things up, or give us a thank you for our hard work, you can free our time with a donation!" %}</p>
    <div class="col-xs-12 text-center">
      <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe src="https://donorbox.org/embed/ecobasa-hosting-2018?show_content=true" height="685px" width="100%" style="max-width:100%; min-width:100%; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
    </div>
  </div>
</div>
{% endblock %}
