{% extends "base.html" %}
{% load cms_tags static sekizai_tags ecobasa_about %}

{% block base_content %}
  <div class="container about">
    <div class="row">
      <div class="col-xs-12">
        {% with '2014-06-24'|to_datetime|timeuntil as countdown %}
        <div id="bus-container"><span id="bus" data-toggle="tooltip" data-placement="top" title="Countdown until the tour starts: {{ countdown }}"></span></div>
        <div id="progress_bar_wrapper">
          <div class="progress progress-striped active" id="progress_bar" data-toggle="tooltip" data-placement="top" title="Countdown until the tour starts: {{ countdown }}">
            <div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">0% Complete</span>
            </div>
          </div>
        </div>
        {% endwith %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3 urban-info">
        <a href="http://communities-convergence.org" target="blank"><div class="urban cc_logo"></div></a>
        {% placeholder left %}
      </div>
      <div class="col-xs-6 col-md-6">
          {% placeholder center %}
      </div>
      <div class="col-xs-3 danube-info">
        <a href="http://communities-convergence.org" target="blank"><div class="danube cc_logo"></div></a>
        {% placeholder right %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {% placeholder bottom %}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {% include 'ecobasa/includes/organisers.html' %}
      </div>
    </div>
  </div>

{% endblock %}

{% block extrafooter %}
  {{ block.super }}
  <script type="text/javascript" src="{% static "js/bus.js" %}"></script>
  <script type="text/javascript">
//   var blog_posts = [
// {date: new Date(2014, 4, 25), title: 'Blog Post 2', url: 'http://www.ccc.de'},
// ];
</script>
{% endblock extrafooter %}
