{% extends "cosinnus/base.html" %}
{% load i18n thumbnail %}

{% block page_title %}{% trans "Buses" %}{% endblock %}

{% block content %}
    <h1>The available buses for the Community-Tour</h1>
    <a class="btn btn-primary pull-right" href="{% url 'cosinnus:user-add' %}">{% trans "Add bus" %}</a>
    
    {% if object_list %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Bus" %}</th>
                <th>{% trans "Owner" %}</th>
                <th>{% trans "Capacity" %}</th>
                <th>{% trans "Consumption" %}</th>
                <th>{% trans "Needs a driver" %}</th>
            </tr>
        </thead>
        {% for user in object_list %}
        <tr>
            <th>{% if user.cosinnus_profile.bus_image %}<img src="{% thumbnail user.cosinnus_profile.bus_image "200x0" crop=1 upscale=1 %}" />{% endif %}</th>
            <th><a href="{% url 'cosinnus:user-detail' username=user.username %}">{{ user.username }}</a></th>
            <th>{{ user.cosinnus_profile.bus_num_passengers }} people</th>
            <th>{{ user.cosinnus_profile.bus_consumption }}l/100km</th>
            <th>{% if user.cosinnus_profile.bus_has_driving_license = 'False' and user.cosinnus_profile.bus_others_can_drive = 'True' %}YES{% else %}NO{% endif %}</th>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        {% trans "There are no buses, add one now." %}
    {% endif %}
{% endblock %}
