{% extends "base.html" %}
{% load i18n l10n thumbnail cms_tags embed_video_tags static cosinnus_tags sekizai_tags ecobasa_community %}

{% block extrahead %}
{{ block.super }} 
<meta name="google-site-verification" content="Oh_mAUiNKH-NMMye-_gY4z_f4tNRjMPIE2mCYwdJqZg" />
<!-- social sharing metadata -->
<meta property="og:title" content="ecobasa.org - a gift-economy network for communities" />
<meta property="og:description" content="ecobasa is a directory of sustainable communities and ecovillages that connects them to individuals looking for alternative ways of living. The site offers the technology for communication, collaboration and the exchange of experiences, knowledge, skills, services and ressources" />
<meta property="og:image" content="{% static "img/ecobasa_logo.png" %}" />

<link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
{% endblock %}

{% block body %}start{% endblock body %}

{% block base_content %}

</div>
{% placeholder fullwidth_slider %}
<div class="description">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="/accounts/register/">{% placeholder text %}</a>
      </div>
    </div>
  </div>
</div>
<div class="container" id="video">
  <div class="row">
    <div class="col-xs-12 col-md-6 pull-right">
      <div class="video-responsive">
        <iframe width="560" height="315" src="//www.youtube.com/embed/QBX0HkupHOQ" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">{% placeholder video_text %}</div>
  </div>
</div>
<div class="container" id="blog_feature">
  <div class="row">
    <div class="col-xs-12">
      {% placeholder blog %}
    </div>
  </div>
  <div class="row">
    {% show_blog_posts %}
  </div>
  </div>
</div>
<div class="image">
  {% placeholder fullwith_image %}
  <div class="caption-wrapper">
    <div class="carousel-caption static">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <a href="{% url 'pages-details-by-slug' slug='community-tours' %}">
              <div class="col-xs-12 col-md-3">
                <img class="bus" src="{% static "img/start-bus.png" %}" alt="Community-Tours: a gift-economy experience">
              </div>
              <div class="col-xs-12 col-md-9">
                {% placeholder community-tours %}
              </div>
            </a>  
          </div>
        </div>
      </div>  
    </div>

    <div class="carousel-caption static">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <a data-toggle="modal" data-target="#donate-modal" href="">
              <div class="col-xs-12 col-md-3">
                <img class="heart" src="{% static "img/heart.png" %}" alt="Support us!">
              </div>
              <div class="col-xs-12 col-md-9">
                {% placeholder support %}
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
</div><!-- image -->
</div>
{% endblock %}

{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "leaflet/leaflet.js" %}"></script>
  <script src="{% static "js/ecobasa_map.js" %}"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
  <script type="text/javascript">
  {% get_community_locations as locations %}
  $(function() {
    EcobasaMap.init('community-map');
    {% for l in locations %}
    EcobasaMap.addMarker({{ l.lat|unlocalize }}, {{ l.lon|unlocalize }}, '<a href="{% url 'community-detail' group=l.slug %}">{{ l.name }}</a>');
    {% endfor %}
  });
  </script>
{% endblock extrafooter %}
