{% extends "base.html" %}
{% load i18n l10n thumbnail cms_tags static cosinnus_tags sekizai_tags ecobasa_community cms_placeholder_check %}

{% block page_title %}
{% page_attribute "page_title" %}
{% endblock %}

{% block body %}{% get_placeholder "head_image" as head_image %}{% if head_image %}slideshow{% endif %}{% endblock body %}


{% block content %}
<h1>{% trans "400 Bad Request" %}</h1>
<p>{% trans "Honey Pot Error. Request aborted. It seems you are not human. If you are, please contact us!" %}</p>
{% endblock %}