{% extends "cosinnus_etherpad/base.html" %}
{% load i18n static cosinnus_tags %}

{% block page_title %}
{% trans "Pads" %} {{ block.super }}
{% endblock page_title %}


{% block content_title %}
{{ group.name }}: {% trans "Pads" %}
{% endblock content_title %}


{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/cosinnus_etherpad.css' %}">
{% endblock %}


{% block content %}
<div class="nav">
{% if tags %}
  {% for tag in tags %}
    <a href="{% url 'cosinnus:etherpad:list-filtered' group=group.slug tag=tag.slug %}"><span class="label label-default">{{ tag.name }}</span></a>
  {% endfor %}
{% else %}
  {% trans "No tags available." %}
{% endif %}

<ul class="nav nav-pills pull-right">
{% if user.is_superuser or user|is_group_admin:group %}
  <li class="active"><a href="{% url 'cosinnus:etherpad:export' group=group.slug %}" class="btn"><span class="glyphicon glyphicon-export"></span> {% trans "Export" context "the verb" %}</a></li>
{% endif %}
</ul>
</div>
<br />

<div class="media-list">
  <div class="media">
  {% with node=tree tree_template="cosinnus_etherpad/tree.html" %}
    {% include tree_template %}
  {% endwith %}
  </div>
</div>
{% endblock content %}
