{% extends "cosinnus_note/base.html" %}
{% load i18n %}
{% load cosinnus_tags %}
{% load embed_video_tags %}
{% load thumbnail %}

{% block page_title %}{{ object.title }}{% endblock %}

{% block subnav_add_right %}
<a href="{% url 'cosinnus:note:update' group=group.slug slug=note.slug %}" class="btn">
  {% trans "Edit" %}
</a>
<a href="{% url 'cosinnus:note:delete' group=group.slug slug=note.slug %}" class="btn">
  {% trans "Delete" %}
</a>
<a href="{% url 'cosinnus:note:comment' group=group.slug slug=note.slug %}" class="btn">
  {% trans "Write comment" %}
</a>
{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{{ object.title }}</li>
{% endblock %}

{% block content %}
{% if object.image %}
<img src="{{ object.image|thumbnail_url:"note_large" }}" alt="{% trans "Header" %}" />
{% endif %}
<h3>{{ object.title }}</h3>
<div class="media">
  <a class="pull-left" href="#">
    {% if object.creator.cosinnus_profile.avatar %}
      <img class="media-object avatar avatar-medium" src="{{ object.creator.cosinnus_profile.avatar|thumbnail_url:"avatar_medium" }}">
    {% else %}
      <img class="media-object avatar avatar-medium" src="http://placehold.it/64x64">
    {% endif %}
  </a>
  <div class="media-body">
    <h5 class="media-heading muted pull-right">{{ object.created }}</h5>
    <h4 class="media-heading"><a href="{% url 'cosinnus:user-detail' username=object.creator.get_username %}">{{ object.creator.get_full_name|default:object.creator.username }}</a></h4>
    {{ object.text|linebreaksbr|safe }}
  </div>
</div>


<hr>

{% if user = object.creator %}
<div class="btn-group">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{% url 'cosinnus:note:update' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
        <li><a href="{% url 'cosinnus:note:delete' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
        <li class="divider"></li>
        <li><a href="{% url 'cosinnus:note:comment' group=group.slug slug=object.slug %}"><i class="icon-comment"></i> {% trans "Comment" %}</a></li>
    </ul>
</div>
{% endif %}

{% if object.video %}
<hr/>

<!-- see http://django-embed-video.readthedocs.org/en/latest/examples.html#template-examples -->
{% video object.video as my_video %}
    {{ my_video|embed:'medium' }}
{% endvideo %}

{% endif %}


{% if object.attached_objects.all %}
    {% cosinnus_render_attached_objects object %}
{% endif %}
<hr/>

{% for comment in object.comments.all %}
  <div class="media media-indent-small" id="comment-{{ comment.pk }}">
    <a class="pull-left" href="#">
      {% if comment.author.cosinnus_profile.avatar %}
        <img class="media-object avatar avatar-small" src="{{ comment.author.cosinnus_profile.avatar|thumbnail_url:"avatar_small" }}">
      {% else %}
        <img class="media-object avatar avatar-small" src="http://placehold.it/32x32">
      {% endif %}
    </a>
    <div class="media-body">
      <h5 class="media-heading muted pull-right">{{ comment.created_on }}</h5>
      <h4 class="media-heading">
        <a href="{% url 'cosinnus:user-detail' username=comment.author.get_username %}">{{ comment.author.get_full_name|default:comment.author.username }}</a>
      </h4>
      {{ comment.text }}
      <div class="btn-group pull-right">
        <a class="btn btn-mini" href="{% url 'cosinnus:note:comment-update' group=group.slug pk=comment.pk %}"><i class="icon-pencil"></i> {% trans "Edit" %}</a>
        <a class="btn btn-mini" href="{% url 'cosinnus:note:comment-delete' group=group.slug pk=comment.pk %}"><i class="icon-trash"></i> {% trans "Delete" %}</a>
      </div>
    </div>
  </div>
  {% if not forloop.last %}
    <hr class="media-indent-small">
  {% endif %}
{% endfor %}
{% endblock %}
