{% extends "cosinnus_note/base.html" %}
{% load i18n %}
{% load cosinnus_tags %}
{% load embed_video_tags %}
{% load thumbnail %}

{% block extrahead %}
<meta property="og:title" content="{{ object.title }} - ecobasa.blog" />
<meta property="og:type" content="article" />
<meta property="article:author" content="https://{{ request.get_host }}{% url 'pioneer-detail' username=object.creator.get_username %}" />
{% if object.video %}
{% video object.video is_secure=True as video %}
<meta property="og:image" content="{{ video.thumbnail }}" />
<meta property="og:video" content="{{ video.url }}" />
<meta property="og:video:secure_url" content="{{ video.url }}" />
{% endvideo %}
{% else %}
<meta property="og:image" content="https://{{ request.get_host }}{{ object.image|thumbnail_url:"note_medium" }}" />
<meta property="og:image:width" content="350" />
<meta property="og:image:height" content="250" />
{% endif %}
<meta property="og:description" content="{{ object.text|striptags|truncatewords:80 }}" />
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "7473edfc-d7e5-4411-95a2-60744b6afc04", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
{% endblock extrahead %}

{% block page_title %}{{ object.title }}{% endblock %}

{% block body %}note-detail{% endblock body %}

{% block subnav_add_right %}
<a href="{% url 'cosinnus:note:update' group=group.slug slug=note.slug %}" class="btn">
  {% trans "Edit" %}
</a>
<a href="{% url 'cosinnus:note:delete' group=group.slug slug=note.slug %}" class="btn">
  {% trans "Delete" %}
</a>
<a href="{% url 'cosinnus:note:comment' group=group.slug slug=note.slug %}" class="btn">
  {% trans "Write comment" %}
</a>
{{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active">{{ object.title }}</li>
{% endblock %}

{% block content %}
</div>
</div>
{% if object.video or object.image %}
  {% if object.video %}
    <!-- see http://django-embed-video.readthedocs.org/en/latest/examples.html#template-examples -->
    <div class="video-responsive">
      {% video object.video "medium" %}
    </div>
  {% else %}
  <section id="header" data-type="parallax" data-speed="1.8">
    <img src="{{ object.image|thumbnail_url:"blogpost" }}"/>
    <div class="carousel-inner" data-type="parallax" data-speed="22">
    <div class="carousel-caption">
    <h1>{{ object.title }}</h1>
    <div class="caption-back"></div>
    </div>
  </div>
  </section>
  {% endif %}
  {% else %}
  </br></br></br></br></br>
{% endif %}

<div class="gradient">
<section id="content" data-type="parallax" data-speed="18">
  <div class="container content blog">
    <div class="row tags">
      <div class="col-xs-12">
        {% if object.tags %}
          {% for tag in object.tags.all %}
            <a href="{% url 'blog_filtered' tag=tag.slug %}"><span class="label">{{ tag }}</span></a>
          {% endfor %}
        {% endif %}
        <a href="{% url "blog" %}"><span class="label">{% trans "Show all blog-posts" %}</span></a>

        {% if user = object.creator or user|is_group_member:object.group or user.is_superuser %}
          <div class="btn-group pull-right">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'cosinnus:note:update' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                  <li><a href="{% url 'cosinnus:note:delete' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'cosinnus:note:comment' group=group.slug slug=object.slug %}"><i class="icon-comment"></i> {% trans "Comment" %}</a></li>
              </ul>
          </div>
        {% endif %}

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 post">

      <h1>{{ object.title }}</h1>
      <span class="media-heading muted pull-right details">
        {% url 'pioneer-detail' username=object.creator.get_username as pioneer_url %}
        {% blocktrans with username=object.author.get_username pioneer_name=object.creator.get_full_name|default:object.creator.username created=object.created group_url=group_url group_slug=object.group.slug %}written by <a href="{{ pioneer_url }}">{{ pioneer_name }}</a> on {{ created }}{% endblocktrans %}
      </span><br />
      <p>{% autoescape off %}{{ object.text|urlize }}{% endautoescape %}</p>

      {% if object.attached_objects.all %}
      <hr>
          {% cosinnus_render_attached_objects object %}
      <hr/>
      {% endif %}

      <hr>
      <div class="sharing_buttons">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_email_large' displayText='Email'></span>
      </div>
      </hr>
      <div class="back">
        <a href="{% url "blog" %}"><span class="glyphicon glyphicon-arrow-left"></span> {% trans "Back to blog" %}</a>
      </div>

      <a class="btn btn-primary" href="{% url 'cosinnus:note:comment' group=group.slug slug=object.slug %}"><i class="icon-comment"></i> {% trans "Comment" %}</a>

      {% for comment in object.comments.all %}
        <div class="media media-indent-small" id="comment-{{ comment.pk }}">
          <a class="pull-left" href="{% url 'pioneer-detail' username=comment.author.get_username %}">
            {% if comment.author.cosinnus_profile.avatar %}
              <img class="media-object avatar avatar-small" src="{{ comment.author.cosinnus_profile.avatar|thumbnail_url:"avatar_small" }}">
            {% else %}
              <img class="media-object avatar avatar-small" src="https://placehold.it/32x32">
            {% endif %}
          </a>
          <div class="media-body">
            <h5 class="media-heading muted pull-right">{{ comment.created_on }}</h5>
            <h4 class="media-heading">
              <a href="{% url 'pioneer-detail' username=comment.author.get_username %}">{{ comment.author.get_full_name|default:comment.author.username }}</a>
            </h4>
            {{ comment.text }}
            <div class="btn-group btn-group-xs pull-right">
              <a class="btn btn-primary btn-small" href="{% url 'cosinnus:note:comment-update' group=group.slug pk=comment.pk %}"><span class="glyphicon glyphicon-pencil"></span>{% trans "Edit" %}</a>
              <a class="btn btn-primary btn-small" href="{% url 'cosinnus:note:comment-delete' group=group.slug pk=comment.pk %}"><span class="glyphicon glyphicon-trash"></span>{% trans "Delete" %}</a>
            </div>
          </div>
        </div>
        {% if not forloop.last %}
          <hr class="media-indent-small">
        {% endif %}
      {% endfor %}
      </div>
    </div>
  {% endblock %}