{% load i18n thumbnail %}
<h2>{% trans "Announcements" %}</h2>
{% for announcement in announcements %}
<div class="row">
	{% if announcement.image %}
	  <div class="col-xs-3">
	    <img src="{{ announcement.image|thumbnail_url:"note_medium" }}" alt="{% trans "Header" %}" />
	  </div>

	  <div class="col-xs-6">
	    <h3>{{ announcement.title }}</h3>
	    {{ announcement.text|linebreaksbr|urlize|safe }}
	  </div>
	  <div class="col-xs-3">
	  	{{ announcement.created }} by <a href="{% url 'pioneer-detail' username=announcement.creator.get_username %}">{{ announcement.creator.get_full_name|default:announcement.creator.username }}</a>
	  </div>
	{% else %}
	  <div class="col-xs-9">
	    <h3>{{ announcement.title }}</h3>
	    {{ announcement.text|linebreaksbr|urlize|safe }}
	  </div>
	  <div class="col-xs-3">
	  	{{ announcement.created }} by <a href="{% url 'pioneer-detail' username=announcement.creator.get_username %}">{{ announcement.creator.get_full_name|default:announcement.creator.username }}</a>
	  </div>
	{% endif %}
</div>
{% endfor %}
