{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags ecobasa_blog cms_tags %}

{% block page_title %}
  {% blocktrans %}ecobasa.blog{% endblocktrans %}
{% endblock %}

{% block body %}{% if head_image %}slideshow{% endif %}blog{% endblock body %}

{% block content %}
</div>
</div>
<div class="headimage">
{% placeholder head_image %}
</div>
<div class="row gradient">
  <div class="container content blog">
    <div class="row">
      <div class="col-xs-12">
        {% placeholder headlines %}
      </div>
    </div>
    <div class="row tags">
      <div class="col-xs-12">
        {% if tag %}
          <a href="{% url "blog" %}"><span class="label">{% trans "Show all blog-posts" %}</span></a>
        {% endif %}
        {% for post in object_list %}
          {% if post.tags %}
            {% for tag in post.tags.all %}
              <a href="{% url 'blog_filtered' tag=tag.slug %}"><span class="label">{{ tag }}</span></a>
            {% endfor %}
          {% else %}
            {% trans "No tags available." %}
          {% endif %}
        {% endfor %}
        </div>
      </div>
  <div class="row">
    <div class="col-xs-12">
      {% for post in object_list %}
        {% show_post post %}
      {% endfor %}
  </div>
</div>
</div>
{% endblock %}
