{% extends "cosinnus/base.html" %}
{% load i18n thumbnail cosinnus_tags %}

{% block page_title %}
  {% blocktrans with group_name=object.name %}Caravan “{{ group_name }}”{% endblocktrans %}
{% endblock %}

{% block body %}Blog{% endblock body %}

{% block content %}

<div class="row">
  <div class="posts col-xs-12">
  <h2>{% trans "Blog Posts" %}</h2>
  {% for post in posts %}
  <div class="post row">
    {% if post.image %}
        <div class="col-xs-12 col-sm-4">
          <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
            <img src="{{ post.image|thumbnail_url:"note_medium" }}" alt="{{ post.title }}" width="100%"/>
          </a>
        </div>
        <div class="col-xs-12 col-sm-8">
          {% if user.is_superuser or user|is_group_admin:object %}
            <div class="btn-group pull-right">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'cosinnus:note:update' group=group.slug slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                  <li><a href="{% url 'cosinnus:note:delete' group=group.slug slug=post.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'cosinnus:note:comment' group=group.slug slug=post.slug %}"><i class="icon-comment"></i> {% trans "Comment" %}</a></li>
              </ul>
            </div>
          {% endif %}
          <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
            <h3>{{ post.title }}</h3>
          </a>
          <span class="details">
            written by <a href="{% url 'pioneer-detail' username=post.creator.get_username %}">{{ post.creator.get_full_name|default:post.creator.username }}</a> on {{ post.created }}
          </span>
          {{ post.text|linebreaksbr|safe|truncatewords:80 }}</br>
          <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more</a>
        </div>
      </a>
    {% else %}
        <div class="col-xs-12">
          {% if user.is_superuser or user|is_group_admin:object %}
            <div class="btn-group pull-right">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'cosinnus:note:update' group=group.slug slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                  <li><a href="{% url 'cosinnus:note:delete' group=group.slug slug=post.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                  <li class="divider"></li>
                  <li><a href="{% url 'cosinnus:note:comment' group=group.slug slug=post.slug %}"><i class="icon-comment"></i> {% trans "Comment" %}</a></li>
              </ul>
            </div>
          {% endif %}
          <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
            <h3>{{ post.title }}</h3>
          </a>
          <span class="details">
            written by <a href="{% url 'pioneer-detail' username=post.creator.get_username %}">{{ post.creator.get_full_name|default:post.creator.username }}</a> on {{ post.created }}
          </span>
          {{ post.text|linebreaksbr|safe|truncatewords:80 }}</br>
          <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more</a>
        </div>
    </a>
    {% endif %}
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}