{% load i18n embed_video_tags thumbnail %}
<div class="row post">
  {% if post.video or post.image %}
  <div class="col-md-4 col-xs-12">
    <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
      {% if post.video %}
      <div class="video-responsive">
        {% video post.video "tiny" is_secure=True %}
      </div>
      {% else %}
      <img src="{{ post.image|thumbnail_url:"note_medium" }}" alt="{{ post.title }}" width="100%" />
      {% endif %}
    </a>
  </div>
  {% endif %}
  <div class="{% if post.video or post.image %}col-md-8{% else %}col-xs-12{% endif %}">
  {% if post.tags %}
    <span class="tags">
    {% for tag in post.tags.all %}
       <a href="{% url 'blog_filtered' tag=tag.slug %}"><span class="label">{{ tag }}</span></a>
    {% endfor %}
    </span>
  {% endif %}
    <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
      <h2>{{ post.title }}</h2>
    </a>
    <span class="details">
      written by <a href="{% url 'pioneer-detail' username=post.creator.get_username %}">{{ post.creator.get_full_name|default:post.creator.username }}</a> on {{ post.created }} in <a href="{% url 'caravan-detail' group=post.group.slug %}">{{ post.group.slug }}</a>
    </span>
     <div class="article">{{ post.text|striptags|linebreaks|safe|truncatewords_html:80 }}</div>
     <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more <span class="glyphicon glyphicon-arrow-right"></span></a>
  </div>
</div>
