{% load i18n embed_video_tags thumbnail %}
<div class="row post">
  {% if post.video or post.image %}
  <div class="col-md-4 col-xs-12">
    <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
      {% if post.video %}
      <div class="video-responsive">
        {% video post.video "tiny" %}
      </div>
      {% else %}
      <img src="{{ post.image|thumbnail_url:"note_medium" }}" alt="{{ post.title }}" width="100%" />
      {% endif %}
    </a>
  </div>
  {% endif %}
  <div class="{% if post.video or post.image %}col-md-8{% else %}col-xs-12{% endif %}">
    <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
      <h2>{{ post.title }}</h2>
    </a>
     <p>{{ post.text|urlize|linebreaksbr|safe|truncatewords:80 }}... <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more <span class="glyphicon glyphicon-arrow-right"></span></a><p>
  </div>
</div>
