{% extends "base.html" %}
{% load i18n static bootstrap3 ecobasa_caravan %}

{% block page_title %}
{% if object %}
	{% blocktrans with name=object.name %}Edit caravan “{{ name }}”{% endblocktrans %}
{% else %}
	{% trans "Create Caravan" %}
{% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
<link href="{% static "css/vendor/select2-bootstrap.css" %}" rel="stylesheet"/>
<link href="{% static "css/vendor/select2.css" %}" rel="stylesheet"/>
{% endblock extrahead %}


{% block content %}
<h1>
	{% if object %}
	{% blocktrans with name=object.name %}Edit caravan “{{ name }}”{% endblocktrans %}
	{% else %}
	{% trans "Create Caravan" %}
	{% endif %}
</h1>

<form action="." method="post" enctype="multipart/form-data" novalidate="novalidate">
  {% csrf_token %}
  {# need visibility from media_tags in form #}
  <input type="hidden" name="media_tag-visibility" value="1" />

  <div class="row">
    <div class="col-xs-3">{% bootstrap_label form.forms.obj.name.label %}</div>
    <div class="col-xs-9">{% bootstrap_field form.forms.obj.name show_label=False %}</div>
  </div>

  <div class="row">
    <div class="col-xs-3">{% bootstrap_label form.forms.obj.slug.label %}</div>
    <div class="col-xs-9">{% bootstrap_field form.forms.obj.slug show_label=False %}</div>
  </div>

  <div class="row">
    <div class="col-xs-3">{% bootstrap_label form.forms.obj.description.label %}</div>
    <div class="col-xs-9">{% bootstrap_field form.forms.obj.description show_label=False %}</div>
  </div>

  <div class="row">
    <div class="col-xs-3">{% bootstrap_label form.forms.obj.public.label %}</div>
    <div class="col-xs-9">{% bootstrap_field form.forms.obj.public show_label=False %}</div>
  </div>

  <div class="row">
    <div class="col-xs-3">{% bootstrap_label form.forms.obj.offers.label %}</div>
    <div class="col-xs-9">{% bootstrap_field form.forms.obj.offers show_label=False %}</div>
  </div>

  <div class="row">
    <div class="col-xs-3">{% bootstrap_label form.forms.obj.image.label %}</div>
    <div class="col-xs-9">{% bootstrap_field form.forms.obj.image show_label=False %}</div>
  </div>

  <div class="row">
    <div class="col-xs-12">
    {% trans "Cancel" as reset_label %}
    {% url 'caravan-detail' group=object.slug as reset_link %}
    {% buttons submit=submit_label reset=reset_label reset_link=reset_link %}
    <a class="btn btn-danger" href="{% url 'caravan-delete' group=object.slug %}"><i class="fa fa-trash"></i>{% trans "Delete" %}</a>
    {% endbuttons %}
    </div>
  </div>
</form>
{% endblock content %}

{% block extrafooter %}
{{ block.super }}
{{ form.media.js }}
{% get_offers as offers %}
<script src="{% static 'js/vendor/select2/select2.min.js' %}"></script>
<script type="text/javascript">
$(function() {
  var offers = {{ offers|safe }};
	$("#id_offers").select2({
		tags: offers, tokenSeparators: [","]
	});
});
</script>
{% endblock extrafooter %}
