{% extends "cosinnus/base.html" %}
{% load i18n static bootstrap3 cosinnus_tags thumbnail %}

{% block page_title %}
  {% blocktrans with name=community.name %}List references for {{ name }}{% endblocktrans %}
{% endblock %}

{% block body %}references{% endblock body %}

{% block content %}
<h1><a href="{% url 'community-detail' community.slug %}">{{ community.name }}'s</a> {% trans "References" %}</h1>
{% trans "Back to Profile of" %}  <a href="{% url 'community-detail' community.slug %}">{{ community.name }}</a>

    <div class="row">
      <div class="col-md-12">
    {% for reference in object_list %}
        <div class="media {% if reference.recommend %}{% else %}negative{% endif %}">
          <a class="pull-left" href="{% url 'pioneer-detail' reference.giver.username %}">
          {% if reference.giver.cosinnus_profile.avatar %}
              <img class="avatar media-object" src="{{ reference.giver.cosinnus_profile.avatar|thumbnail_url:"avatar_medium" }}" />
            {% else %}
              <img class="avatar media-object" src="{% static "img/avatar.png" %}" width="64px">
            {% endif %}
            <center>{{ reference.giver.username }}</center>
          </a>
          <div class="media-body">
            <span class="details pull-right">{% trans "written on" %} {{ reference.date }}{% if user.is_superuser or  reference.giver == user %} <a class="btn btn-primary" href="{% url 'community-reference-edit' community.slug reference.pk %}">{% trans "Edit" %}</a>{% endif %}</span>
            <h4 class="media-heading">{% if reference.recommend %}Positive{% else %}Negative!{% endif %}</h4>
            <p>{{ reference.text }}</p>
            <div class="row">
              {% if reference.products.all %}
              <div class="col-xs-4">
                <h5>{% trans "Products" %}</h5>
                  <ul class="list-inline">
                    {% for tag_name in reference.products.all %}
                      <li><span class="label label-{{ tag_data.class }}">{{ tag_name }}</span></li>
                    {% endfor %}
                  </ul>
              </div>
              {% endif %}
              {% if reference.services.all %}
              <div class="col-xs-4">
                <h5>{% trans "Services" %}</h5>
                  <ul class="list-inline">
                    {% for tag_name in reference.services.all %}
                      <li><span class="label label-{{ tag_data.class }}">{{ tag_name }}</span></li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% if reference.skills.all %}
              <div class="col-xs-4">
                <h5>{% trans "Skills" %}</h5>
                <ul class="list-inline">
                  {% for tag_name in reference.skills.all %}
                    <li><span class="label label-{{ tag_data.class }}">{{ tag_name }}</span></li>
                  {% endfor %}
                </ul>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  </div>
{% endblock content %}
