{% extends "cosinnus/base.html" %}
{% load i18n l10n static embed_video_tags cosinnus_tags ecobasa_tags thumbnail %}

{% block extrahead %}
{{ block.super }} 
<link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
{% endblock %}

{% block page_title %}
  {% blocktrans with name=object.name %}“{{ name }}” Community{% endblocktrans %}
{% endblock %}

{% block content_title %}
  {% blocktrans with name=object.name %}{{ name }}{% endblocktrans %}
{% endblock content_title %}

{% block body %}profile{% endblock body %}

{% block content %}

{% if profile.image %}
<div class="row">
  <div class="col-xs-12">
  <img src="{{ profile.image|thumbnail_url:"note_large" }}" alt="{{ object.name }}">
  <!-- 
  <div class="row">
    <div id="carousel-community" class="carousel slide gradient" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-community" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-community" data-slide-to="1"></li>
        <li data-target="#carousel-community" data-slide-to="2"></li>
        <li data-target="#carousel-community" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
          <img src="{{ profile.image|thumbnail_url:"note_large" }}" alt="{{ object.name }}">
          </div>
        </div>
      </div>

      <a class="left carousel-control" href="#carousel-community" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-community" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
    -->
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-xs-12">
    <h1 class="community_name">{{ object.name }}</h1>
      {% if user.is_superuser or user|is_group_admin:object %}
      <div class="btn-group pull-right">
        <a href="{% url 'community-edit' group=object.slug %}" class="btn btn-primary">{% trans "Edit" %}</a>
        <a href="{% url 'cosinnus:group-export' group=object.slug %}" class="btn btn-primary">{% trans "Export" context "the verb" %}</a>
        {% if user.is_superuser %}
          <a href="{% url 'cosinnus:group-delete' group=object.slug %}" class="btn btn-primary">{% trans "Delete" %}</a>
        {% endif %}
        <div class="btn-group">
          <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{% trans "Users" %} <span class="caret"></span></a>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="{% url 'cosinnus:group-user-add-generic' group=object.slug %}">{% trans "Add user" %}</a></li>
          </ul>
        </div>
        
      </div>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        {% if profile.basic_description or user|is_group_admin:object %}
          <p>{{ profile.basic_description|urlize|linebreaksbr|safe }}</p>
        {% elif user|is_group_admin:object %}
          <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_materials" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a description" %}</a>
        {% endif %}
        {% if profile.basic_brings_together %}
          <h3>{% trans "What brings this community together" %}</h3>
          <p>{{ profile.basic_brings_together|urlize|linebreaksbr|safe }}</p>
        {% endif %}
        {% if profile.visitors_accomodation %}
          <h3>{% trans "Accomodation for guests" %}</h3>
          <p>{{ profile.visitors_accommodation|urlize|linebreaksbr|safe }}</p>
        {% endif %}
      </div>
    </div>
    {% if profile.offers_skills or references.tag_counts.skills.items or profile.offers_services or profile.offers_creations or user|is_group_admin:object %}
      <div class="row">
        <h2>{% trans "Offers" %}</h2>
        <div class="col-xs-6">
          {% if profile.offers_skills or references.tag_counts.skills.items %}
            <h3>{% trans "What can you learn here" %}</h3>
            <ul class="list-inline">
              {% for offer_skill in profile.offers_skills.all %}
              <li><span class="label label-{{ offer_skill }}">{{ offer_skill }}</span></li>
              {% endfor %}
            </ul>
            <ul class="list-inline">
              {% for tag_name, tag_data in references.tag_counts.skills.items %}
                  <li><span class="label label-{{ tag_data.class }}">{{ tag_name }} <span class="badge">{{ tag_data.count }}</span></span></li>
              {% endfor %}
              {% if can_add_reference and not user|is_group_admin:object %}
                <li><a class="btn btn-primary" href="{% url 'community-reference-add' object.slug %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a skill you learned here with a review" %}</a></li>
              {% elif user|is_group_admin:object %}
                <li><a href="{% url 'community-edit' group=object.slug %}#s2id_id_offers_skills" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a skill" %}</a></li>
              {% endif %}
            </ul>        
          {% endif %}
          {% if profile.offers_services %}
          <h3>Services</h3>
          <ul class="list-inline">
            {% for offer_service in profile.offers_services.all %}
            <li><span class="label label-{{ offer_skill }}">{{ offer_service }}</span></li>
            {% endfor %}
          </ul>
          <ul class="list-inline">
            {% for tag_name, tag_data in references.tag_counts.services.items %}
                <li><span class="label label-{{ tag_data.class }}">{{ tag_name }} <span class="badge">{{ tag_data.count }}</span></span></li>
            {% endfor %}
            {% if can_add_reference and not user|is_group_admin:object %}
                <li><a class="btn btn-primary" href="{% url 'community-reference-add' object.slug %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a service they offer with a review" %}</a></li>
            {% elif user|is_group_admin:object %}
              <li><a class="btn btn-primary" href="{% url 'community-edit' group=object.slug %}#s2id_id_offers_services"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a service" %}</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
        {% if profile.offers_creations %}
          <div class="col-xs-6">
            <h3>{% trans "Products and Creations" %}</h3>
            <ul class="list-inline">
              {% for offer_creation in profile.offers_creations.all %}
              <li><span class="label label-{{ offer_skill }}">{{ offer_creation }}</span></li>
              {% endfor %}
            </ul>
            <ul class="list-inline">
              {% for tag_name, tag_data in references.tag_counts.products.items %}
                  <li><span class="label label-{{ tag_data.class }}">{{ tag_name }} <span class="badge">{{ tag_data.count }}</span></span></li>
              {% endfor %}
              {% if can_add_reference and not user|is_group_admin:object %}
                <li><a class="btn btn-primary" href="{% url 'community-reference-add' object.slug %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a product you recieved with a review" %}</a></li>
              {% elif user|is_group_admin:object %}
                <li><a class="btn btn-primary" href="{% url 'community-edit' group=object.slug %}#s2id_id_offers_creations"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a product" %}</a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
        {% if profile.offers_materials %}
          <h3>Materials</h3>
          <ul class="list-inline">
            {% for offer_material in profile.offers_materials.all %}
            <li><span class="label label-{{ offer_material }}">{{ offer_material }}</span></li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if profile.offers_tools %}
          <h3>Tools</h3>
          <ul class="list-inline">
            {% for offer_tool in profile.offers_tools.all %}
            <li><span class="label label-{{ offer_tool }}">{{ offer_tool }}</span></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% if profile.offers_workshop_spaces %}
        <div class="row">
          <div class="col-xs-12">
            <h3>{% trans "Workshop and factoring spaces" %}</h3>
            {{ profile.offers_workshop_spaces|urlize|linebreaksbr|safe }}
            <h3>{% trans "Seminars" %}</h3>
            <p>{{ profile.offers_learning_seminars|urlize|linebreaksbr|safe }}</p>
          </div>
        </div>
      {% endif %}
    {% endif %}
  {% if profile.wishlist_projects or profile.wishlist_skills or profile.wishlist_materials or profile.wishlist_tools or profile.wishlist_seeds or profile.wishlist_special_needs or user.is_superuser or user|is_group_admin:object %}
    <div class="row">
      <h2>{% trans "Needs" %}</h2>
      <div class="col-xs-12">
        {% if profile.wishlist_projects %}
          <h3>Projects/Construction Sites</h3>
          <p>{{ profile.wishlist_projects|urlize|linebreaksbr|safe }}</p>
        {% else %}
          {% if user|is_group_admin:object %}
            <h3>Projects/Construction Sites</h3>
            {% if profile.wishlist_projects and user|is_group_admin:object %}
              <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_projects" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add more projects" %}</a>
            {% elif user|is_group_admin:object %}
              <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_projects" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a project you need help for to your profile" %}</a>
            {% endif %}    
          {% endif %}
        {% endif %}
        {% if profile.wishlist_skill or user|is_group_admin:object%}
          <h3>{% trans "Experts/People with the following skills" %}</h3>
          <ul>
            {% for wishlist_skill in profile.wishlist_skills.all %}
            <li>{{ wishlist_skill }}</li>
            {% endfor %}
          </ul>
          {% if profile.wishlist_skill and user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#s2id_id_wishlist_skills" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for more skills" %}</a>
          {% elif user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#s2id_id_wishlist_skills" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Tell people with special skills to come" %}</a>
          {% endif %}
        {% endif %}
        {% if profile.whishlist_materials or profile.whishlist_materials_info or user|is_group_admin:object %}
          <h3>{% trans "Materials" %}</h3>
        {% endif %}
        {% if profile.whishlist_materials or user|is_group_admin:object %}
          <ul class="list-inline">
            {% for whishlist_material in profile.whishlist_materials.all %}
            <li><span class="label label-{{ whish_material }}">{{ whishlist_material }}</span></li>
            {% endfor %}
          </ul>
          {% if profile.wishlist_materials_info and user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_materials" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for more materials" %}</a>
          {% elif user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_materials" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for materials" %}</a>
          {% endif %}
        {% endif %}
        {% if profile.wishlist_materials_info or user|is_group_admin:object %}
          <h4>{% trans "Aditional info about Materials" %}</h4>
          <p>{{ profile.wishlist_materials_info|urlize|linebreaksbr|safe }}</p>
          {% if user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_materials" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a description" %}</a>
          {% endif %}
        {% endif %}
        {% if profile.wishlist_tools or profile.wishlist_tools_info or user|is_group_admin:object %}
          <h3>{% trans "Tools" %}</h3>
        {% endif %}
          {% if profile.wishlist_tools or user|is_group_admin:object %}
          <ul class="list-inline">
            {% for whishlist_tool in profile.whishlist_tools.all %}
            <li><span class="label label-{{ whish_tool }}">{{ whishlist_tool }}</span></li>
            {% endfor %}
          </ul>
          {% if profile.wishlist_tools and user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_tools" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for more tools" %}</a>
          {% elif user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_materials" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for tools" %}</a>
          {% endif %}
          <h4>Additional info about tools</h4>
          <p>{{ profile.wishlist_tools_info|urlize|linebreaksbr|safe }}</p>
          {% if user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_tools" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Add a description" %}</a>
        {% endif %}
        {% endif %}
        {% if profile.wishlist_seeds or user|is_group_admin:object %}
          <h3>{% trans "Seeds" %}</h3>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Sort</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for seed in profile.wishlist_seeds.all %}
                <tr>
                  <td>{{ seed.kind }}</td>
                  <td>{{ seed.num }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_seeds-0-id" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for seeds" %}</a>
          {% endif %}
        {% endif %}
        {% if profile.wishlist_special_needs or user|is_group_admin:object %}
          <h3>{% trans "Special Needs" %}</h3>
          <p>{{ profile.wishlist_special_needs|urlize|linebreaksbr|safe }}</p>
          {% if profile.wishlist_special_needs and user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_special_needs" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for more special needs" %}</a>
          {% elif user|is_group_admin:object %}
            <a href="{% url 'community-edit' group=object.slug %}#id_wishlist_special_needs" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> {% trans "Ask for special needs" %}</a>
          {% endif %}
        {% endif %}
      {% endif %}
      </div><!-- Needs -->
    </div><!-- Row -->

  </div>
  <div class="col-xs-4 sidebar">
    <div class="visitor-info">
      <h3>Visitor Info</h3>
      <ul>
        <li><span class="data">Maximum Guests:</span><span class="guests">{{ profile.visitors_num }}</span></li>
        <li><span class="data">Country:</span><span class="country">{{ profile.get_contact_country_display }}</span></li>
        <li><span class="data">Size:</span><span class="size">{{ profile.basic_inhabitants }} people</span></li>
        <li><span class="data">Children:</span><span class="children">{{ profile.basic_inhabitants_underage }}</span></li>
        <li><span class="data">Membership status:</span><span class="members">{{ profile.get_basic_membership_status_display }}</span></li>
      </ul>
      <a href="{% url 'postman_write' recipients=object.name %}"><button class="email btn btn-primary btn-small" data-toggle="tooltip" data-placement="top" title="If you want to visit and volunteer at this communtiy"><span class="glyphicon glyphicon-envelope"></span> {% trans "Contact this community" %}</button></a>
    </div>
    <div id="community-map" class="community-map-small"></div>
    {% if user.is_authenticated and profile.contact_show %}
    <div class="contact">
      <h3>Contact info</h3>
      {{ profile.contact_street }}</br>
      {{ profile.contact_zipcode }}
      {{ profile.contact_city }}</br>
      {{ profile.get_contact_country_display }}</br></br>
      Telephone: {{ profile.contact_telephone }}      
    </div>
    {% endif %}
    {% if profile.website %}
    <h3>Website</h3>
    <a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a>
    {% endif %}
    {% if profile.video %}
    <div class="row">
      <div class="col-md-12">
        <h3>{% trans "Video" %}</h3>
        <div class="video-responsive">
          {% video profile.video "small" %}
        </div>
      </div>
    </div>
    {% endif %}

     <div class="row">
      <div class="col-md-12">
        <h3>{% trans "Gift-economy Ambassadors" %}</h3>
        <ul class="media-list">
          {% for amb in object.ambassadors %}
            <li class="media">
              <a class="pull-left" href="{% url 'pioneer-detail' username=amb.username %}">
                {% if amb.cosinnus_profile.avatar %}
                  <img class="avatar" src="{{ amb.cosinnus_profile.avatar|thumbnail_url:"avatar_medium" }}">
                {% else %}
                  <img class="avatar" src="http://placehold.it/30x30">
                {% endif %}
              </a>
              <div class="media-body">
                <a class="pull-left" href="{% url 'pioneer-detail' username=amb.username %}">{{ amb.get_full_name|default:amb.username }}</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% if object.pending_members.pending and user.is_superuser or object.pending_members and user|is_group_admin:object %}
      <div class="row">
        <div class="col-md-12">
          <h3>{% trans "Pending users" %}</h3>
          <ul class="media-list">
            {% for pending in object.pending_members %}
              <li class="media">
                <a class="pull-left" href="{% url 'pioneer-detail' username=pending.username %}">
                  {% if pending.cosinnus_profile.avatar %}
                    <img class="avatar" src="{{ cosinnus_profile.avatar|thumbnail_url:"avatar_medium" }}">
                  {% else %}
                    <img class="avatar" src="http://placehold.it/30x30">
                  {% endif %}
                </a>
                <div class="media-body">
                  <a class="pull-left" href="{% url 'pioneer-detail' username=pending.username %}">{{ pending.get_full_name|default:pending.username }}</a>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-12">
        <h2>{% trans "References" %}</h2>
        <ul class="references">{% for reference in references.references %}
          <li{% if reference.rating %}{% else %} class="negative"{% endif %}>
            <span>{% if reference.rating %}Positive{% else %}Negative!{% endif %}</span></br>
            <a href="{% url 'pioneer-detail' reference.giver.username %}">
              {% if reference.giver.cosinnus_profile.avatar %}
                  <img class="avatar" src="{% thumbnail reference.giver.cosinnus_profile.avatar.url "200x0" crop=1 upscale=1 %}" />
                {% else %}
                  <img class="avatar" src="http://placehold.it/30x30">
                {% endif %}
                {{ reference.giver.username }}</a> {{ reference.date }}{% if user.is_superuser or  reference.giver == user %} <a href="{% url 'community-reference-edit' object.slug reference.pk %}">{% trans "Edit" %}</a>{% endif %}
            <p>{{ reference.text }}</p>
          </li>
        {% endfor %}</ul>
        {% if references.references %}
          <a href="{% url 'community-reference-list' object.slug %}">{% trans "More" %}</a>
        {% else %}
          <p>There are no references for this community yet</p>
        {% endif %}
        {% if can_add_reference %}<a class="btn btn-primary" href="{% url 'community-reference-add' object.slug %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</a>{% endif %}
        <a class="btn btn-primary pull-right" href="{% url 'community-reference-list' object.slug %}">{% trans "More" %}</a>
      </div>
    </div>
  </div><!-- sidebar -->
</div><!-- row -->
      {% if posts %}
      <div class="row">
        <div class="posts col-xs-12">
        <h2>{% trans "Blog Posts" %}</h2>
        {% if user.is_superuser or user|is_group_admin:object %}
          <a class="btn btn-primary btn-larg" href="{% url 'cosinnus:note:add' group=object.slug %}"><span class="glyphicon glyphicon-plus"></span> {% trans "Write a Blogpost" %}</a>
          </br></br>
        {% endif %}
        {% for post in posts %}
        <div class="post row">
          {% if post.video %}
          <!-- see http://django-embed-video.readthedocs.org/en/latest/examples.html#template-examples -->
          <div class="col-xs-12 col-sm-4">
            <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
              <div class="video-responsive">
                {% video post.video "tiny" %}
            </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-8">
            <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
              <h3>{{ post.title }}</h3>
            </a>
            <span class="details">
              written by <a href="{% url 'pioneer-detail' username=post.creator.get_username %}">{{ post.creator.get_full_name|default:post.creator.username }}</a> on {{ post.created }} in <a href="{% url 'caravan-detail' group=post.group.slug %}">{{ post.group.slug }}</a>
            </span>
            {{ post.text|urlize|linebreaksbr|safe|truncatewords:80 }}</br>
            <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more</a>
          </div>
          {% elif post.image %}
              <div class="col-xs-12 col-sm-4">
                <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
                  <img src="{{ post.image|thumbnail_url:"note_medium" }}" alt="{{ post.title }}" width="100%"/>
                </a>
              </div>
              <div class="col-xs-12 col-sm-8">
                {% if user.is_superuser or user|is_group_admin:object %}
                  <div class="btn-group pull-right">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'cosinnus:note:update' group=group.slug slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                        <li><a href="{% url 'cosinnus:note:delete' group=group.slug slug=post.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'cosinnus:note:comment' group=group.slug slug=post.slug %}"><i class="icon-comment"></i> {% trans "Comment" %}</a></li>
                    </ul>
                  </div>
                {% endif %}
                <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
                  <h3>{{ post.title }}</h3>
                </a>
                <span class="details">
                  written by <a href="{% url 'pioneer-detail' username=post.creator.get_username %}">{{ post.creator.get_full_name|default:post.creator.username }}</a> on {{ post.created }}
                </span>
                {{ post.text|linebreaksbr|safe|truncatewords:80 }}</br>
                <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more</a>
              </div>
            </a>
          {% else %}
              <div class="col-xs-12">
                {% if user.is_superuser or user|is_group_admin:object %}
                  <div class="btn-group pull-right">
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Actions" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'cosinnus:note:update' group=object.slug slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                        <li><a href="{% url 'cosinnus:note:delete' group=object.slug slug=post.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'cosinnus:note:comment' group=object.slug slug=post.slug %}"><i class="icon-comment"></i> {% trans "Comment" %}</a></li>
                    </ul>
                  </div>
                {% endif %}
                <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
                  <h3>{{ post.title }}</h3>
                </a>
                <span class="details">
                  written by <a href="{% url 'pioneer-detail' username=post.creator.get_username %}">{{ post.creator.get_full_name|default:post.creator.username }}</a> on {{ post.created }}
                </span>
                {% autoescape off %}{{ post.text|urlize|linebreaks|truncatewords:80 }}{% endautoescape %}</br>
                <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more</a>
              </div>
          </a>
          {% endif %}
        </div>
        {% endfor %}
        </div>
      </div>
    {% endif %}
</div>
</div>



</div>
{% endblock %}

{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "leaflet/leaflet.js" %}"></script>
  <script src="{% static "js/ecobasa_map.js" %}"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
  <script type="text/javascript">

  $(function() {
    EcobasaMap.init('community-map');
    {% with lat=profile.contact_location_lat|unlocalize lon=profile.contact_location_lon|unlocalize %}
    var location = new L.LatLng({{ lat }}, {{ lon }});
    EcobasaMap.addMarker({{ lat }}, {{ lon }}, "{{ object.name }}");
    EcobasaMap.map.setView(location, 10);
    {% endwith %}
  });
  </script>
{% endblock extrafooter %}
