{% extends "cosinnus/base.html" %}
{% load i18n static cosinnus_tags thumbnail %}

{% block extrahead %}
{{ block.super }} 
<link rel="stylesheet" href="{% static "leaflet/leaflet.css" %}" />
{% endblock %}

{% block page_title %}
  {% blocktrans with name=object.name %}Community “{{ name }}”{% endblocktrans %}
{% endblock %}

{% block content_title %}
  {% blocktrans with name=object.name %}{{ name }}{% endblocktrans %}
{% endblock content_title %}

{% block body %}profile{% endblock body %}

{% block content %}
<div class="row">
  <h1>{{ object.name }}</h1>
    {% if user.is_superuser or user|is_group_admin:object %}
    <div class="btn-group pull-right">
      <a href="{% url 'community-edit' group=object.slug %}" class="btn btn-primary">{% trans "Edit" %}</a>
      <a href="{% url 'cosinnus:group-export' group=object.slug %}" class="btn btn-primary">{% trans "Export" context "the verb" %}</a>
      {% if user.is_superuser %}
        <a href="{% url 'cosinnus:group-delete' group=object.slug %}" class="btn btn-primary">{% trans "Delete" %}</a>
      {% endif %}
      <div class="btn-group">
        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">{% trans "Users" %} <span class="caret"></span></a>
        <ul class="dropdown-menu pull-right" role="menu">
          <li><a href="{% url 'cosinnus:group-user-add-generic' group=object.slug %}">{% trans "Add user" %}</a></li>
        </ul>
      </div>
      
    </div>
  {% endif %}
</div>
<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        <h3>What brings this community together</h3>
        <p>{{ profile.basic_brings_together }}</p>
        <h3>What can you learn here</h3>
        <ul>
          {% for offer_skill in profile.offers_skills.all %}
          <li>{{ offer_skill }}</li>
          {% endfor %}
        </ul>
        <h3>Accomodation for guests</h3>
        <p>{{ profile.visitors_accomodation }}</p>
      </div>
    </div>
    <div class="row">
      <h2>Offers</h2>
      <div class="col-xs-6">
        <h3>Services</h3>
        <ul>
          {% for offer_service in profile.offers_services.all %}
          <li>{{ offer_service }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-6">
        <h3>Products and Creations</h3>
        <ul>
          {% for offer_creation in profile.offers_creations.all %}
          <li>{{ offer_creation }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>Workshop and factoring spaces</h3>
        {{ profile.offers_workshop_spaces }}
        <h3>Seminars</h3>
        <p>{{ profile.offers_learning_seminars }}</p>
      </div>
    </div>
    <div class="row">
      <h2>Needs</h2>
      <div class="col-xs-12">
        <h3>Materials</h3>
        <p>{{ profile.wishlist_materials }}</p>
        <h3>Tools</h3>
        <p>{{ profile.wishlist_tools }}</p>
        <h3>Seeds</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sort</th>
                <th>Quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ profile.wishlist_seeds_kind }}</td>
                <td>{{ profile.wishlist_seeds_num }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h3>Special Needs</h3>
        <p>{{ profile.wishlist_special_needs }}</p>
      </div>
      
    </div>
  </div>
  <div class="col-xs-4 sidebar">
    <div class="visitor-info">
      <h3>Visitor Info</h3>
      <ul>
        <li><span class="data">Maximum Guests:</span><span class="guests">{{ profile.visitors_num }}</span></li>
        <li><span class="data">Country:</span><span class="country">{{ profile.get_contact_country_display }}</span></li>
        <li><span class="data">Size:</span><span class="size">{{ profile.basic_inhabitants }} people</span></li>
        <li><span class="data">Children:</span><span class="children">{{ profile.basic_inhabitants_underage }}</span></li>
        <li><span class="data">Membership status:</span><span class="members">{{ profile.get_basic_membership_status_display }}</span></li>
      </ul>
      <button class="btn btn-primary btn-small">Connect to this community</button>
    </div>
    <div id="community-map" class="community-map-small"></div>
    {% if user.is_authenticated %}
    <div class="contact">
      <h3>Contact info</h3>
      {{ profile.contact_street }}</br>
      {{ profile.contact_zipcode }}
      {{ profile.contact_city }}</br>
      {{ profile.get_contact_country_display }}</br></br>
      Telephone: {{ profile.contact_telephone }}
    </div>
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <h3>{% trans "Gift-economy Ambassadors" %}</h3>
        <ul class="media-list">
          {% for member in members %}
            <li class="media">
              <a class="pull-left" href="{% url 'cosinnus:user-detail' username=member.get_username %}">
                {% if member.cosinnus_profile.avatar %}
                  <img class="avatar" src="{% thumbnail member.cosinnus_profile.avatar.url "60x60" crop=1 upscale=1 %}">
                {% else %}
                  <img class="avatar" src="http://placehold.it/30x30">
                {% endif %}
              </a>
              <div class="media-body">
                <a class="pull-left" href="{% url 'cosinnus:user-detail' username=member.get_username %}">{{ member.get_full_name|default:member.get_username }}</a>
                <div class="btn-group btn-group-xs">
                  <a href="{% url 'cosinnus:group-user-edit' group=object.slug username=member.get_username %}" class="btn btn-default">{% trans "Change" %}</a>
                  <a href="{% url 'cosinnus:group-user-delete' group=object.slug username=member.get_username %}" class="btn btn-default">{% trans "Delete" %}</a>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% if user.is_superuser or user|is_group_admin:object %}
    <div class="row">
      <div class="col-md-12">
        <h3>{% trans "Pending users" %}</h3>
        <ul class="media-list">
          {% for pending in pendings %}
            <li class="media">
              <a class="pull-left" href="{% url 'cosinnus:user-detail' username=pending.get_username %}">
                {% if pending.cosinnus_profile.avatar %}
                  <img class="avatar" src="{% thumbnail cosinnus_profile.avatar.url "60x60" crop=1 upscale=1 %}">
                {% else %}
                  <img class="avatar" src="http://placehold.it/30x30">
                {% endif %}
              </a>
              <div class="media-body">
                <a class="pull-left" href="{% url 'cosinnus:user-detail' username=pending.get_username %}">{{ pending.get_full_name|default:pending.get_username }}</a>
                <div class="btn-group btn-group-xs">
                  <a href="{% url 'cosinnus:group-user-add' group=object.slug username=pending.get_username %}" class="btn btn-default">{% trans "Add" %}</a>
                  <a href="{% url 'cosinnus:group-user-delete' group=object.slug username=pending.get_username %}" class="btn btn-default">{% trans "Delete" %}</a>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
</div>
</div>
{% endblock %}

{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "leaflet/leaflet.js" %}"></script>
  <script src="{% static "js/ecobasa_map.js" %}"></script>
  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
  <script type="text/javascript">

  $(function() {
    EcobasaMap.init('community-map');
    var location = new L.LatLng({{ profile.contact_lat }}, {{ profile.contact_lon }});
    EcobasaMap.addMarker({{ profile.contact_lat }}, {{ profile.contact_lon }}, "{{ object.name }}");
    EcobasaMap.map.setView(location, 10);
  });
  </script>
{% endblock extrafooter %}
