{% extends "base.html" %}
{% load i18n thumbnail static %}

{% block page_title %}{% trans "Gift-Pioneers" %}{% endblock %}


{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.12/af-2.1.2/r-2.1.0/sc-1.4.2/datatables.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.12/features/searchHighlight/dataTables.searchHighlight.css"/>
{% endblock extrahead %}

{% block body %}pioneers{% endblock body %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <h1>{% trans "Gift-economy pioneers making the world a better place" %}</h1>
    {% if user.is_superuser %}
      <a class="btn btn-primary pull-right" href="{% url 'cosinnus:user-add' %}">{% trans "Add user" %}</a>
    {% endif %}
    
    {% if pioneers %}
      <table id="pioneer-list-table" class="table table-bordered table-striped table-hover table-curved dt-responsive" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>{% trans "Pioneer" %}</th>
                  <th class="sorter-false">{% trans "About" %}</th>
                  <th class="sorter-false">{% trans "Skills" %}</th>
                  <th>{% trans "Ambassadors" %}</th>
                  <th>{% trans "Bus" %}</th>
              </tr>
          </thead>
          <tbody>
          {% for pioneer in pioneers %}
          {% with pioneer.cosinnus_profile as profile %}
          <tr>
            <td>
                <a href="{% url 'pioneer-detail' username=pioneer.username %}">
                {% if profile.avatar %}
                  <img class="avatar media-object" src="{{ profile.avatar|thumbnail_url:"avatar_medium" }}" alt="{{ pioneer.get_full_name|default:pioneer.username }}" data-toggle="tooltip" data-placement="top" title="{{ pioneer.get_full_name|default:pioneer.username }}">
                {% else %}
                  <img class="avatar media-object" src="{% static "img/avatar.png" %}" alt="{{ pioneer.get_full_name|default:pioneer.username }}" data-toggle="tooltip" data-placement="top" title="{{ pioneer.get_full_name|default:pioneer.username }}">
                {% endif %}
                <div class="name">{{ pioneer.get_full_name|default:pioneer.username }}</div>
                </a>
            </td>
            <td>
                {{ profile.about|linebreaks|truncatewords_html:80 }}
            </td>
            <td>
              {% if profile.skills.all %}
              <ul>
                {% for tag in profile.skills.all|slice:":8" %}
                  <li><span class="label label-{{ skill }}">{{ tag|truncatewords_html:4 }}</span></li>
                {% endfor %}
              </ul>
              {% endif %}
            </td>
            <td>
              {% if pioneer.cosinnus_groups %}
                <ul>
                {% for group in pioneer.cosinnus_groups.all %}
                  {% if group.profile %}
                    {% url 'community-detail' group=group.slug as profile_url %}
                  {% elif group.caravan %}
                    {% url 'caravan-detail' group=group.slug as profile_url %}
                  {% else %}
                    {% url 'cosinnus:group-detail' group=group.slug as profile_url %}
                  {% endif %}
                  {% if group.name != "Community-Tours" and group.name != "Gift-Ambassadors" %}
                  <li><a id="group" href="{{ profile_url }}">
                    {% if group.profile %}
                      <span class="glyphicon glyphicon-home"></span>
                    {% elif group.caravan %}
                      <span class="glyphicon glyphicon-road"></span>
                    {% else %}
                      <span class="glyphicon glyphicon-globe"></span>
                    {% endif %}
                    {{ group.name }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                </ul>
              {% endif %}
            </td>
            <td>
              {% if profile.has_bus %}
                {% if profile.bus_image %}
                    <img src="{{ profile.bus_image|thumbnail_url:"bus_medium" }}" />
                {% else %}
                    {% trans "Yes" %}
                {% endif %}
              {% else %}
                  {% trans "No" %}
              {% endif %}
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
      </table>
    {% else %}
        {% trans "There are no pioneers registered yet, " %}<a href="{% url 'register' %}">{% trans "join the tours now!" %}</a>
    {% endif %}
  </div>
</div>
{% endblock %}


{% block extrafooter %}
  {{ block.super }}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/v/bs/dt-1.10.12/af-2.1.2/r-2.1.0/sc-1.4.2/datatables.min.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.12/features/searchHighlight/dataTables.searchHighlight.min.js"></script>
  <script type="text/javascript" src="//bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
  <script type="text/javascript">
  $(function() {
    $('#pioneer-list-table').DataTable( {
      responsive: {
        details: {
          display: $.fn.dataTable.Responsive.display.modal( {
            header: function ( row ) {
                var data = row.data();
                return '<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>'+'Details for '+data[0];
            }
          } ),
          renderer: $.fn.dataTable.Responsive.renderer.listHidden( {
              tableClass: 'table'
          } )
        }
      },
      "searchHighlight": true,
      "pageLength": 10,
      "aoColumnDefs": [
        { 'bSortable': false, 'aTargets': [ 1, 2 ] }
      ]
    } );
  });
  </script>
{% endblock extrafooter %}
