{% extends "cosinnus/base.html" %}
{% load static i18n bootstrap3 ecobasa_tags %}


{% block page_title %}{{ page_title }}{% endblock %}


{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
<link href="{% static "css/vendor/select2-bootstrap.css" %}" rel="stylesheet"/>
<link href="{% static "css/vendor/select2.css" %}" rel="stylesheet"/>
{% endblock extrahead %}


{% block body %}references{% endblock body %}


{% block content %}
<h1>{{ page_h1 }}</h1>
<p>{% trans "Add a reference for" %}: <a href="{% url 'pioneer-detail' pioneer.username %}">{{ pioneer.username }}</a></p>

<form method="POST" action="">
  {% csrf_token %}
  {% bootstrap_field form.giver %}
  {% bootstrap_field form.receiver_pioneer %}
  {% bootstrap_field form.receiver_community %}
  {% bootstrap_label "Would you recommend this pioneer to others?" %}
  {% bootstrap_field form.recommend show_label=False %}
  {% bootstrap_label "How was your experience with this pioneer?" %}
  {% bootstrap_field form.text show_label=False show_help=False %}
  <span class="help-block">{% trans "How was the volunteers reliability, communication, social skills, efficiency?" %}</span>
  {% bootstrap_label "Did you receive any products?" %}
  {% bootstrap_field form.products show_label=False %}
  {% bootstrap_label "Did you receive any services?" %}
  {% bootstrap_field form.services show_label=False %}
  {% bootstrap_label "Could you learn or deepen some skills from the pioneer?" %}
  {% bootstrap_field form.skills show_label=False %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% trans "Safe" %}
    </button>
   {% endbuttons %}
</form>
{% endblock content %}


{% block extrafooter %}
{{ block.super }}
{{ form.media.js }}
<script src="{% static 'js/vendor/select2/select2.min.js' %}"></script>
<script src="{% static 'js/ecobasa_profile.js' %}"></script>
<script type="text/javascript">
{% get_reference_products as products %}
{% get_reference_services as services %}
{% get_reference_skills as skills %}
var tags = {
  services: {{ services|safe }},
  skills: {{ skills|safe }},
  products: {{ products|safe }}
};

$(function() {
  EcobasaProfile.initReference();
});
</script>
{% endblock extrafooter %}
