{% extends "cosinnus/base.html" %}
{% load i18n thumbnail static %}

{% block page_title %}{% trans "Users" %}{% endblock %}


{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static "css/vendor/jquery.tablesorter.theme.bootstrap.css" %}" />
{% endblock extrahead %}


{% block content %}
    <h1>{% trans "The gift-economy pioneers, taking part in the first Community-Tour" %}</h1>
    {% if user.is_superuser %}
    <a class="btn btn-primary pull-right" href="{% url 'cosinnus:user-add' %}">{% trans "Add user" %}</a>
    {% endif %}
    
    {% if object_list %}
    <table id="pioneer-list-table" class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Pioneer" %}</th>
                <th class="sorter-false">{% trans "Skills" %}</th>
                <th class="sorter-false">{% trans "Bus" %}</th>
                <th>{% trans "Country" %}</th>
            </tr>
        </thead>
        {% for pioneer in object_list %}
        {% with pioneer.cosinnus_profile as profile %}
        <tr>
            <th>
                <a href="{% url 'pioneer-detail' username=pioneer.username %}">
                {% if profile.avatar %}
                  <img class="avatar media-object" src="{% thumbnail profile.avatar "70x0" crop=1 upscale=1 %} "60x60" crop=1 upscale=1 %}">
                {% else %}
                  <img class="avatar media-object" src="http://placehold.it/30x30">
                {% endif %}
                {{ pioneer.username }}
                </a>
            </th>
            <th>{% for tag in profile.skills.all %}{{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</th>
            <th>
                {% if profile.has_bus %}
                {% if profile.bus_image %}
                    <img src="{% thumbnail profile.bus_image "200x0" crop=1 upscale=1 %}" />
                {% endif %}
                {% endif %}
            </th>
            <th>
                {{ profile.get_country_display }}
            </th>
        </tr>
        {% endwith %}
        {% endfor %}
    </table>
    {% else %}
        {% trans "There are no pioneers registered yet, " %}<a href="{% url 'register' %}">{% trans "join the tours now!" %}</a>
    {% endif %}
{% endblock %}


{% block extrafooter %}
  {{ block.super }}
  <script src="{% static "js/vendor/jquery.tablesorter.min.js" %}"></script>
  <script src="{% static "js/vendor/jquery.tablesorter.widgets.min.js" %}"></script>
  <script type="text/javascript">
  $(function() {
    $.extend($.tablesorter.themes.bootstrap, {
      header     : '',
      sortNone   : 'bootstrap-icon-unsorted',
      sortAsc    : 'glyphicon glyphicon-chevron-up',
      sortDesc   : 'glyphicon glyphicon-chevron-down',
    });
    $('#pioneer-list-table').tablesorter({
      theme : 'bootstrap',
      headerTemplate : '{content} {icon}',
      widgets : [ 'uitheme' ],
    });
  });
  </script>
{% endblock extrafooter %}
