{% extends "cosinnus/base.html" %}
{% load i18n static thumbnail bootstrap3 %}

{% block page_title %}
  {% blocktrans with name=pioneer.username %}{{ name }}'s references{% endblocktrans %}
{% endblock %}

{% block body %}references{% endblock body %}

{% block content %}
<h1><a href="{% url 'pioneer-detail' pioneer.username %}">{{ pioneer.username }}'s</a> {% trans "References" %}</h1>
{% trans "Back to Profile of" %}  <a href="{% url 'pioneer-detail' pioneer.username %}">{{ pioneer.username }}</a>

<div class="row">
  <div class="col-md-12 references">
    {% for reference in object_list %}
      <div class="media {% if reference.recommend %}{% else %}negative{% endif %}">
        <a class="pull-left" href="{% url 'pioneer-detail' reference.giver.username %}">
        {% if reference.giver.cosinnus_profile.avatar %}
            <img class="avatar media-object" src="{{ reference.giver.cosinnus_profile.avatar|thumbnail_url:"avatar_medium" }}" />
          {% else %}
            <img class="avatar media-object" src="{% static "img/avatar.png" %}" width="64px">
          {% endif %}
          <center>{{ reference.giver.username }}</center>
        </a>
        <div class="media-body">
          <span class="details pull-right">{% trans "written on" %} {{ reference.date }}{% if user.is_superuser or  reference.giver == user %} <a class="btn btn-primary" href="{% url 'pioneer-reference-edit' pioneer.username reference.pk %}">{% trans "Edit" %}</a>{% endif %}</span>
          <h4 class="media-heading">{% if reference.recommend %}Positive{% else %}Negative!{% endif %}</h4>
          <p>{{ reference.text }}</p>
          <div class="row">
            {% if reference.products.all %}
            <div class="col-xs-4">
              <h5>{% trans "Products" %}</h5>
                <ul class="list-inline">
                  {% for tag_name in reference.products.all %}
                    <li><span class="label label-{% if reference.recommend %}{{ tag_data.class }}{% else %}danger{% endif %}">{{ tag_name }}</span></li>
                  {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if reference.services.all %}
            <div class="col-xs-4">
              <h5>{% trans "Services" %}</h5>
                <ul class="list-inline">
                  {% for tag_name in reference.services.all %}
                    <li><span class="label label-{% if reference.recommend %}{{ tag_data.class }}{% else %}danger{% endif %}">{{ tag_name }}</span></li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if reference.skills.all %}
            <div class="col-xs-4">
              <h5>{% trans "Skills" %}</h5>
              <ul class="list-inline">
                {% for tag_name in reference.skills.all %}
                  <li><span class="label label-{% if reference.recommend %}{{ tag_data.class }}{% else %}danger{% endif %}">{{ tag_name }}</span></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
