{% load i18n embed_video_tags thumbnail %}
{% for post in posts %}
<div class="col-xs-12 col-md-4 post">
  {% if post.video or post.image %}
    <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
      {% if post.video %}
      <div class="video-responsive">
        {% video post.video "tiny" %}
      </div>
      {% else %}
      <img src="{{ post.image|thumbnail_url:"note_medium" }}" alt="{{ post.title }}"/>
      {% endif %}
    </a>
  {% endif %}
    <a href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">
      <h2>{{ post.title }}</h2>
    </a>
    <div class="article">{{ post.text|striptags|urlize|safe|truncatewords:40 }}</div>
    <a class="more" href="{% url 'cosinnus:note:note' group=post.group.slug slug=post.slug %}">read more <span class="glyphicon glyphicon-arrow-right"></span></a>
</div>
{% endfor %}