{% extends "cosinnus/base.html" %}
{% load i18n cosinnus_tags ecobasa_tour_blog cms_tags %}

{% block page_title %}
  {% blocktrans %}Community-Tours Blog{% endblocktrans %}
{% endblock %}

{% block body %}blog{% endblock body %}

{% block content %}
</div>
</div>
<div class="headimage">
{% placeholder tour_head_image %}
</div>
<div class="gradient">
  <div class="container content blog">
    {% placeholder tour_headlines %}
    {% show_posts tags=request.query.tags %}
  </div>
</div>
{% endblock %}
