{% extends "cosinnus_event/base.html" %}
{% load i18n cosinnus_tags ecobasa_event %}

{% block page_title %}
{% trans "Events" %} {{ block.super }}
{% endblock page_title %}


{% block content_title %}
{{ group.name }}: {% trans "Events" %}
{% endblock content_title %}


{% block content %}
<div class="cosinnus-event">
  {% if tags %}
    {% for tag in tags %}
      <a href="{% url 'cosinnus:event:list-filtered' group=group.slug tag=tag.slug %}"><span class="label label-default">{{ tag.name }}</span></a>
    {% endfor %}
  {% else %}
    {% trans "No tags available." %}
  {% endif %}

  <ul class="nav nav-pills pull-right">
  {% if user.is_superuser or user|is_group_member:group %}
    <li class="active"><a href="{% url 'cosinnus:event:entry-add' group=group.slug %}" class="btn"><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</a></li>
  <li class="active"><a href="{% url 'cosinnus:event:export' group=group.slug %}" class="btn"><span class="glyphicon glyphicon-export"></span> {% trans "Export" context "the verb" %}</a></li>
  {% endif %}
  </ul>
  <div class="clearfix"></div>
  <br />

  <div class="big-calendar"></div>
  <script type="application/javascript">
    var eventColors = ['#da6137', '#b4502c'];
    var eventColorsLen = eventColors.length;
    var cosinnus_calendarEvents = [
      {% for event in object_list %}
          {% if event.from_date %}
            {
                title: '{{ event.title }}',
                start: "{{ event.from_date|date:"c"}}",
                {% if event.to_date %}
                end: "{{ event.to_date|date:"c"}}",
                allDay: {{ event|all_day }},
                {% else %}
                allDay: true,
                {% endif %}
                url: '{% url "cosinnus:event:entry-detail" group=group.slug slug=event.slug %}',
                color: eventColors[{{ forloop.counter0 }} % eventColorsLen],
            },
            {% endif %}
        {% endfor %}
      ];
  </script>

{% comment %}
{% if not future_events and not past_events %}
  {% trans "There are no events." %}
{% else %}
  <div class="panel-group" id="accordion">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseFuture">
            {% trans "Future events" %}
          </a>
        </h4>
      </div>
      <div id="collapseFuture" class="panel-collapse collapse{% if future_events %} in{% endif %}">
        <div class="panel-body">
        {% if future_events %}
          <table class="table table-striped">
              <thead>
                  <td>{% trans "Image" %}</td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_title }}">{% trans "Title" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_from_date }}">{% trans "Start" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_to_date }}">{% trans "End" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_city }}">{% trans "City" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_state }}">{% trans "State" %}</a></td>
                  <td>{% trans "Tags" %}</td>
                  <td>{% trans "Actions" %}</td>
              </thead>
              {% for object in future_events %}
                {% include "cosinnus_event/event_list_object.html" %}
              {% endfor %}
          </table>

        {% else %}
          {% trans "There are no future events." %}
        {% endif %}

        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapsePast">
            {% trans "Past events" %}
          </a>
        </h4>
      </div>
      <div id="collapsePast" class="panel-collapse collapse {% if not future_events %} in{% endif %}">
        <div class="panel-body">
        {% if past_events%}
          <table class="table table-striped">
              <thead>
                  <td>{% trans "Image" %}</td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_title }}">{% trans "Title" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_from_date }}">{% trans "Start" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_to_date }}">{% trans "End" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_city }}">{% trans "City" %}</a></td>
                  <td><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_state }}">{% trans "State" %}</a></td>
                  <td>{% trans "Tags" %}</td>
                  <td>{% trans "Actions" %}</td>
              </thead>
              {% for object in past_events %}
                {% include "cosinnus_event/event_list_object.html" %}
              {% endfor %}
          </table>
        {% else %}
          {% trans "There are no past events." %}
        {% endif %}
        </div>
      </div>
    </div>

  </div> <!-- end panel group -->
{% endif %}
{% endcomment %}
</div>
{% endblock content %}
