{% extends "cosinnus_event/base.html" %}
{% load i18n cosinnus_tags ecobasa_event %}

{% block page_title %}
{% trans "Events" %} {{ block.super }}
{% endblock page_title %}


{% block content_title %}
{{ group.name }}: {% trans "Events" %}
{% endblock content_title %}


{% block content %}
<div class="cosinnus-event">
  <div class="row">
    <div class="col-xs-12">
    {% if tags %}
      {% for tag in tags %}
        <a href="{% url 'cosinnus:event:list-filtered' group=group.slug tag=tag.slug %}"><span class="label label-default">{{ tag.name }}</span></a>
      {% endfor %}
    {% else %}
      {% trans "No tags available." %}
    {% endif %}

    <ul class="nav nav-pills pull-right">
    {% if user.is_superuser or user|is_group_member:group %}
      <li class="active"><a href="{% url 'cosinnus:event:entry-add' group=group.slug %}" class="btn"><span class="glyphicon glyphicon-plus"></span> {% trans "Add" %}</a></li>
    <li class="active"><a href="{% url 'cosinnus:event:export' group=group.slug %}" class="btn"><span class="glyphicon glyphicon-export"></span> {% trans "Export" context "the verb" %}</a></li>
    {% endif %}
    </ul>
    <div class="clearfix"></div>
    <br />
  </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-xs-12">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseFuture">
                  {% trans "Upcoming events" %} {% if future_events %}<span class="glyphicon glyphicon-chevron-down pull-right"></span>{% else %}<span class="glyphicon glyphicon-chevron-right pull-right"></span>{% endif %}
                </a>
              </h4>
            </div>
            <div id="collapseFuture" class="panel-collapse collapse{% if future_events %} in{% endif %}">
              <div class="panel-body">
                {% if future_events %}
                <table class="table table-striped">
                    <thead>
                        <th>{% trans "Image" %}</th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_title }}">{% trans "Title" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_from_date }}">{% trans "Start" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_to_date }}">{% trans "End" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_city }}">{% trans "City" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_state }}">{% trans "State" %}</a></th>
                        <th>{% trans "Tags" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </thead>
                    {% for object in future_events %}
                      {% include "cosinnus_event/event_list_object.html" %}
                    {% endfor %}
                </table>
                {% else %}
                <span>{% trans "No events to show" %}</span>
                {% endif %}
              </div>
            </div>
          </div>
          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapsePast">
                  {% trans "Past events" %} {% if past_events %}<span class="glyphicon glyphicon-chevron-down pull-right"></span>{% else %}<span class="glyphicon glyphicon-chevron-right pull-right"></span>{% endif %}
                </a>
              </h4>
            </div>
            <div id="collapsePast" class="panel-collapse collapse {% if not future_events %} in{% endif %}">
              <div class="panel-body">
                {% if past_events %}
                <table class="table table-striped">
                    <thead>
                        <th>{% trans "Image" %}</th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_title }}">{% trans "Title" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_from_date }}">{% trans "Start" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_to_date }}">{% trans "End" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_city }}">{% trans "City" %}</a></th>
                        <th><a href="{{ request.path }}{{ sort_helper.get_sort_query_by_state }}">{% trans "State" %}</a></th>
                        <th>{% trans "Tags" %}</th>
                        <th>{% trans "Actions" %}</th>
                    </thead>
                    {% for object in past_events %}
                      {% include "cosinnus_event/event_list_object.html" %}
                    {% endfor %}
                </table>
                {% else %}
                <span>{% trans "No events to show" %}</span>
              </div>
            </div>
          </div>
          {% endif %}

        </div> <!-- end panel group -->
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="big-calendar"></div>
    <script type="application/javascript">
      var eventColors = ['#da6137', '#b4502c'];
      var eventColorsLen = eventColors.length;
      var cosinnus_calendarEvents = [
        {% for event in object_list %}
            {% if event.from_date %}
              {
                  title: '{{ event.title }}',
                  start: "{{ event.from_date|date:"c"}}",
                  {% if event.to_date %}
                  end: "{{ event.to_date|date:"c"}}",
                  allDay: {{ event|all_day }},
                  {% else %}
                  allDay: true,
                  {% endif %}
                  url: '{% url "cosinnus:event:entry-detail" group=group.slug slug=event.slug %}',
                  color: eventColors[{{ forloop.counter0 }} % eventColorsLen],
              },
              {% endif %}
          {% endfor %}
        ];
    </script>
  </div>
</div>
</div>
{% endblock content %}
