{% load i18n thumbnail cosinnus_tags %}
<tr>
    <td>{% if object.image %}<img src="{% thumbnail object.image "70x0" crop=1 upscale=1 %}" />{% endif %}</td>
    <td><a href="{% url 'cosinnus:event:entry-detail' group=group.slug slug=object.slug %}">{{ object.title }}</a></td>
    <td>{{ object.from_date|date:"SHORT_DATE_FORMAT" }}</td>
    <td>{% if object.single_day %}{{ object.to_date|date:"h:i" }}{% else %}{{ object.to_date|date:"SHORT_DATE_FORMAT" }}{% endif %}</td>
    <td>{{ object.city|default_if_none:"" }}</td>
    <td>
        <span class="label
        {% if object.state == 1 %}
            label-success
        {% elif object.state == 2 %}
            label-info
        {% elif object.state == 3 %}
        {% endif %}
        ">{{ object.get_state_display }}</span>
    </td>
    <td>
        {% for tag in object.tags.all %}
            <a href="{% url 'cosinnus:event:list-filtered' group=group.slug tag=tag.slug %}"><span class="label label-default">{{ tag }}</span></a>
        {% empty %}
        -
        {% endfor %}
    </td>
    <td>
        <div class="btn-group">
            <a class="btn btn-primary btn-mini" href="{% url 'cosinnus:event:entry-detail' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-eye-open"></span> {% trans "Show" %}</a>
            {% if user.is_superuser or user|is_group_member:group %}
            <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'cosinnus:event:entry-edit' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a></li>
                <li><a href="{% url 'cosinnus:event:entry-delete' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'cosinnus:event:entry-vote' group=group.slug slug=object.slug %}"><span class="glyphicon glyphicon-user"></span> {% trans "Vote" context "the verb" %}</a></li>
            </ul>
            {% endif %}
        </div>
    </td>
</tr>
