{% extends "cosinnus_event/base.html" %}
{% load i18n bootstrap3 cosinnus_tags %}
{% load static from staticfiles %}


{% block page_title %}
{% if form_view == "add" %}
  {% trans "Add event" %}
{% elif form_view == "edit" %}
  {% trans "Edit" %} {{ event.title }}
{% endif %}
{{ block.super }}
{% endblock page_title %}


{% block extrahead %}
{{ block.super }}
{{ form.media.css }}
{% for formset in inlines %}{{ formset.media.css }}{% endfor %}
{% endblock extrahead %}


{% block content_title %}
{{ group.name }}:
{% if form_view == "add" %}
  {% trans "Add event" %}
{% elif form_view == "edit" %}
  {% trans "Edit" %} {{ event.title }}
{% endif %}
{% endblock content_title %}



{% block content %}
<div class="cosinnus-event">
  <form action="." method="post" class="form-inline" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form_view == 'add' or form_view == 'edit' %}
  <div class="row">
    <div class="col-md-6">
      {% bootstrap_field form.forms.obj.title %}
      {% bootstrap_field form.forms.obj.note %}
      {% bootstrap_field form.forms.obj.tags %}
      {% bootstrap_field form.forms.obj.public %}
      {% bootstrap_field form.forms.obj.image %}
      {% bootstrap_field form.forms.obj.url %}

      {% bootstrap_form form.forms.media_tag %}

      {% for formset in inlines %}
        <fieldset id="formset{{ formset.prefix }}">
          {{ formset.management_form }}
          <label class="control-label" for="">{% trans "Suggestions" %}</label>
          {% for inlineform in formset.forms %}
          <div class="control-group{% if inlineform.errors %} error{% endif %}">
              <div class="controls form-inline">
                  {% with inlineform.from_date as field %}
                      <label{% if field.auto_id %} for="{{ field.auto_id }}"{% endif %}>{{ field.label }}</label>:
                      {{ field }}
                  {% endwith %}
                  {% with inlineform.to_date as field %}
                      <label{% if field.auto_id %} for="{{ field.auto_id }}"{% endif %}>{{ field.label }}</label>:
                      {{ field }}
                  {% endwith %}
                  {% with inlineform.DELETE as field %}
                      <label{% if field.auto_id %} for="{{ field.auto_id }}"{% endif %}>{{ field.label }}</label>:
                      {{ field }}
                  {% endwith %}
                  {{ inlineform.id.as_widget }}
                  {{ inlineform.event.as_widget }}
              </div>
          </div>
          {% endfor %}
        </fieldset>
      {% endfor %}
    </div>
    <div class="col-md-5 pull-right">
    {% bootstrap_field form.forms.obj.location %}
    {% bootstrap_field form.forms.obj.street %}
    {% bootstrap_field form.forms.obj.zipcode %}
    {% bootstrap_field form.forms.obj.city %}
    </div>
  </div>

  <div class="control-group">
      <div class="controls">
          {% if not object %}
              <button type="submit" class="btn btn-primary">{% trans "Add" %}</button>
          {% else %}
              <button type="submit" class="btn btn-primary">{% trans "Save" context "sinn" %}</button>
          {% endif %}
          <a href="{% url 'cosinnus:event:list' group=group.slug %}" class="btn">{% trans "Cancel" %}</a>
      </div>
  </div>
  {% endif %}

  </form>
</div>
{% endblock content %}


{% block extrafooter %}
{{ block.super }}
{{ form.media.js }}
{% for formset in inlines %}{{ formset.media.js }}{% endfor %}
<script type="text/javascript" src="{% static "js/vendor/bootstrap3-typeahead.min.js" %}"></script>
{% cosinnus_autocomplete '#id_tags' tags %}

{# for suggestions #}
<script type="text/javascript" src="{% static "js/vendor/bootstrap.inline.js" %}"></script>
<script type="text/javascript">
{% for formset in inlines %}
   $(function() {
       $('#formset{{ formset.prefix }} div.control-group').formset({
            addCssClass: 'add-row btn',
            addText: '<span class="glyphicon glyphicon-plus"></span> {% trans "Add suggestion" %}',
            deleteCssClass: 'delete-row',
            deleteText: '<span class="glyphicon glyphicon-remove"></span>',
            insertAddInSelector: true,
            insertDeleteAfter: 'div.controls.form-inline',
            prefix: '{{ formset.prefix }}',
       });
   });
{% endfor %}

{% if not event %}
  $("#id_title").focus();
{% endif %}
});
</script>
{% endblock extrafooter %}
